<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_allergy_edit">

    <div id="rx_pp_aed">
      <form name="surgeryForm" class="rx_pp_aef" novalidate>
        <div class="rx-pp-aei-name">
          <div class="rx-flabel">
            <label for="name">Surgery Name</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="name" id="name" ng-model="surgery.surgery_name" placeholder="Surgery Name" class="rx-input-text rx-wf" required />
          </div>
          <div class="rx-ferrors">
            <p ng-show="!surgeryForm.name.$pristine && surgeryForm.name.$error.required">Surgery Name not provided.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-implants">
          <div class="rx-flabel">
            <label for="implants">Implants</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="implants" id="implants" ng-model="surgery.implants" placeholder="Surgery Implants" class="rx-input-text rx-wf" required/>
          </div>
          <div class="rx-ferrors">
            <p ng-show="!surgeryForm.implants.$pristine && surgeryForm.implants.$error.required">Surgery implants not specified.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-doc-name">
          <div class="rx-flabel">
          <label for="doc_name">Doctor Name</label></div>

          <div class="rx-finput">
          <input type="text" name="doc_name" id="doc_name" date="surgery.doc_name" ng-model="surgery.doc_name" placeholder="Doctor Name" class="rx-input-text rx-wf" required /></div>
          <div class="rx-ferrors">
            <p ng-show="!surgeryForm.doc_name.$pristine && surgeryForm.doc_name.$error.required">Doctor Name not provided.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-date">
          <div class="rx-flabel">
          <label for="date">Surgery Date</label></div>

          <div class="rx-finput">
          <input datepicker type="text" name="date" id="date" date="surgery.date" ng-model="surgery.date" placeholder="Enter your Surgery Date" class="rx-input-text rx-wf" required/></div>
          <div class="rx-ferrors">
            <p ng-show="!surgeryForm.date.$pristine && surgeryForm.date.$error.required">Surgery Date not provided</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-comments">
          <div class="rx-flabel">
          <label for="comments">Comments</label></div>
          
          <div class="rx-finput">
            <textarea name="comments" id="comments" ng-model="surgery.comments" placeholder="Comments" rows="4" class="rx-input-text rx-wf" required></textarea>
          </div>
          <div class="rx-ferrors">
            <p ng-show="!surgeryForm.comments.$pristine && surgeryForm.comments.$error.required">Comments is not provided.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        
        <div class="rx-flabel"></div>
        <div class="rx-finput">
        <button ng-disabled="surgeryForm.$invalid || isDisabled" type="submit" class="rx-button" ng-click="updateSurgery()">Update</button></div>
      </form>
    </div>

  </div>

</div>
