<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_allergy">
    <div id="rx_pp_ad">
      <input type="text" ng-model="search" class="rx-input-text input-filter rx-wtf" placeholder="Filter..." />
      <button class="rx-button rx-fr" ng-click="addNewSurgery()">Add New Surgery</button>
      <table class="table table-hover table-striped" id="rx_pp_al">
        <thead>
          <tr>
            <th>Name</th>
            <th>Implants</th>
            <th>Date</th>
            <th>Doctor Name</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="surgery in surgeries | filter:search" ng-click="navigateToSurgery(surgery.id)">
            <td><p>{{ surgery.surgery_name }}</p></td>
            <td><p>{{ surgery.implants }}</p></td>
            <td><p>{{ surgery.date }}</p></td>
            <td><p>{{ surgery.doc_name }}</p></td>
            <td><p>{{ surgery.comments }}</p></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>