// Fluid Grid
@import "susyone";
@import "compass";
@import "compass/layout/sticky-footer";

$total-columns: 12;
$column-width: 60px;
$gutter-width: 0px;
$grid-padding: 0px;

$show-grid-backgrounds  : true;
$container-style: fluid;

// COLOR VARIABLES
$dark-blue: #074E68;
$light-green: #7FA328;

$date-gray: #5b5b5b;
$patient-green: #698800;
$doctor-green: #008F00;
$rx-dark-blue: #074e68;
$rx-logo-color1: #3d4597;
$rx-logo-color2: #008cba;
$rx-logo-color3: #1F2930;
$rx-background-color: #fafafa;

$break-small: 1120px;