@import 'base';

.about-page {
  // -webkit-transform: translateZ(0);
}
#home { 
  background: url(/images/promotional-img-login2.jpg) 50% 0 repeat fixed; min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
}
 
#home article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
 
#about { 
  background: url(/images/promotional-img-login.jpg) 50% 0 repeat fixed; min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
 
#about article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}

#team {
	background: #1f2930;
	border-top: 2px solid #33434f;
	color: #FAFAFA;
	// height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 1em 0;
  font-weight: 300;
  ::selection {
    background-color: rgba(98, 164, 177, 0.5);
  }
  ::-moz-selection {
    background-color: rgba(98, 164, 177, 0.5);
  }
  @include span-columns(12,12);
  .team-header { text-align: center; text-decoration: underline; font-size: 36px; color: lighten($rx-logo-color3,40%); }
  .member-wrap {
  	@include span-columns(12,12);
  	padding: 2em 5%;
  	.member-pic {
			@include span-columns(5,12);
			// padding: 1em;
			text-align: center;
			img {
				border-radius: 50em;
				border: 5px solid #E7E7E7;
				transition: all 0.25s;
				cursor: pointer;
				&:hover { border: 5px solid $rx-logo-color2; }
			}
  	}
  	.member-info {
			@include span-columns(7,12);
			// padding: 2em 0;
			p { font-size: 16px; text-shadow: 0 0 1px #000; }
  	}
  }
}