// ---------------------------------------------------------------------------
// Imports
@import "base";
/* -------------------------------------------------------------------------*/

table {
  max-width: 100%;
  background-color: transparent;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  margin-bottom: 1em;
  background-color: #F7F7F7;
  box-shadow: 0 0 10px #BBB;
  border-radius: 5px;
  td:nth-child(1) { width: 15%; }
  > {
    thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
      padding: 0.5em;
      line-height: 1em;
      vertical-align: top;
      cursor: pointer;
    }

    thead {
      // background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #087830), color-stop(1, #07470C) );
      // background-image: -o-linear-gradient(bottom, #087830 0%, #07470C 100%);
      // background-image: -moz-linear-gradient(bottom, #087830 0%, #07470C 100%);
      // background-image: -webkit-linear-gradient(bottom, #087830 0%, #07470C 100%);
      // background-image: -ms-linear-gradient(bottom, #087830 0%, #07470C 100%);
      // background-image: linear-gradient(to bottom, #087830 0%, #07470C 100%);
      background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, $rx-logo-color2), color-stop(1, darken($rx-logo-color2,10%)) );
      background-image: -o-linear-gradient(bottom, $rx-logo-color2 0%, darken($rx-logo-color2,10%) 100%);
      background-image: -moz-linear-gradient(bottom, $rx-logo-color2 0%, darken($rx-logo-color2,10%) 100%);
      background-image: -webkit-linear-gradient(bottom, $rx-logo-color2 0%, darken($rx-logo-color2,10%) 100%);
      background-image: -ms-linear-gradient(bottom, $rx-logo-color2 0%, darken($rx-logo-color2,10%) 100%);
      background-image: linear-gradient(to bottom, $rx-logo-color2 0%, darken($rx-logo-color2,10%) 100%);
      color: #FFF;
    }
  }
}

.table-condensed > {
  thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
    padding: 0.5em;
  }
}

.table-bordered {
  border: 1px solid #999;
  > {
    thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
      border: 1px solid #999;
    }
    thead > tr > {
      th, td {
        border-bottom-width: 2px;
      }
    }
  }
}

.table-striped > tbody > tr:nth-child(odd) > {
  td, th {
    background-color: #F3F3F3;
  }
}

.table-hover > tbody > tr:hover > {
  td, th {
    background-color: #EEE;
  }
}

table {
  col[class*="col-"] {
    position: static;
    float: none;
    display: table-column;
  }
  td[class*="col-"], th[class*="col-"] {
    position: static;
    float: none;
    display: table-cell;
  }
}


#rx_pp_allergy {
  @include span_columns(9);

  #rx_pp_ad {
    @include span_columns(9,9);
    position: relative;
    padding-top: 0.5em;
  }
}

// #rx_add_allergy {
//   @include span-columns(12,12);
//   display: none;
//   padding: 1em;
//   padding-right: 2em;
//   .rx-lcol {
//     @include span-columns(2,12);
//     padding: 0.5em 0;
//   }
//   .rx-icol {
//     @include span-columns(10,12);
//     input { width: 97%; }
//     textarea { width: 97%; }
//   }
// }

#rx_pp_allergy_edit {
  @include span-columns(9,12);
  padding: 0.5em 0;
  #rx_pp_aed {
    border-left: 2px solid $rx-logo-color2;
    background-color: darken(#FAFAFA,1%);
    padding: 2em 2em 1em 1em;
    overflow: hidden;
    position: relative;
    
    .rx-pp-aei-name {
      input { float: left; }
    }
    .rx-finput {
      button.rx-button { width: 100%; }
    }
    select {
      width: 50%;
    }
    .rx-sradio {
      // width: 50%;
      input { float: left; margin-right: 1em; margin-left: 1em;}
      .rx-srmale { width: 50%; float: left; }
      .rx-srfemale { width: 50%; float: left; }
    }
  }
}

#rx_pp_condition_edit {
  @include span-columns(9,12);
  padding: 0.5em 0;
  #rx_pp_ced {
    border-left: 2px solid $rx-logo-color2;
    background-color: darken(#FAFAFA,1%);
    padding: 2em 2em 1em 1em;
    overflow: hidden;
    position: relative;
    
    .rx-pp-cei-name {
      input { float: left; }
    }
    .rx-finput {
      button.rx-button { width: 100%; }
    }
    select {
      width: 50%;
    }
    .rx-sradio {
      // width: 50%;
      input { float: left; margin-right: 1em; margin-left: 1em;}
      .rx-srmale { width: 50%; float: left; }
      .rx-srfemale { width: 50%; float: left; }
    }
  }
}