// ---------------------------------------------------------------------------
// Imports
@import "base";
 /* -------------------------------------------------------------------------*/
/* Layout */
html { height: 100% !important; width: 100%; }
body { height: 100% !important; width: 100%; margin: 0; padding: 0 }
@include sticky-footer(54px);

body {
  background-color: $rx-background-color;
  // background-image: url("/images/bg-grid-light.png");
  // background-image: url('../bgfiles/rxlinedpaper_@2x.png');
}
body::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
body::-webkit-scrollbar-track {
  background: #E7E7E7;
  width: 0px;
  display: table-cell;
  vertical-align: middle;
}
body::-webkit-scrollbar-thumb {
  background: #1F2930;
  color: #333;
}

textarea, input { line-height: 1.5em; }
textarea { resize: vertical; }

h2 {
  font-size: 16px;
}
h3 { font-size: 14px; }
a {
  &:visited {
    color: $rx-logo-color2;
  }
  &:active {
    color: $rx-logo-color2;
  }
  &:hover {
    color: darken($rx-logo-color2, 5%);
  }
}

#map_canvas {
  height: 20em;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.map-hide {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $rx-background-color;
}
#preloader {
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transform: translateZ(0);
  padding-top: 15%;
  padding-left: 42%;
  background: #FAFAFA;
  z-index: 5;
  img { background: #FFF; border-radius: 50em; padding: 2em; box-shadow: 0 0 3px #999; }
}

.rx-view {
  background-color: $rx-background-color;
  z-index: 2;
  @include span-columns(12,12);
}

#hoax {
  
  background: -moz-linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,255,255,0.3) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.3)), color-stop(100%, rgba(192,192,192,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,255,255,0.3) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,255,255,0.3) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,255,255,0.3) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(192,192,192,1) 0%, rgba(255,255,255,0.3) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c0c0c0',GradientType=0 ); /* ie6-9 */

  width: 100%; height: 200px;
  display: none;
}

::selection {
  // background-color: rgba(8, 70, 93, 0.5);
  background-color: rgba(111, 152, 53, 0.5);
  // color: rgba(38, 38, 38, 0.6);
  // color: #333;
}

::-moz-selection {
  // background-color: rgba(8, 70, 93, 0.5);
  background-color: rgba(111, 152, 53, 0.5);
  // color: rgba(38, 38, 38, 0.6);
  // color: #333;
}

#root {
  margin-bottom: -72px;
}
#root_footer {
  background: $rx-background-color;
}

#footer {
  z-index: 2;
  -webkit-transform: translateZ(0);
}

footer {
  clear: both;
  box-shadow: inset 0 5px 50px #1A1A1A;
  font-size: 14px;
  overflow: hidden;
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  // position: fixed;
  // left: 0px;
  // bottom: 0px;
  padding: 2em;
  min-width: 1120px;
  background: $rx-logo-color3;
  color: #FAFAFA;
  border-top: 2px solid lighten($rx-logo-color3,10%);
  .foot-row {
    @include span-columns(12,12);
    .foot-col {
      @include span-columns(3,12);
      text-align: center;
      h2,a { padding: 1em; }
      h2 span { cursor: pointer; font-size: 24px; border-bottom: 2px solid lighten($rx-logo-color3,20%); transition: all 0.5s; &:hover { border-bottom: 2px solid #FAFAFA;} }
      li,p { padding: 0.5em; font-style: italic; line-height: 1.5em; }
      // p,h2.left { text-align: left; padding-left: 0; }
      a {
        display: block;
        margin-top: 1em; text-decoration: none; border: 2px solid lighten($rx-logo-color3,20%); border-radius: 2px; background-color: lighten($rx-logo-color3,5%); color: #FAFAFA;
        transition: all 0.5s; font-weight: bold; font-size: 14px;
        &:hover { background-color: #FAFAFA; color: $rx-logo-color3; }
        &:hover span { text-decoration: underline; }
      }
    }
  }
  .foot-center {
    @include span-columns(12,12);
    text-align: center;
  }
  .copy-right {
    border-top: 2px solid lighten($rx-logo-color3,10%);
    margin-top: 1em;
    padding-top: 1em;
  }
  ::selection {
    background-color: rgba(98, 164, 177, 0.5);
  }
  ::-moz-selection {
    background-color: rgba(98, 164, 177, 0.5);
  }
}

.progress { position:relative; width:99%; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }
#edit_image_uploader {
  padding-top: 2em;
  #status {
    width: 99%;
    padding: 0.25em;
  }
  input[type=file] {
    width: 60%;
    border: none;
    padding: 0.75em 0.5em;
    background: #E7E7E7;
    border-radius: 3px;
    float: left;
  }
  input[type=submit] {
    width: 30%;
    float: right;
    margin-left: 5%;
  }
}

.rx-errors-wrap {
  position: fixed;
  -webkit-transform: translateZ(0);
  top: 5em; left: 0;
  width: 100%;
  min-width: 1120px;
  z-index: 1;
  .rx-errors {
    position: relative;
    width: 80%;
    margin: auto;
    background: #4D724D;
    color: lighten(#4D724D, 30%);
    font-weight: bold;
    font-size: 1.1em;
    padding: 1em 2em;
    border-radius: 5px;
    box-shadow: 0 2px 10px #333;
    .rx-eclose {
      position: absolute;
      top: 10px;
      right: 15px;
      cursor: pointer;
      color: lighten(#4D724D, 10%);
      &:hover { color: lighten(#4D724D, 20%); }
      &:active { color: darken(#4D724D, 5%); }
    }
  }
}

.rx-page {
  p { line-height: 1.5em; }
  // page acts as a container for our grid.
  // background: $rx-background-color;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  @include container;
  min-width: 1120px;
  @include border-box-sizing;
  position: relative;
  overflow: hidden;
  // header and footer are full-width by default.
  header.rx-hdef {
    clear: both;
    box-shadow: 0 1px 5px #333;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222222), color-stop(1, #333333));
    background-image: -o-linear-gradient(bottom, #222222 0%, #333333 100%);
    background-image: -moz-linear-gradient(bottom, #222222 0%, #333333 100%);
    background-image: -webkit-linear-gradient(bottom, #222222 0%, #333333 100%);
    background-image: -ms-linear-gradient(bottom, #222222 0%, #333333 100%);
    background-image: linear-gradient(to bottom, #222222 0%, #333333 100%);
  }
  
  header.rx-hdef {
    position: fixed;
    -webkit-transform: translateZ(0);
    @media screen and (max-width: $break-small) {
      position: absolute;
    }
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    width: 100%;
    min-width: 1120px;
    color: #FFF;
    z-index: 3;
    ul#rx_navigation {
      font-size: 14px;
      a:first-of-type {
        float: left;
        padding: 0.5em;
        margin-left: 0.75em;
        margin-right: 0.75em;
        border-bottom: none;
        border-left: 1px solid #333;
        border-right: 1px solid #333;
        box-shadow: inset 0 0 5px #000;
        &:hover, &:active {
          border-bottom: none;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, white));
          background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 100%);
          background-image: -moz-linear-gradient(bottom, #eeeeee 0%, white 100%);
          background-image: -webkit-linear-gradient(bottom, #eeeeee 0%, white 100%);
          background-image: -ms-linear-gradient(bottom, #eeeeee 0%, white 100%);
          background-image: linear-gradient(to bottom, #eeeeee 0%, white 100%);
          border-radius: 0px;
          box-shadow: inset 0 0 3px #333;
        }
      }
      a:nth-child(2) {
        margin-left: 0.75em;
        margin-right: 0.75em;
      }
      a {
        float: right;
        text-decoration: none;
        border-bottom: 5px solid transparent;
        list-style-type: none;
        padding: 1.25em;
        padding-top: 1.5em;
        padding-bottom: 1em;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        color: #FFF;
        text-shadow: 0 0 1px #999, 0 0 10px #000;
        &.rx-nav-icon {
          padding: 1em 1em 0.5em 1em !important;
          cursor: pointer;
          position: relative;
        }
        &:hover {
          border-bottom: 5px solid $rx-logo-color2;
        }
        &:active {
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, white));
          background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 100%);
          background-image: -moz-linear-gradient(bottom, #eeeeee 0%, white 100%);
          background-image: -webkit-linear-gradient(bottom, #eeeeee 0%, white 100%);
          background-image: -ms-linear-gradient(bottom, #eeeeee 0%, white 100%);
          background-image: linear-gradient(to bottom, #eeeeee 0%, white 100%);
          color: #111;
          box-shadow: inset 0 0 1px #333;
          border-bottom: 5px solid darken($rx-logo-color2, 20%);
          text-shadow: 0 0 1px #000, 0 1px 1px #333;
        }
        // &::selection {
        //  background-color: transparent;
        //  color: #333;
        // }
        // &::-moz-selection {
        //  background-color: transparent;
        //  color: transparent;
        // }
        &.rx-active {
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, white));
          background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 100%);
          background-image: -moz-linear-gradient(bottom, #eeeeee 0%, white 100%);
          background-image: -webkit-linear-gradient(bottom, #eeeeee 0%, white 100%);
          background-image: -ms-linear-gradient(bottom, #eeeeee 0%, white 100%);
          background-image: linear-gradient(to bottom, #eeeeee 0%, white 100%);
          border-radius: 0px;
          box-shadow: inset 0 0 1px #333;
          border-bottom: 5px solid darken($rx-logo-color2, 20%);
          text-shadow: 0 0 1px #000, 0 1px 1px #333;
          color: #111;
        }
        &.rx-highlight {
          position: relative;
          .after {
            content: '';
            display: block;
            width: 0;
            height: 120px;
            position: absolute;
            top: 0;
            left: 0;
            border-width: 0 49px 49px 49px;
            border-style: solid;
            border-color: transparent #FAFAFA transparent;
          }
          img#rx_logo {
            display: block;
            background-color: transparent;
            text-decoration: none;
            position: relative;
          }
        }
        cursor: pointer;
      }
    }
  }

  // header2 styles start
  header.rx-hdef2 {
    clear: both;
    @include filter-gradient(#a60000, #000000, vertical); // IE6-9
    @include background-image(linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%));
    position: fixed;
    -webkit-transform: translateZ(0);
    @media screen and (max-width: $break-small) {
      position: absolute;
    }
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    min-width: 1120px;
    color: #FFF;
    z-index: 3;
    padding: 1em 5%;
    ul#rx_navigation {
      float: left;
    }
    ul#rx_navigation2 {
      float: right;
      a {
        float: left;
        text-decoration: none;
        list-style-type: none;
        color: darken(#FAFAFA,5%);
        padding: 0.5em 1em;
        overflow: hidden;
        &:hover li { border-bottom: 2px solid darken(#FAFAFA,5%); }
        li {
          transition: all 0.5s ease-in-out;
          padding-bottom: 0.25em;
          border-bottom: 2px solid transparent;
        }
      }
    }
  }
  // header2 styles end

  #rx_sfa {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, white));
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 100%);
    background-image: -moz-linear-gradient(bottom, #eeeeee 0%, white 100%);
    background-image: -webkit-linear-gradient(bottom, #eeeeee 0%, white 100%);
    background-image: -ms-linear-gradient(bottom, #eeeeee 0%, white 100%);
    background-image: linear-gradient(to bottom, #eeeeee 0%, white 100%);
    box-shadow: 0 1px 1px #999;

    h2 {
      font-size: 28px;
      font-weight: 400;
      margin-bottom: 0.5em;
    }
    input {
      border: 0;
      position: relative;
      outline: none;
      padding: 1em;
      padding-right: 2.5em;
      font-size: 16px;
      font-family: 'Merriweather Sans', sans-serif;
      border-radius: 3px;
      box-shadow: inset 0 1px 5px #AAA;
      background: #EEE;
      border: 1px solid #999;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      color: darken($rx-logo-color2, 25%);
      &:hover, &:focus {
        // background-color: #FFF;
        border: 1px solid #555;
        color: #000;
      }
      &:focus {
        // border: 1px solid #333;
        background: #FAFAFA;
        box-shadow: inset 0 1px 1px #AAA;
      }

    }
  }
  .rx-content {
    // content spans the final (omega) 9 columns of 12.
    @include span-columns(12, 12);
    // main content spans 6 of those 9 columns.
    padding: 1em;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    .rx-main {
      @include span-columns(8, 12);
      #rx_promotions {
        position: relative;
        padding: 1em 3em;
        // border: 1px solid $rx-background-color;
        // border: 1px solid #6C9C76;
        border: 1px solid #FAFAFA;
        // background-color: darken(#FAFAFA,1.5%);
        background-color: #FAFAFA;
        // background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, white));
        // background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 100%);
        // background-image: -moz-linear-gradient(bottom, #eeeeee 0%, white 100%);
        // background-image: -webkit-linear-gradient(bottom, #eeeeee 0%, white 100%);
        // background-image: -ms-linear-gradient(bottom, #eeeeee 0%, white 100%);
        // background-image: linear-gradient(to bottom, #eeeeee 0%, white 100%);
        height: 500px;
        box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.1);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        &:hover {
          // border: 1px solid #6C9C76;
          border: 1px solid #CCC;
        }
        p {
          font-family: 'Merriweather Sans', sans-serif;
          font-weight: 400;
          margin-bottom: 0.5em;
          text-align: justify;
          line-height: 1.2em;
          font-size: 14px;
        }
        h1 {
          font-family: 'Merriweather Sans', sans-serif;
          font-weight: 700;
          font-size: 36px;
          text-decoration: underline;
        }
        #rx_prev {
          color: #555;
          position: absolute;
          top: 45%;
          left: -1em;
          // background-color: #3B7140;
          background-color: #AAA;
          padding: 0.5em;
          cursor: pointer;
          &:after {
            content: "";
            position: absolute;
            display: block;
            border-style: solid;
            // border-color: #6C9C76 transparent transparent transparent;
            border-color: #DDD transparent transparent transparent;
            bottom: -1em;
            left: 0;
            border-width: 1em 0 0 1em;
          }
          &:active {
            // background-color: darken(#3b7140, 5%);
            background-color: #BBB;
            padding-top: 0.6em;
          }
        }
        #rx_next {
          color: #555;          
          position: absolute;
          top: 45%;
          right: -1em;
          // background-color: #3B7140;
          background-color: #AAA;
          padding: 0.5em;
          cursor: pointer;
          &:after {
            content: "";
            position: absolute;
            display: block;
            border-style: solid;
            // border-color: transparent  transparent transparent #6C9C76;
            border-color: transparent  transparent transparent #DDD;
            bottom: -1em;
            right: 0;
            border-width: 0 0 1em 1em;
          }
          &:active {
            // background-color: darken(#3b7140, 5%);
            background-color: #BBB;
            padding-top: 0.6em;
          }
        }
        #rx_promotion_contents {
          overflow: hidden;
          position: relative;
          width: 100%;
          height: 100%;
          .rx-container {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
          }
          .rx-show {
            display: block;
            z-index: 1;
          }
        }
      }
    }
    // secondary content spans the final 3 (omega) of 9 columns.
    .rx-secondary {
      @include span-columns(4 omega, 12);
      position: relative;
      padding-left: 1.5em;
      // &:before, &:after {
      //   content: "";
      //   position: absolute;
      //   bottom: 0px;
      //   left: 18px;
      // }
      // &:before {
      //   top: 10px;
      //   width: 3px;
      //   background-image: -webkit-gradient(linear, 0 100%, 0 0, from(darken($rx-logo-color2, 10%)), to(transparent));
      //   background-image: -webkit-linear-gradient(transparent, darken($rx-logo-color2, 10%));
      //   background-image: -moz-linear-gradient(transparent, darken($rx-logo-color2, 10%));
      //   background-image: -o-linear-gradient(transparent, darken($rx-logo-color2, 10%));
      // }
      // &:after {
      //   right: 0px;
      //   height: 3px;
      //   background-image: -webkit-gradient(linear, 0 0, 100% 0, from(darken($rx-logo-color2, 10%)), to(transparent));
      //   background-image: -webkit-linear-gradient(left, darken($rx-logo-color2, 10%), transparent);
      //   background-image: -moz-linear-gradient(left, darken($rx-logo-color2, 10%), transparent);
      //   background-image: -o-linear-gradient(left, darken($rx-logo-color2, 10%), transparent);
      // }
      #rx_get_inside {
        overflow: hidden;
        position: relative;

        #rx_login_signup {
          overflow: hidden;
          input {
            width: 100%;
          }
          li {
            font-family: 'Merriweather Sans', sans-serif;
            font-weight: 700;
            float: left;
            list-style-type: none;
            padding: 1em;
            background: $rx-logo-color2;
            cursor: pointer;
            box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.4);
            color: lighten($rx-logo-color2, 40%);
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            a {
              text-decoration: none;
              color: #FFF;
              &:hover {}
            }
            &:hover {
              background: darken($rx-logo-color2, 10%);
            }
            &:active {
              background: darken($rx-logo-color2, 20%);
            }
            &.rx-active {
              background: darken($rx-logo-color2, 20%);
              color: lighten($rx-logo-color2, 10%);
            }
          }
        }
        .rx-content {
          // background-color: darken(#FAFAFA,1.5%);
          background-color: #FAFAFA;
          border: 1px solid #DDD;
          // background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, white));
          // background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 100%);
          // background-image: -moz-linear-gradient(bottom, #eeeeee 0%, white 100%);
          // background-image: -webkit-linear-gradient(bottom, #eeeeee 0%, white 100%);
          // background-image: -ms-linear-gradient(bottom, #eeeeee 0%, white 100%);
          // background-image: linear-gradient(to bottom, #eeeeee 0%, white 100%);
          width: 100%;
          box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.1);
          padding: 1em;
          display: none;
        }
        #rx_patient {
          display: block;
        }
      }
    }
  }
}

// // Basic Grid

// $total-columns: 12;
// $column-width: 60px;
// $gutter-width: 10px;
// $grid-padding: 10px;

// $show-grid-backgrounds  : true;
// $container-style: static;

// .static-container {
//  @include container;
//  @include border-box-sizing;
// }

// .static-container {
//  border: 1px solid #D8D8D8;
//  height: 400px;
// }

// --------GENERAL STYLES--------- //
// =============START============= //
.rx-sradio {
  border: 1px solid #DDD;
  background: #FFF;
  padding: 0.75em;
  color: #666;
  margin-bottom: 0.5em;
  overflow: hidden;
  input { margin-left: 1em; margin-right: 1em; }
  .rx-srmale { width: 50%; float: left; }
  .rx-srfemale { width: 50%; float: left; }
  &.focus {
    box-shadow: 0 0 1px #999;
    border: 1px solid #999;
  }
}
.rx-input-text {
  // border: 1px solid lighten($rx-logo-color2, 40%);
  border: 1px solid #DDD;
  outline: none;
  padding: 0.5em;
  background: #FFF;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin-bottom: 0.5em;
  &:focus {
    border: 1px solid #999;
    box-shadow: 0 0 1px 0 #999;
  }
  &.ng-invalid.ng-dirty {
    border: 1px solid red;
    box-shadow: 0 0 1px 0 red;
  }
  &.ng-valid.ng-dirty {
    border: 1px solid green;
    box-shadow: 0 0 1px 0 green;
  }
}
.rx-input-select {
  background: #FFF;
  border: 1px solid #DDD;
  margin-bottom: 0.5em;
  width: 100%;
  padding: 0.5em;
  outline: none;
  color: #666;
  &:focus {
    border: 1px solid #999;
    box-shadow: 0 0 1px 0 #999;
  }
  &.ng-invalid.ng-dirty {
    border: 1px solid red;
    box-shadow: 0 0 1px 0 red;
  }
  &.ng-valid.ng-dirty {
    border: 1px solid green;
    box-shadow: 0 0 1px 0 green;
  }
  option.rx-optional { color: #666; }
}

button,a,input[type=submit] {
  &.rx-button {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    color: #FFF;
    font-size: 14px;
    background-color: $rx-logo-color2;
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    border: 0;
    position: relative;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 5px -2px #333;
    // -webkit-transition: background-color 0.5s ease-in-out;
    // -moz-transition: background-color 0.5s ease-in-out;
    // -o-transition: background-color 0.5s ease-in-out;
    // transition: background-color 0.5s ease-in-out;
    &:hover {
      background-color: lighten($rx-logo-color2, 5%);
    }
    &:active {
      box-shadow: inset 0 5px 5px -2px #333;
      background-color: darken($rx-logo-color2, 10%);
    }
    &:disabled {
      box-shadow: inset 0 5px 5px -2px #333;
      background-color: darken($rx-logo-color2, 10%);
    }
    &.rx-active {
      box-shadow: inset 0 5px 5px -2px #333;
      background-color: darken($rx-logo-color2, 10%);
    }
  }

  &.rx-button-flat {
    text-align: center;
    clear: both;
    background-color: #EEE;
    padding: 1em;
    color: #AAA;
    border: 2px solid $rx-logo-color2;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: all 0.1s;
    &:hover {
      background-color: #DDD;
    }
    &:active {
      box-shadow: inset 0 5px 5px #999;
    }
    &:disabled {
      background-color: #BBB;
      box-shadow: inset 0 0 5px #999;
    }
  }
  &.rx-button-shady {
    background-color: $rx-logo-color1;
    text-decoration: none;
    outline: none;
    border: none;
    color: #FFFFFF;
    padding: 0.5em;
    cursor: pointer;
    box-shadow: 1px -1px 5px #999;
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    transition: background-color 0.25s;
    &:hover {
      background-color: lighten($rx-logo-color1, 5%);
    }
    &:active {
      background-color: darken($rx-logo-color1, 15%);
    }
    &.active {
      background-color: darken($rx-logo-color1, 15%);
    }
    &.rx-active {
      background-color: darken($rx-logo-color1, 15%);
    }
  }
  &.rx-button-shady2 {
    background-color: $rx-logo-color3;
    text-decoration: none;
    outline: none;
    border: none;
    color: #FFFFFF;
    padding: 0.5em;
    cursor: pointer;
    box-shadow: 1px -1px 5px #999;
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    transition: background-color 0.25s;
    &:hover {
      background-color: lighten($rx-logo-color3, 5%);
    }
    &:active {
      background-color: darken($rx-logo-color3, 15%);
    }
    &.active {
      background-color: darken($rx-logo-color3, 15%);
    }
  }
}

// ==============END============== //

// HELPERS
.rx-oh {
  overflow: hidden;
}
.rx-dn {
  display: none;
}
.rx-db {
  display: block;
}
.rx-di {
  display: inline;
}
.rx-wf {
  width: 100%;
}
.rx-wtf {
  width: 75%;
}
.rx-wh {
  width: 50%;
}
.rx-wq {
  width: 25%;
}
.rx-wt {
  width: 33.33%;
}
.rx-fl {
  float: left;
}
.rx-fr {
  float: right;
}
.rx-tj {
  text-align: justify;
}
.rx-pdtb {
  padding-top: 4.3em;
}
.rx-ml { margin-left: 1em; }
.rx-mr { margin-right: 1em; }
.rx-mb { margin-bottom: 1em; }
.rx-mt { margin-top: 1em; }

.rx-hr-splitter {
  clear: both;
  overflow: hidden;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  hr.rx-or-split {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    text-align: center;
    &:after {
      content: "OR";
      display: inline-block;
      position: relative;
      top: -0.6em;
      font-size: 0.8em;
      padding: 0 0.25em;
      background: white;
      text-shadow: 0 1px 1px #000;
    }
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
  clear: both !important;
}

// Some Fixes
.rx-main-search {
  position: relative;
  display: inline;
}
.rx-fa-search {
  position: absolute;
  top: -5px;
  right: 12px;
  color: #CCC;
  cursor: pointer;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */

.rx-flabel { @include span-columns(2,8); text-align: center; padding: 0.75em 0; }
.rx-finput { 
  @include span-columns(3,8);
}
.rx-ferrors { 
  @include span-columns(3,8); 
  p {
    padding: 0.5em 0.5em 0.5em 2em;
    color: #8F1010;
  }
}

// ==========================================
// OLD BELOW
// ==========================================

// div.pic {
//  position: absolute;
//  height: 160px;
//  width: 160px;
//  border: 1px solid #ababab;
//  margin-top: 220px;
//  margin-left: 85px;
//  border-radius: 3px;
//  padding: 5px;
//  background-color: #FFF;

//  >img {
//    border: 1px solid #ababab;
//  }
// }

// footer {
//  background-color: #333333;
//  color: #6B6B6B;
//  bottom: 0px;
//  padding-top: 1em;
// }
// footer a {
//  color: #6B6B6B;
//  font-weight: bold;
//  text-transform: uppercase;
// }
// footer a:hover {
//  color: #777777;
// }

// .profile-map {
//  height: 350px;
//  @media only screen and (max-width: $small-max) { 
//    height: 0px;
//  }
// }

/* MEDIA QUERIES --START */



/* MEDIA QUERIES --END */

/* HELPERS */
// .margin-div {
//  height: 1em;
// }
// .clear {
//  clear: both;
// }
// .pad-it {
//  padding: 0.25em;
// }
// .margin-bottom-it {
//  margin-bottom: 1em;
// }
// .remove-margin-bottom {
//  margin-bottom: 0;
// }
// .remove-margin {
//  margin: 0;
// }
// .width-100 {
//  width: 100%;
// }
// .hr-splitter {
//  hr.or-split {
//     border: 0;
//     height: 1px;
//     background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
//     background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
//     background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
//     background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
//     text-align: center;
//    &:after {
//      content: "OR";
//      display: inline-block;
//      position: relative; 
//      top: -0.7em;  
//      font-size: 0.8em;
//      padding: 0 0.25em;
//      background: white;
//      text-shadow: 0 1px 1px #000;
//    }
//  }
// }

// FULL CALENDAR STYLES
// #wrap {
//    width: 1100px;
//    margin: 0 auto;
//    }
    
//  #external-events {
//    float: left;
//    width: 150px;
//    padding: 0 10px;
//    border: 1px solid #ccc;
//    background: #eee;
//    text-align: left;
//    }
    
//  #external-events h4 {
//    font-size: 16px;
//    margin-top: 0;
//    padding-top: 1em;
//    }
    
//  .external-event { /* try to mimick the look of a real event */
//    margin: 10px 0;
//    padding: 2px 4px;
//    background: #3366CC;
//    color: #fff;
//    font-size: .85em;
//    cursor: pointer;
//    }
    
//  #external-events p {
//    margin: 1.5em 0;
//    font-size: 11px;
//    color: #666;
//    }
    
//  #external-events p input {
//    margin: 0;
//    vertical-align: middle;
//    }

//  #calendar {
//    float: right;
//    width: 900px;//    }