// Place all the styles related to the appointment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// ---------------------------------------------------------------------------
// Imports

@import "base";

/* -------------------------------------------------------------------------*/
.rx-page {
  header.rx-hclean {
    padding-top: 0.75em;
    @include span-columns(12,12);
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #FAFAFA;
    font-size: 16px;
    color: #333;
    box-shadow: 0 1px 2px #999;
    
    #rx_hlogo {
      @include span-columns(2,12);
      padding: 0 1em;
      text-align: left;
    }
    #rx_hsearch {
      @include span-columns(8,12);
      font-size: 12px;
      padding: 1em;
      span.rx-hsc {
        margin: 0.75em;
        font-size: 9px;
        padding: 0.5em;
        color: #DDD;
        background-color: #444;
        border-radius: 200px;
        text-shadow: 0 0 3px #000;
      }
    }
    #rx_hpromoauth {
      @include span-columns(2,12);
      padding: 0.5em 1em;
    }
  }

  #rx_appsea {
    @include span-columns(12,12);
    padding-left: 1%;
    padding-right: 1%;
    #rx_appsea_filters {
      @include span-columns(3,12);
      padding: 2em 2em 0 2em;
      .rx-appsea-fh {
        font-size: 12px;
        font-weight: 700;
        padding: 0.5em;
        position: relative;
        background-color: #AAA;
        color: #FFF;
        background-color: #074E68;
        margin: 0;
        padding: 0.5em 0;
        cursor: pointer;
        text-shadow: 0 0 3px #000;
        &:hover {
          background-color: #085a78;
        }
        .rx-appsea-fht {
          padding: 0 0 0 1em;
        }
        .rx-appsea-fhb {
          font-size: 11px;
          position: absolute;
          top: 0;
          right: 1em;
        }
      }
      .rx-appsea-fl {
        box-shadow: 0 0 1px #999999;
        overflow: hidden;
        background-color: #FFF;
        padding-top: 1em;
        margin-bottom: 0.5em;
        &:hover {
          box-shadow: 0 0 3px #999999;
        }
        .rx-appsea-fi {
          
          .rx-appsea-fit {
            padding: 0.25em 0 0.25em 0.75em;
            width: 75%;
            // background-color: #5D6218;
            // color: #D7D99E;
            background-color: #FAFAFA;
            color: lighten($dark-blue,5%);
            // text-shadow: 0 0 2px #333;
            // box-shadow: -1px 1px 2px #333;
            box-shadow: -1px 1px 2px #AAA;
            font-size: 12px;
            font-weight: 700;
            cursor: pointer;
          }
          .rx-appsea-fic {
            padding: 1em;
            padding-right: 0;
            font-size: 11px;
            li {
              padding: 0.25em;
              line-height: 1.5em;
              input { float: left; margin-right: 0.5em; margin-top: 0.2em; }
            }
          }
        }
      }
    }
    #rx_appsea_content {
      @include span-columns(7,12);
      padding-top: 2em;
      #rx_appsea_view_nav {
        .rx-appsea-vn {
          .rx-appsea-vi {
            float: right;
            padding: 0.5em 1em;
            // background-color: #444;
            background-color: $dark-blue;
            // color: #999;
            color: #FAFAFA;
            font-weight: 700;
            // border-right: 2px solid #555;
            text-shadow: 0 0 3px #000;
            cursor: pointer;
            margin-right: 0.25em;
            font-size: 12px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            &:hover {
              background-color: lighten($dark-blue, 5%);
            }
            &:active {
              background-color: darken($dark-blue, 5%);
            }
          }
        }
      }
      #rx_appsea_results {
        box-shadow: 1px 1px 2px #EEE;
        border-top: 3px solid #EAEAEA;
        background-color: #FCFCFC;
        padding: 1em;
        font-size: 12px;

        .rx-appsea-rb {
          margin-bottom: 1em;
          @include span-columns(12,12);
          position: relative;
          
          .rx-appsea-rb-s {
            border: 1px dashed #999;
            padding: 0.5em 0.5em 3em 0.5em;
            @include span-columns(12,12);
            position: relative;
            &:hover {
              box-shadow: 0 0 1px #999;
            }
            .rx-appsea-rb-dp {
              @include span-columns(2,12);
              img {
                height: 100px;
                width: 100px;
              }
            }
            .rx-appsea-rb-c {
              @include span-columns(6,12);
              line-height: 1.2em;
            }
            .rx-appsea-rb-bab {
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }

          .rx-appsea-rb-d {
            @include span-columns(12,12);
            background-color: #F9F9F9;
            border: 1px solid #999;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-top: none;
            display: none;
            p {
              text-align: justify;
            }
            .rx-appsea-rb-one {
              @include span-columns(2,12);
              height: 100px;
            }
            table.rx-outer {
              @include span-columns(12,12);
              color: #333;
              box-shadow: inset 0 1px 5px #BBB;
              tbody {
                tr {
                  @include span-columns(12,12);
                  border-bottom: 1px solid #AAA;
                  &:last-of-type { border-bottom: none; }
                  &:hover { background-color: #F5F5F5; }
                  td.first {
                    @include span-columns(2,12);
                    .rx-elt {
                      .type {
                        margin-bottom: 1em;
                        span {
                          font-size: 10px;
                          background-color: #CCC;
                          padding: 0.5em;
                          border-radius: 200px;
                          color: darken($rx-logo-color1, 10%);
                          cursor: pointer;
                        }
                      }
                      .day { padding: 0.25em; }
                      .date { padding: 0.25em; }
                    }
                    padding: 1em 0.5em;
                    text-align: center;
                    font-weight: 700;
                    color: darken($light-green,20%);
                    
                  }
                  td.second {
                    @include span-columns(10,12);

                    table {
                      tbody {
                        tr {
                          @include span-columns(12,12);
                          border-bottom: none;
                          font-size: 11px;
                          td {
                            @include span-columns(1,7);
                            padding: 0.25em;
                            text-align: center;
                            font-weight: 700;
                            // border-right: 1px solid #555;
                            &:first-of-type {
                              // border-left: 1px solid #555;
                            }
                            &:last-of-type {
                              // border-right: none;
                            }
                            .rx-el {
                              padding: 0.5em;
                              &:hover {
                                // background-color: #318240;
                                // background-color: $rx-logo-color1;
                                background-color: darken($light-green,10%);
                                color: #FAFAFA;
                              }
                              &:active {
                                background-color: darken($light-green, 20%);
                              }
                              cursor: pointer;
                            }
                            .rx-elt {
                              padding: 0.5em;
                            }
                          }
                        }
                      }
                    }
                  }
                  td {
                    &.prev, &.next {
                      padding: 0.75em 0.25em;
                      cursor: pointer;
                      text-align: center;
                      &:hover {
                        // background-color: #EEE;
                      }
                      span {
                        background-color: lighten($dark-blue, 10%);
                        color: #FAFAFA;
                        padding: 0.5em;
                        font-size: 11px;
                        border-radius: 2px;
                        &:hover {
                          background-color: lighten($dark-blue, 20%);
                        }
                        &:active {
                          background-color: darken($dark-blue, 10%);
                        }
                      }
                    }
                    &.next { }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #rx_appbook {
    @include span-columns(12,12);
    padding-left: 5%;
    padding-right: 5%;
    .rx-appbook-col {
      @include span-columns(6,12);

      #rx_appbook_dp {
        padding: 1em;
        margin: 2em 1em;
        background-color: #FCFCFC;
        box-shadow: 0 8px 10px -5px #555, 0 -3px 10px -5px #999;
        border-radius: 5px;
        border-top: 5px solid $rx-logo-color1;

        .rx-appbook-dpp {
          @include span-columns(4,12);
        }
        .rx-appbook-dpc {
          @include span-columns(8,12);
        }
      }
      #rx_appbook_promo {
        padding: 1em;
        margin: 2em 1em;
        background-color: #FDFDFD;
        box-shadow: 0 8px 10px -5px #555, 0 -3px 10px -5px #999;
        border-radius: 5px;
        border-top: 5px solid $light-green;

        .rx-appbook-pg {
          img { @include span-columns(1,5); }
        }
      }
      #rx_appbook_pd {
        height: 500px;
        padding: 1em;
        margin: 2em 1em;
        background-color: #FFF;
        border-top: 5px solid $dark-blue;

        form {
          label {
            margin-bottom: 0.25em;
            padding-left: 0.25em;
          }
          input, textarea {
            margin-bottom: 1em;
          }
        }
      }
    }
  }
}