@import 'base';

.rx-subfrow {
  @include span-columns(2,2);
  .rx-subfcol {
    @include span-columns(1,2);
    input {
      width: 98%;
    }
    select {
      width: 100% !important;
    }
  }
}

.rx-subfrow-others {
  @include span-columns(2,4);
}