/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */

@import "base";

.bdatepicker {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  padding: 0 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #999;
  box-shadow: 0 0 10px #999;
  background-color: #FFF;
  width: 25%;
  height: 250px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  overflow: hidden;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/

}
/*.bdatepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}*/
/*.bdatepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}*/
.bdatepicker > div {
  display: none;
}
.bdatepicker table {
  width: 100%;
  margin: 0;
}
.bdatepicker {
  padding-top: 0.5em;
}

.bdatepicker td,
.bdatepicker th {
  text-align: center;
  height: 1em;
  line-height: 1em;
  width: 13%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.bdatepicker td.day {
  padding: 1em;
}

.bdatepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.bdatepicker td.day.disabled {
  color: #eeeeee;
}
.bdatepicker td.old,
.bdatepicker td.new {
  color: #999999;
}
.bdatepicker td.active,
.bdatepicker td.active:hover {
  color: #ffffff;
  background-color: #FAFAFA;
  background-image: -moz-linear-gradient(top, $rx-logo-color1, lighten($rx-logo-color1,5%));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($rx-logo-color1), to(lighten($rx-logo-color1,5%)));
  background-image: -webkit-linear-gradient(top, $rx-logo-color1, lighten($rx-logo-color1,5%));
  background-image: -o-linear-gradient(top, $rx-logo-color1, lighten($rx-logo-color1,5%));
  background-image: linear-gradient(to bottom, $rx-logo-color1, lighten($rx-logo-color1,5%));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: lighten($rx-logo-color1,5%) lighten($rx-logo-color1,5%) #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: lighten($rx-logo-color1,5%);
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bdatepicker td.active:hover,
.bdatepicker td.active:hover:hover,
.bdatepicker td.active:focus,
.bdatepicker td.active:hover:focus,
.bdatepicker td.active:active,
.bdatepicker td.active:hover:active,
.bdatepicker td.active.active,
.bdatepicker td.active:hover.active,
.bdatepicker td.active.disabled,
.bdatepicker td.active:hover.disabled,
.bdatepicker td.active[disabled],
.bdatepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: lighten($rx-logo-color1,5%);
  *background-color: #003bb3;
}
.bdatepicker td.active:active,
.bdatepicker td.active:hover:active,
.bdatepicker td.active.active,
.bdatepicker td.active:hover.active {
  background-color: #003399 \9;
}
.bdatepicker td span {
  display: block;
  /*width: 47px;
  height: 54px;
  line-height: 54px;*/
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.bdatepicker td span.year {
  padding: 1.94em;
}
.bdatepicker td span.month {
  padding: 2em 2.3em;
}
.bdatepicker td span:hover {
  background: #eeeeee;
}
.bdatepicker td span.active {
  color: #ffffff;
  background-color: #FAFAFA;
  background-image: -moz-linear-gradient(top, $rx-logo-color1, lighten($rx-logo-color1,5%));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($rx-logo-color1), to(lighten($rx-logo-color1,5%)));
  background-image: -webkit-linear-gradient(top, $rx-logo-color1, lighten($rx-logo-color1,5%));
  background-image: -o-linear-gradient(top, $rx-logo-color1, lighten($rx-logo-color1,5%));
  background-image: linear-gradient(to bottom, $rx-logo-color1, lighten($rx-logo-color1,5%));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: lighten($rx-logo-color1,5%) lighten($rx-logo-color1,5%) #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: lighten($rx-logo-color1,5%);
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bdatepicker td span.active:hover,
.bdatepicker td span.active:focus,
.bdatepicker td span.active:active,
.bdatepicker td span.active.active,
.bdatepicker td span.active.disabled,
.bdatepicker td span.active[disabled] {
  color: #ffffff;
  background-color: lighten($rx-logo-color1,5%);
  *background-color: #003bb3;
}
.bdatepicker td span.active:active,
.bdatepicker td span.active.active {
  background-color: #003399 \9;
}
.bdatepicker td span.old {
  color: #999999;
}
.bdatepicker th.switch {
  width: 145px;
}
.bdatepicker th.next,
.bdatepicker th.prev {
  font-size: 21px;
}
.bdatepicker thead tr:first-child th {
  cursor: pointer;
}
.bdatepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}