// Place all the styles related to the DoctorProfile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ---------------------------------------------------------------------------
// Imports

@import "base";

/* -------------------------------------------------------------------------*/

#calendar {
	.fc {
		// height: 400px;
	}
}

#rx_dp_sub_nav {
	@include span-columns(12, 12);
	@include prefix(2);
	// background-color: #CCC;
	// margin-top: 5em;
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #085A78), color-stop(1, #073647) );
	background-image: -o-linear-gradient(bottom, #085A78 0%, #073647 100%);
	background-image: -moz-linear-gradient(bottom, #085A78 0%, #073647 100%);
	background-image: -webkit-linear-gradient(bottom, #085A78 0%, #073647 100%);
	background-image: -ms-linear-gradient(bottom, #085A78 0%, #073647 100%);
	background-image: linear-gradient(to bottom, #085A78 0%, #073647 100%);
	color: #FFF;
}

ul.rx-sub-nav {
	overflow: hidden;
	font-size: 14px;
	border-left: 2px solid darken($rx-logo-color2,5%);
	a {
		text-decoration: none;
		text-shadow: 0 0 5px #333;
		color: #FFF;
	}
	li {
		float: left;
		list-style-type: none;
		padding: 0.75em;
		cursor: pointer;
		transition: all 0.25s;
		&:hover {
			background-color: #085A78;
		}
		&:active {
			background-color: #085A78;
			box-shadow: inset 0 0 5px #333;
		}
		&.active {
			background-color: #085A78;
			box-shadow: inset 0 0 5px #333;
		}
	}
}

#rx_dp_side_nav {
	@include span-columns(2,12);
	padding: 0 1em 1em 1em;
}

ul.rx-side-nav {
	clear: both;
	li {
		padding: 0.5em;
		cursor: pointer;
		background-color: #DDD;
		&:hover {
			background-color: #CCC;
		}
	}
}

#rx_dps {
	@include span-columns(7, 12);
}

/* HEALTH LOG --START */
.rx-log {
	position: relative;
	@include span-columns(12,12);
	margin-bottom: 1em;
	background-color: #FFF;
	.rx-health-log {
		@include span-columns(12,12);
		border: 1px dashed #999999;
		// padding-left: 0.5em;
		// padding-right: 0.5em;
		position:relative;
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			box-shadow: 0 0 1px #999999;
		}
		.rx-on-date {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			background-color: $date-gray;
			color: #FFFFFF;
			box-shadow: 1px 1px 2px #333333;
			padding: 0.25em;
			&:hover {
				background-color: darken($date-gray, 5%);
			}
		}
		.rx-by-for {
			position: absolute;
			top: 0;
			right: 0;
			.rx-doctor {
				float:right;
				cursor: pointer;
				background-color: $doctor-green;
				margin-left: 0.5em;
				padding: 0.25em;
				color: #FFFFFF;
				box-shadow: 1px 1px 2px #333333;
				&:hover {
					background-color: darken($doctor-green, 3%);
				}
			}
			.rx-patient {
				float:right;
				cursor: pointer;
				background-color: $patient-green;
				margin-left: 0.5em;
				padding: 0.25em;
				color: #FFFFFF;
				box-shadow: 1px 1px 2px #333333;
				&:hover {
					background-color: darken($patient-green, 3%);
				}
			}
		}
		
		.rx-patient-pic-center {
			@include span-columns(2,12);
			
			margin-top: 2em;
			padding: 0 0.5em 0.5em 0.5em;
		}
		.rx-patient-pic {
			@include span-columns(12,12);
			// float: left;
			padding: 0.5em;
			// margin: 2em 0 0.5em 0.8em;
			
			// border: 1px solid #D8D8D8;
			background-color: #EEE;
			border-radius: 3px;
			img {
				height: 100%;
				width: 100%;
			}
		}

		.rx-btn-detail {
			position: absolute;
			bottom: 0;
			right: 0;
			background-color: $dark-blue;
			color: #FFFFFF;
			padding: 0.5em;
			cursor: pointer;
			box-shadow: 1px -1px 2px #333333;
			-webkit-transition: background-color 0.5s;
			-moz-transition: background-color 0.5s;
			transition: background-color 0.5s;
			&:hover {
				background-color: lighten($dark-blue, 5%);
			}
			&:active {
				background-color: darken($dark-blue, 10%);
			}
			&.active {
				background-color: darken($dark-blue, 10%);
			}
		}

		.rx-health-log-content {
			@include span-columns(10 omega,12);
			margin-top: 2em;
			font-size: 14px;
			padding-top: 0.5em;
			padding-left: 1em;

			.rx-appointment-detail {
			}
		}
	}

	.rx-log-detail {
		clear: both;
		padding: 0.5em;
		@include span-columns(12,12);
		border: 1px solid #D8D8D8;
		// display: none;
		background-color: #EEE;
	}
}

/* HEALTH LOG --END */

/* DOCTOR PANELS --START */
#rx_dpp {
	@include span-columns(3 omega, 12);
	padding-left: 1em;
	position: relative;
}

#rx_dpp {
	.rx-dppb {
		padding-top: 0;
		margin-bottom: 1em;
		box-shadow: 0 0 1px #999999;
		overflow: hidden;
		background-color: #FFF;
		&:hover {
			box-shadow: 0 0 3px #999999;
		}

		.rx-dppbt{
			color: #FFF;
			background-color: #074E68;
			text-align: center;
			margin: 0;
			padding: 0.5em 0;
			cursor: pointer;
			&:hover {
				background-color: #085a78;
			}
		}

		.rx-dppbc {
			position: relative;
			.rx-dppbi {
				text-align: right;
				padding: 0.5em;
				img {
					border: 5px solid #DDD;
					border-radius: 3px;
					cursor: pointer;
					box-shadow: 0 0 5px #DDD;
					&:hover {
						box-shadow: 0 0 5px #999;
					}
				}
			}
			.rx-dppbd {
				position: absolute;
				top: 0.5em;
				left: 0;
				.rx-dppbn {
					display: block;
					padding: 0.5em;
				}
				.rx-dppbe {
					padding: 0.5em;
					display: block;
				}
			}

			ul.rx-dppbg {
				@include span-columns(12 omega, 12);
				>li {
					display: block;
					@include span-columns(4,12);
					padding: 0.25em;
					>img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

	}
}
/* DOCTOR PANELS --END */ 

.show-more {
	text-align: center;
	clear: both;
	background-color: #EEE;
	padding: 1em;
	color: #AAA;
	border: 2px solid #BBB;
	border-radius: 5px;
	cursor: pointer;
	&:hover {
		background-color: #DDD;
		color: lighten($rx-logo-color2,5%);
	}
	&:active {
		background-color: #CCC;
	}
}

// PATIENT BOX
.rx-spb {
	@include span-columns(6,12);
	padding: 0 0.5em 1em 0em;
	&:nth-child(2n) {
		padding-left: 0.5em;
		padding-right: 0em;
	}
}
.rx-pb {
	@include span-columns(12,12);
	background-color: #FFF;
	padding: 0.5em;
	border: 1px dashed #999;
	.rx-pbp {
		@include span-columns(4,12);
		padding: 0.5em;
		background-color: #EEE;
		border-radius: 3px;
		img {
			height: 100%;
			width: 100%;
		}
	}
	.rx-pbd {
		@include span-columns(4,6);
		padding: 0.5em 1em 0 1em;
	}
}

// Doctor Profile - Profile Page
#rx_dpp_sub_nav {
	@include span-columns(12, 12);
	@include prefix(1);
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #085A78), color-stop(1, #073647) );
	background-image: -o-linear-gradient(bottom, #085A78 0%, #073647 100%);
	background-image: -moz-linear-gradient(bottom, #085A78 0%, #073647 100%);
	background-image: -webkit-linear-gradient(bottom, #085A78 0%, #073647 100%);
	background-image: -ms-linear-gradient(bottom, #085A78 0%, #073647 100%);
	background-image: linear-gradient(to bottom, #085A78 0%, #073647 100%);
	// margin-top: 5em;
	height: 2em;
}

#rx_dp_pi {
	@include span-columns(12,12);
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 0.5em;
	font-size: 12px;

	#rx_dp_pi_img {
		@include span-columns(3,12);
		padding-right: 0.25em;

		img {
			border: 5px solid #EEE;
			border-radius: 3px;
			height: 100%;
			width: 100%;
		}
	}
	#rx_dp_pi_info {
		@include span-columns(9,12);
		padding-left: 1em;
		font-size: 12px;

		input {
			font-size: 12px;
			width: 100%;
		}

		table {
			width: 100%;
			tr {
				td:nth-child(1) { width: 40% }
				td:nth-child(2) {
					width: 60%;
					span {
						display: block;
						padding: 0.5em 0.25em 0 0.5em;
						width: 100%;
					}
					span.items {
						&:first-of-type { padding-left: 0.5em; }
						display: inline; padding-left: 0; 
					}
				}
			}
		}
	}

	.rx-dp-pi-loc-img {
		@include span-columns(2,12);
		padding: 0.25em 0.25em 0.25em 0.5em;
		img {
			border-radius: 5px;
			border: 5px solid #EEE;
		}
	}
	.rx-dp-pi-loc-info {
		@include span-columns(10,12);
	}
	
	.rx-dp-pi-pri {
		cursor: pointer;
		@include span-columns(6,6);
		position: relative;
		padding: 1em 1em 3em 1em;
		border-bottom: 1px dotted #CCC;
		&:hover { background-color: #EEE; }
		p { text-align: justify; }
		.rx-dp-pi-pri-drug-name {
			@include span-columns(2,8);
			text-decoration: underline;
			font-weight: bold;
		}
		.rx-dp-pi-pri-instruction {	
			@include span-columns(6,8);
		}
		.rx-dp-pi-pri-frequency { 
			position: absolute;
			bottom: 0;
			right: 0;
			background-color: $rx-logo-color2;
			color: #FAFAFA;
			padding: 0.25em;
			font-size: 11px;
		}
		.rx-dp-pi-pri-duration {	
			position: absolute;
			bottom: 0;
			right: 12em;
			background-color: $rx-logo-color1;
			color: #FAFAFA;
			padding: 0.25em;
			font-size: 10px;
		}
	}

	.rx-dp-pi-ci {
		cursor: pointer;
		@include span-columns(6,6);
		position: relative;
		padding: 1em 1em 3em 1em;
		border-bottom: 1px dotted #CCC;
		&:hover { background-color: #EEE; }
		p { text-align: justify; }
		.rx-dp-pi-ci-name {
			@include span-columns(2,8);
			text-decoration: underline;
			font-weight: bold;
		}
		.rx-dp-pi-ci-note {	
			@include span-columns(6,8);
		}
		.rx-dp-pi-ci-status { 
			position: absolute;
			bottom: 0;
			right: 0;
			background-color: $rx-logo-color2;
			color: #FAFAFA;
			padding: 0.25em;
			font-size: 11px;
		}
		.rx-dp-pi-ci-start-date {	
			position: absolute;
			bottom: 0;
			right: 6em;
			background-color: $rx-logo-color1;
			color: #FAFAFA;
			padding: 0.25em;
			font-size: 10px;
		}
		.rx-dp-pi-ci-end-date {	
			position: absolute;
			bottom: 0;
			right: 13.5em;
			background-color: lighten($rx-logo-color1, 5%);
			color: #FAFAFA;
			padding: 0.25em;
			font-size: 10px;
		}
	}

	.rx-dp-pi-ai {
		cursor: pointer;
		@include span-columns(6,6);
		position: relative;
		padding: 1em 1em 3em 1em;
		border-bottom: 1px dotted #CCC;
		&:hover { background-color: #EEE; }
		p { text-align: justify; }
		.rx-dp-pi-ai-allergy {
			@include span-columns(2,8);
			p {text-decoration: underline; text-align: left;}
			font-weight: bold;
		}
		.rx-dp-pi-ai-note {	
			@include span-columns(6,8);
		}
		.rx-dp-pi-ai-reaction {
			font-weight: normal;
			color: #333;
			font-size: 0.9em;
			border-left: 3px solid #999;
			padding-left: 0.25em;
			p { text-decoration: none; }
		}
		.rx-dp-pi-ai-observed {	
			position: absolute;
			bottom: 0;
			right: 0;
			background-color: $rx-logo-color1;
			color: #FAFAFA;
			padding: 0.25em;
			font-size: 10px;
		}
	}

	.rx-dp-pi-wi {
		// margin: 0 5em 0 2em;
		cursor: pointer;
		@include span-columns(6,6);
		padding: 1em;
		border-bottom: 1px dotted #CCC;
		.rx-dp-pi-wi-hospital {
			font-size: 13px;
			color: #333;
			font-weight: 700;
		}
		&:hover {
			background-color: #EEE;
		}
		.rx-dp-pi-wi-pic {
			@include span-columns(2,6);
			img {
				height: 100px;
				width: 100px;
				border: 5px solid #999;
				border-radius: 2px;
				box-shadow: 1px 1px 5px #999;
			}
		}
		.rx-dp-pi-wi-info {
			@include span-columns(4,6);
			.rx-dp-pi-wi-name {
				font-size: 16px;
				margin: 0.5em 0;
				margin-bottom: 0.25em;
				padding: 0.5em 0.5em;
				// background-color: #fafafa;
				// text-shadow: 0 0 3px #666;
				color: #3d3d3d;
				border-left: 5px solid $rx-logo-color1;
				text-decoration: underline;
			}
			.rx-dp-pi-wi-relation {
				color: #3d3d3d;
				font-size: 12px;
				// background-color: #fafafa;
				padding: 0.5em 1em;
				border-left: 5px solid $rx-logo-color2;
				// text-shadow: 0 0 3px #666;
			}
		}
	}

	.rx-dp-pi-description {
		font-size: 12px;
		line-height: 1.16em;
		padding: 1em;
	}
}

.rx-colh {
	@include span-columns(6,12);
	padding: 0.5em;
	.rx-colh-i {
		@include span-columns(6,6);
		margin: 0.5em;
		background-color: #FCFCFC;
		border: 1px dashed #DDD;
		margin-bottom: 0.5em;
		// box-shadow: 1px 1px 5px #DDD;
		&:hover {
			box-shadow: 0 0 5px #DDD;
		}
	}
	.rx-colh-ih {
		background-color: #F1F1F1;
		border-bottom: 1px solid #DDD;
		position: relative;
		height: 3.5em;

		h2 {
			position: absolute;
			top: 0;
			left: 0;
			color: #333;
			font-size: 14px;
			// font-weight: 700;
			text-shadow: 0 0 5px #555, 0 0 3px #555;
			padding: 0.5em;
			margin: 0.5em;
			color: #FFF;
			background-color: darken($rx-logo-color2,10%);
			cursor: pointer;
			&:hover {
				background-color: darken($rx-logo-color2,5%);
			}
		}

		a {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0.5em;
		}
	}
	.rx-colh-ic {
		padding: 1em;
		@include span-columns(6,6);
	}
}