// ---------------------------------------------------------------------------
// Imports
@import "base";
/* -------------------------------------------------------------------------*/

#rx_pp_families {
  @include span_columns(9);
  // padding: 0 1em;

  #rx_pp_fd {
    @include span_columns(9,9);
    position: relative;

    .rx-pp-fpb {
      @include span_columns(3,9);
      padding: 0.5%;

      &:nth-child(1) { padding-left: 0; }
      &:nth-child(3) { padding-right: 0; }

      .rx-pp-fp {
        position: relative;
        cursor: pointer;
        padding: 0.5em;
        background: #E6E0E0;
        border: 3px solid #C2B4B4;
        box-shadow: 0 2px 2px #999;

        .rx-pp-fpr {
          position: absolute;
          top: 0; right: 0;
          padding: 0.5em;
          background: rgba(152, 142, 34, 1);
          color: #555;
          box-shadow: -1px 1px 3px #999;
        }

        img { 
          height: 100px; width: 100px;
          border: 2px solid #999;
          box-shadow: 1px 1px 1px #999;
        }
      }
    }
  }
}