@import "base";

#rx_feedback {
  position: fixed;
  -webkit-transform: translateZ(0);
  background: rgba(158,158,158,0.7);
  height: 100%;
  width: 100%;
  min-width: 1120px;
  padding-top: 5%;
  .rx-ftop {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid #E7E7E7;
    width: 100%;
    height: 5em;
    background: #318FF1;
    color: #FAFAFA;
    text-shadow: 0 0 5px #555;
    .ftop-icon { 
      @include span-columns(1,8);
      padding: 0.5em 2em;
    }
    .ftop-content { 
      @include span-columns(7,8);
      padding: 1em 0;
      h3 { font-size: 16px; text-decoration: underline; }
      p { padding: 0.5em 0; font-size: 10px; }
    }
  }
  .rx-f {
    position: absolute;
    top: 5em;
    left: 0;
    width: 100%;
    height: 30em;
  }
  .rx-fclose {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
    background: #354047;
    padding: 0.5em;
    box-shadow: 0 0 3px #333;
    // border-radius: 16px;
    color: lighten(#354047, 20%);
    &:hover { color: #FAFAFA; }
    &:active { background: darken(#354047, 10%); }
  }
  .rx-fwrapper {
    position: relative;
    color: #333;
    margin: auto;
    width: 60em;
    height: 35em;
    padding: 0 3em;
    padding-top: 4em;
    background: #FAFAFA;
    box-shadow: 0 0 3px #999;
    .rx-fal {
      position: absolute;
      top: 15em;
      left: 0;
      background: #FAFAFA;
      box-shadow: 1px 1px 5px #000;
      padding: 1em 0.5em;
      cursor: pointer;
      z-index: 2;
      &:active { background: darken(#FAFAFA, 10%); box-shadow: none; }
    }
    .rx-far {
      position: absolute;
      top: 15em;
      right: 0;
      background: #FAFAFA;
      box-shadow: -1px 1px 5px #000;
      padding: 1em 0.5em;
      cursor: pointer;
      z-index: 2;
      &:active { background: darken(#FAFAFA, 10%); box-shadow: none; }
    }
    .rx-fheading {
      position: absolute;
    }
    .rx-fcontent {
      position: relative;
      margin-top: 15em;
      height: 15em;
      color: #FAFAFA;
      text-align: center;
      .ficon {
        position: absolute;
        background: url('/images/npr.png'); height: 58px; width: 58px; border: none; background-position: 0px 0px;
        margin: 0em 27em;
        &.start {
          background-image: url('/images/default_smiley.png');
          background-position: -28px;
          width: 80px;
          height: 63px;
        }
      }
      .fsaying {
        position: absolute;
        margin: 4em 12em 0em 12em;
        color: #E7E7E7;
        font-size: 24px;
        width: 8em;
        text-align: center;
      }
    }
    .rx-fusing-circle {
      background: #352222;
      // background: #318FF1;
      margin-top: 6em;
      height: 24em;
      padding: 4em 6em;
      color: #FAFAFA;
      .wrap { @include span-columns(1,3); }
      .circle {
        position: relative;
        border: 5px solid #352222;
        height: 11em;
        border-radius: 6em;
        margin-right: 3em;
        &:first-child { margin-left: 2em; }
        &:last-child { margin-right: 3em; }
        &:hover { border: 5px solid #E7E7E7; }
        transition: all 0.25s;
        cursor: pointer;
        background: #E7E7E7;
        span { 
          position: absolute; font-size: 24px; top: 2.4em;
          left: 0; padding: 0em 1.7em; }
      }
      .hard:hover { background: #BA1A17; }
      .okay:hover { background: #EAB124; }
      .easy:hover { background: #1BB54D; }

      .hard.active { background: darken(#BA1A17,20%); border: 5px solid #E7E7E7; }
      .okay.active { background: darken(#EAB124,20%); border: 5px solid #E7E7E7; }
      .easy.active { background: darken(#1BB54D,20%); border: 5px solid #E7E7E7; }
    }
    .rx-fusing {
      background: #352222;
      // background: #318FF1;
      margin-top: 3em;
      height: 27em;
      padding: 4em 6em;
      color: #FAFAFA;

      .item {
        position: relative;
        overflow: hidden;
        padding: 1em 5em;
        input[type=checkbox] { float: left; margin: 2px 1em; }
        label { float: left; font-size: 16px; }
        input[type=text] { padding: 0.5em 1em; border: 2px solid #310505; color: #110501; box-shadow: 0 0 5px #000; }
        input[type=email] { padding: 0.5em 1em; border: 2px solid #310505; color: #110501; box-shadow: 0 0 5px #000; }
        textarea { padding: 0.5em 1em; border: 2px solid #310505; color: #110501; box-shadow: 0 0 5px #000; }
      }
    }
    h2 {
      background: #FAFAFA;
      color: #444;
      padding: 1em 1em 2em 1em;
      font-size: 20px;
      text-align: center;
      width: 100%;
      left: 0;
      top: 0;
      text-shadow: 1px 1px 10px #BBB;
      // text-decoration: underline;
    }
    .rx-fbox {
      position: absolute;
      top: 4em;
      margin: 0.5em;
      height: 4em;
      width: 4em;
      background: #999;
      z-index: 1;
      cursor: pointer;
      .el {
        position: absolute;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        height: 3.5em;
        text-align: center;
        padding: 1em;
        color: #FAFAFA;
      }
    }
    $color-list: (#8E1414, #BA1A17, #EA792D, #EAB124, #EACE57, #A6CE46, #1BB54D, #00AA8F, #00A5D8, #318FF1);
    @for $i from 0 through 9 {
      .rx-fb#{$i+1}  {
        left: 9em + $i*4em;
        background: lighten(nth($color-list, $i+1), 5%);
        &:hover { background: nth($color-list, $i+1); box-shadow: 0 -5px 50px #333; }
        &.active { box-shadow: inset 0 -5px 50px #333; }
      }
    }
    .rx-f2 { display: none; h2 { padding: 1em; } }
    .rx-f3 { display: none; h2 { padding: 1em; } }
    .rx-f4 { display: none; h2 { padding: 1em; } }
    .rx-f5 { display: none; h2 { padding: 1em; } }
  }
}