@import "base";

#rx_select_keywords {
	@include span-columns(12,12);
	padding: 0 5%;
	.rx-skh {
		padding-top: 2em;
		text-align: center;
		color: lighten($rx-logo-color3,20%);
		cursor: pointer;
		&:hover { color: $rx-logo-color3;
		text-decoration: underline;}
	}
	.rx-skc {
		position: relative;
	}
	button { font-size: 14px; }
	.rx-skc-item-wrap {
		@include span-columns(2,12);
		text-align: center;
		margin: 2em 0;
		padding: 0 1em;
		.rx-skc-item {
			border: 3px solid darken(#FAFAFA,5%);
			transition: all 0.5s;
			// border-radius: 4px;
			cursor: pointer;
			color: darken(#E7E7E7,30%);
			&:hover { border: 3px solid darken(#FAFAFA,10%); background: #E7E7E7; color: #555; }
			&:active { border: 3px solid darken($rx-logo-color2,15%); background: darken(#E7E7E7,15%); }
			&.active { 
				border: 3px solid darken($rx-logo-color2,15%); background: darken(#E7E7E7,15%); color: #555;
			}
			.rx-skc-ii {
				padding: 0.5em;
				border-bottom: 1px dashed lighten($rx-logo-color1,40%);
				img { 
					border: 1px solid lighten($rx-logo-color2,20%); border-radius: 5px; padding: 0.25em; background: lighten($rx-logo-color2,50%); height: 150px; width: 100%;
				}
			}
			.rx-skc-it {
				padding: 0.5em;
				font-size: 14px;
				text-shadow: 0 0 1px #999;
			}
		}
	}
}