@import 'base';

.rx-nearby-search-bar {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  background: #FAFAFA;
  .rx-tabs {
    width: 25%;
    min-width: 341.5px;
    float: left;
    i { margin-left: 0.5em; margin-top: 0.25em; }
    .shortlists { 
      width: 50%; float: left;
      text-align: center;
      padding: 0.75em 1em;
      font-size: 16px;
      height: 3.25em;
      transition: all 0.25s;
      cursor: pointer;
      color: darken(#FAFAFA, 50%);
      box-shadow: inset 0px -1px 1px #999;
      &:hover { color: inherit; p { text-decoration: underline; } }
      &.active { 
        color: inherit; p { text-decoration: underline; } 
        background: #FFF;
        box-shadow: -1px -2px 1px #999; 
      }
      // background: #FFF;
      // color: #1F2930;
      // border-right: 2px solid #1F2930;
      // &:hover { background: lighten(#1F2930,10%); color: #FAFAFA;}
      // &:active { background: lighten(#1F2930,30%); color: #FAFAFA;}
      
    }
    .results {
      width: 50%; float: left;
      text-align: center;
      padding: 0.75em 1em;
      font-size: 16px;
      height: 3.25em;
      transition: all 0.25s;
      cursor: pointer;
      color: darken(#FAFAFA, 50%);
      box-shadow: inset 0px -1px 1px #999;
      &:hover { color: inherit; p { text-decoration: underline; } }
      &.active { 
        color: inherit; p { text-decoration: underline; } 
        background: #FFF;
        box-shadow: 1px -2px 1px #999;
      }
      // background: lighten(#1F2930,20%);
      // color: #FAFAFA;
      // border-right: 2px solid #1F2930;
      // &:hover { background: lighten(#1F2930,10%); color: #FAFAFA;}
    }
  }
  .rx-search {
    // height: 100%;
    // padding: 1em 1em 1em 2em;
    box-shadow: 0px 2px 2px #999;
    height: 3.9em;
    padding: 0.75em 0.5em 0.5em 1em;
    width: 75%;
    margin-left: 25%;
    @media (max-width: 1366px) {
      margin-left: 341.5px;
    }
    background: #FAFAFA;
    button {
      margin-left: 1em;
      padding-left: 3em; padding-right: 3em;
    }
    input { width: 600px; border-radius: 2px; border: 1px solid #333; background: #FAFAFA; box-shadow: 0 0 1px #999;
      &:hover { box-shadow: 0 0 3px #999; }
      &:active { box-shadow: 0 0 3px #999; }
    }
  }
}

.rx-nearby {
  height: 100%;
  width: 25%;
  min-width: 341.5px;
  overflow: hidden;
  position: absolute;
  top: 8.3em;
  left: 0;
  background: #FFF;
  box-shadow: 2px 4px 4px #999;
  // border-top: 1px dashed #E7E7E7;
  // border-top: 1px dashed #1F2930;
  .rx-sorts {
    padding: 1em;
    border-bottom: 2px solid #1F2930;
    // border-right: 2px solid #1F2930;
  }
  .rx-listings {
    overflow-y: scroll;
    height: 75%;
    &::-webkit-scrollbar {
      width: 8px;
      background: transparent;
    }
    &::-webkit-scrollbar-track {
      background: #E7E7E7;
      width: 0px;
      display: table-cell;
      vertical-align: middle;
    }
    &::-webkit-scrollbar-thumb {
      background: #1F2930;
      color: #333;
    }
    .rx-hbox {
      border-top: 2px solid darken(#318FF1, 20%);
      // height: 8em;
      cursor: pointer;
      padding: 0.5em;
      // background: #318FF1;
      // color: #FAFAFA;
      background: #FFF;
      color: #1F2930;
      transition: all 0.25s;
      &:hover {
        // background: darken(#318FF1,10%);
        background: darken(#FAFAFA,10%);
      }
      &:active { background: lighten(#1F2930,5%); color: #FAFAFA; }
      .rx-hbox-item {
        position: relative;
        overflow: hidden;
        line-height: 1.2;
        i { float: left; width: 6%; }
        .reduce { margin-top: -0.25em; }
        .rx-hbox-item-name { float: left; margin-left: 0.75em; padding: 0.5em 0; font-size: 14px; text-decoration: underline; width: 90%; }
        .rx-hbox-item-address { float: left; margin-left: 2em; margin-top: -1.25em; line-height: 1.5em; padding: 1em; text-align: justify; font-size: 10px; text-shadow: 0 0 1px #999; width: 95%; }
        .rx-hbox-item-phone { float: left; margin-left: 0.75em; font-size: 14px; padding: 0.5em 0; margin-top: -0.75em; }
      }
    }
  }
}

.rx-nearby-box {
  height: 400px;
  width: 25%;
  overflow: hidden;
  position: absolute;
  top: 12em;
  right: 0;
  background: #FAFAFA;
  box-shadow: 0 0 10px #999;
}

.pac-container {
  z-index: 1 !important;
  width: 600px !important;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-top: -2px;
  border: 1px solid #333;
  border-top: none;
  background: #FAFAFA;
  .pac-item {
    border-left: 2px solid #999;
    padding: 0.5em 0;
    cursor: pointer;
    .pac-icon { margin-left: 0.5em; }
    &:hover {
      border-left: 2px solid #333;
      background: #E7E7E7;
    }
  }
}