@import 'base';

#rx_pp_obstetrics {
  @include span_columns(9);

  #rx_pp_od {
    @include span_columns(9,9);
    position: relative;
    padding-top: 0.5em;
  }
}

#rx_pp_obstetric_edit {
  @include span-columns(9,12);
  padding: 0.5em 0;
  #rx_pp_ced {
    border-left: 2px solid $rx-logo-color2;
    background-color: darken(#FAFAFA,1%);
    padding: 2em 2em 1em 1em;
    overflow: hidden;
    position: relative;
    
    .rx-pp-cei-name {
      input { float: left; }
    }
    .rx-finput {
      button.rx-button { width: 50%; }
    }
    select {
      width: 50%;
    }
    .rx-sradio {
      width: 50%;
      input { float: left; margin-right: 0.5em; }
      .rx-srmale { width: 25%; float: left; margin-right: 0.5em; }
      .rx-srfemale { width: 25%; float: left; }
    }
  }
}