// Place all the styles related to the patient_profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ---------------------------------------------------------------------------
// Imports

@import "base";

/* -------------------------------------------------------------------------*/

// [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
//   display: none !important;
// }

.sub-nav-sticky {
	position: fixed;
	-webkit-transform: translateZ(0);
	@media screen and (max-width: $break-small) {
		position: absolute;
	}
	width: 100%;
	left: 0;
	top: 4.3em;
	z-index: 1;
	border-top: 0;
	box-shadow: 0 2px 25px #333;
}
.left-side-nav-sticky {
	position: fixed;
	-webkit-transform: translateZ(0);
	left: 5%;
	// right: 5%;
	// width: 30% !important;
	width: 22.5% !important;
	top: 7.5em;
	border-top: 0;
	@media screen and (max-width: $break-small) {
		position: absolute;
		width: inherit;
		// right: 5%;
		left: 5%;
		top: 0.5em;
	}
}
#rx_pp_sub_nav {
	@include span-columns(12, 12);
	padding-left: 5%;
	padding-right: 5%;
	// margin-top: 5em;
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #085A78), color-stop(1, #073647) );
	background-image: -o-linear-gradient(bottom, #085A78 0%, #073647 100%);
	background-image: -moz-linear-gradient(bottom, #085A78 0%, #073647 100%);
	background-image: -webkit-linear-gradient(bottom, #085A78 0%, #073647 100%);
	background-image: -ms-linear-gradient(bottom, #085A78 0%, #073647 100%);
	background-image: linear-gradient(to bottom, #085A78 0%, #073647 100%);
	color: #FFF;

	#rx_pp_pi_img {
		// @include span-columns(3,12);
		// padding-right: 0.25em;
		position:absolute;
		top: 110px; 
		// left: 10.5%;
		left: 5%; padding: 0 1em;
		img {
			border: 4px solid rgba(0,0,0,0.8);
			border-radius: 3px;
			box-shadow: 0 0 20px #000;
			background-image: url('/images/150x150.gif');
			background-size: cover;
			background-position: 100%;
			background-repeat: no-repeat;
			overflow: hidden;
			height: 170px;
			width: 200px;
			// height: 100%;
			// width: 100%;
		}
		.edit-image-button {
			position: absolute;
			bottom: 4px;
			font-size: 12px;
			text-align: center;
			text-shadow: 0 0 1px #333;
			width: 88%;
			background: rgba(0,0,0,0.6);
			padding: 0.75em 0;
			cursor: pointer;
			&:hover { background: rgba(0,0,0,0.8);
			text-decoration: underline; }
			&:active { background: rgba(0,0,0,0.9); text-decoration: underline;}
		}
	}
	
	#rx_pp_hschoices {
		position: absolute;
		top: 80px;
		left: 27.5%;
		width: 600px;
		.hs-wrapper {
			position: relative;
			font-size: 14px;
			background: rgba(0,0,0,0.8);
			color: #FAFAFA;
			border: 2px solid $rx-logo-color3;
			border-radius: 3px;
			@include span-columns(12,12);
			// border-bottom: 2px solid $rx-logo-color1;

			.hs-item {
				@include span-columns(3,12);
				padding: 0.75em;
				text-align: center;
				text-shadow: 0 0 1px #333;
				cursor: pointer;
				transition: all 0.25s;
				&:hover { background: $rx-logo-color2; }
				&.active { background: $rx-logo-color2; }
			}
		}
	}

	#rx_pp_info_bar {
		position: absolute;
		top: 220px;
		left: 27.5%;
		color: $rx-logo-color3;
		text-shadow: 0 0 1px #333;
		line-height: 1.75em;
		.patient-name { font-size: 24px; }
		.patient-email {}
		.patient-phone {}
		.patient-birthday {}
	}

	#rx_pp_stype {
		position: absolute;
		top: 110px;
		left: 85%;
		color: #000;
		.stype-dropdown {
			background: #FAFAFA;
			border-radius: 3px;
			box-shadow: 0 5px 25px #555;
			width: 120px;
			.sd-item-wrap { display: none; }
			.sd-item {
				text-align: center;
				border-bottom: 2px solid #CCC;
				padding: 0.5em;
				cursor: pointer;
				&:first-child { border-top: 2px solid #CCC; }
				&:last-child { border-bottom: none; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
				&:hover { background: #E7E7E7; }
			}
			.sd-current {
				text-align: center;
				padding: 0.5em;
				cursor: pointer;
				font-size: 14px;
				color: #333;
			}
		}
	}
	
	#rx_pp_articles_search,#rx_pp_hospitals_search { display: none; }
	.rx-pp-search {
		position: absolute;
		top: 130px;
		left: 27.5%;
		color: #FAFAFA;
		width: 600px;

		input {
			width: 100%;
			background-color: rgba(255,255,255,0.8);
			color: #000;
			border: 1px solid #222;
			box-shadow: 0 0 20px 0 #555;
			border-radius: 3px;
		  outline: none;
		  padding: 0.5em;
		  // -webkit-transition: border 0.5s ease-in-out;
		  // -moz-transition: border 0.5s ease-in-out;
		  // transition: border 0.5s ease-in-out;
		  margin-bottom: 5px;
		  &:focus {
		    border: 1px solid #333;
		    box-shadow: 0 0 30px 0 #444;
		  }
		  &.rx-error {
		    border: 1px solid red;
		    box-shadow: 0 0 1px 0 red;
		  }
		  &.rx-success {
		    border: 1px solid green;
		    box-shadow: 0 0 1px 0 green;
		  }
		}

		.search-results {
			// height: 5em;
			width: 100%;
			background: rgb(250, 250, 250);
			border: 1px solid #000000;
			box-shadow: 0 5px 10px #333;
			border-bottom-left-radius: 5px;
			position: absolute;
			margin-top: 2.3em;
			border-top: none;
			border-bottom-right-radius: 5px;
			color: #000;
			z-index: 1;
			padding-top: 0.5em;
			.sr-item {
				padding: 1em;
				cursor: pointer;
				border-left: 3px solid #999;
				&:hover { background: #E7E7E7; 
					border-left: 3px solid #333; }
				&:active { background: darken(#E7E7E7, 5%); }
				&:last-child { border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
			}
			h2 { color: #111; text-decoration: underline; }
			p { text-align: justify; z-index: 1; color: #333; }
			.close-button { 
				position: absolute;
				right: 5px;
				top: -22px;
				cursor: pointer;
				color: #999;
				opacity: 1;
				background: #E7E7E7;
				padding: 0.25em;
				box-shadow: -1px 1px 3px #999;
				&:hover { color: #000; opacity: 1; }
				&:active { background: darken(#E7E7E7, 10%); box-shadow: -1px 1px 3px #999, inset -1px 1px 3px #999; }
			}
		}
	}

	#rx_pp_sub_nav_container {
		@include span-columns(12,12);
		
		@include prefix(3);
	}
}

#rx_ppls_hidden {
	display: none;
	z-index: 1;
	color: #333;
	width: 22.5%;
}
.rx-ppls {
	@include span-columns(3,12);
	padding: 0 1em 1em 1em;
	color: #333;
}

#rx_pplc {
	@include span-columns(7,12);

	.rx-log {
		.rx-description {
			margin-top: 2em;
			padding: 0 1em 1em 1em;
		}
	}
}

// .rx-pppb {
// 	margin-bottom: 1em;
// 	box-shadow: 0 0 1px #999999;
// 	overflow: hidden;
// 	background-color: #FFF;
// 	&:hover {
// 		box-shadow: 0 0 3px #999999;
// 	}
// 	.rx-pppbt {
// 		color: #FFF;
// 		background-color: #074E68;
// 		text-align: center;
// 		margin: 0;
// 		padding: 0.5em 0;
// 		cursor: pointer;
// 		&:hover {
// 			background-color: #085a78;
// 		}
// 	}
// 	.rx-pppbc {
// 		padding-left: 0.25em;
// 		padding-right: 0.25em;
// 		padding-top: 0.5em;
// 		padding-bottom: 0.5em;
// 		@include span-columns(12 omega, 12);
// 		text-align: justify;

// 		ul.rx-pppbg {
// 			@include span-columns(12 omega, 12);
// 			>li {
// 				display: block;
// 				@include span-columns(3,12);
// 				padding: 0.25em;
// 				>img {
// 					width: 100%;
// 					height: 100%;
// 				}
// 			}
// 		}
// 	}
// 	.rx-pppbl {
// 		margin: 0;
// 		>li {
// 			cursor: pointer;
// 			position: relative;
// 			padding: 0.5em;
// 			list-style-type: none;
// 			border-bottom: 1px dashed #999999;
// 			&:hover {
// 				background-color: darken(#FAFAFA,2%);
// 			}
// 		}
// 		.rx-pppbl-cs span {
// 			position: absolute;
// 			bottom: 0;
// 			right: 0;
// 			padding: 0.25em;
// 			background: $rx-logo-color2;
// 			color: #FAFAFA;
// 			box-shadow: -1px -1px 2px #999;
// 			border-top-left-radius: 3px;
// 			&.active { background: desaturate($patient-green, 15%); }
// 			&.inactive { background: desaturate($rx-logo-color2, 15%); }
// 		}
// 	}
// }

.rx-pppb {
	margin-bottom: 1em;
	@include span-columns(12,12);
	box-shadow: 0 0 1px #999999;
	background-color: #FFF;
	&:hover {
		box-shadow: 0 0 3px #999999;
	}
	.rx-pppbt {
		color: #FAFAFA;
		background-color: $rx-logo-color3;
		transition: all 0.25s;
		// text-align: center;
		margin: 0;
		padding: 0.5em 0 0.5em 0.75em;
		cursor: pointer;
		&:hover {
			background-color: #085a78;
		}
	}
	.rx-pppbc {
		padding-left: 0.25em;
		padding-right: 0.25em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		@include span-columns(12 omega, 12);
		text-align: justify;

		ul.rx-pppbg {
			@include span-columns(12 omega, 12);
			li {
				display: block;
				@include span-columns(3,12);
				padding: 0.25em;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	.rx-pppbl {
		margin: 0;
		li {
			cursor: pointer;
			position: relative;
			padding: 0.5em;
			list-style-type: none;
			transition: all 0.25s;
			// border-bottom: 1px dashed #999999;
			&:hover {
				background: #EEE;
			}
		}
		.rx-pppbl-cs span {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 0.5em;
			// background: $rx-logo-color2;
			color: $rx-logo-color2;
			// color: #FAFAFA;
			// box-shadow: -1px -1px 2px #999;
			// border-top-left-radius: 3px;
			&.active { color: desaturate($patient-green, 15%); }
			&.inactive { color: desaturate($rx-logo-color2, 15%); }
		}
	}
}

#rx_signup_heading {
	text-align: center;
	color: lighten($rx-logo-color3,10%);
	h1 { cursor: pointer; &:hover { text-decoration: underline; } }
}
#rx_patient_signup_promotions {
	@include span-columns(8,12);
	padding-right: 1em;
	.rx-psp-wrapper {
		height: 455px;
		background: #F4F4F4;
		border: 1px solid #DDD;
		box-shadow: 1px 1px 1px #E7E7E7;
		position: relative;
		.rx-pal {
			position: absolute;
			top: 14em; left: 0;
			background: #FAFAFA;
      box-shadow: 1px 1px 5px #999;
      padding: 1em 0.5em;
      cursor: pointer;
      z-index: 1;
      &:active { background: darken(#FAFAFA, 10%); box-shadow: none; }
		}
		.rx-par {
			position: absolute;
			top: 14em; right: 0;
			background: #FAFAFA;
      box-shadow: 1px 1px 5px #999;
      padding: 1em 0.5em;
      cursor: pointer;
      z-index: 1;
      &:active { background: darken(#FAFAFA, 10%); box-shadow: none; }
		}
	}
}
#rx_patient_signup_form {
	@include span-columns(4,12);
	.rx-signup-title {
		font-weight: 700;
		text-align: center;
		font-size: 14px;
		padding: 0.5em 0;
		background-color: #074E68;
		color: #FFF;
		cursor: pointer;
		text-shadow: 0 0 3px #333;
		&:hover {
			background-color: #085a78;
		}
	}
	.rx-signup-form {
		border-left: 5px solid rgba(0,0,0,0.2);
		border-top: 5px solid rgba(0,0,0,0.2);
		padding: 0 1em 1em 1em;
		background-color: #FFF;
		position: relative;
		.signup-form-errors {
			position: absolute;
			top: -2.5em;
			left: -26.5em;
			width: 25em;
			padding: 1em;
			-webkit-transform:rotate(360deg);
			z-index: 2;
				background: #8e4141; /* Old browsers */
background: -moz-linear-gradient(top,  #8e4141 0%, #8e3131 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e4141), color-stop(100%,#8e3131)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8e4141 0%,#8e3131 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8e4141 0%,#8e3131 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8e4141 0%,#8e3131 100%); /* IE10+ */
background: linear-gradient(to bottom,  #8e4141 0%,#8e3131 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e4141', endColorstr='#8e3131',GradientType=0 ); /* IE6-9 */

				color: #FFF;
				border-radius: 3px;
				box-shadow: 0 0 25px #000;
				height: 20em;
				margin-bottom: 0.5em;
				&:after {
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 10px 0 10px 17.3px;
					border-color: transparent transparent transparent #8e4141;
					position: absolute;
					-webkit-transform:rotate(360deg);
					top: 5px;
					right: -10px;
				}
			.errors-wrap {
			}
		}
		label {
			margin-top: 1em;
			margin-bottom: 1em;
		}
		input {
			width: 100%;
			&.rx-wh { width: 50%; }
			&#male { width: 15%; float: left; }
			&#female { width: 15%; float: left; }
		}
		.rx-sradio {
			.rx-srmale { width: 50%; float: left; }
  		.rx-srfemale { width: 50%; float: left; }
		}
		// select {
		// 	background: #FFF;
		// 	border: 1px solid #DDD;
		// 	padding: 0.5em;
		// 	margin-bottom: 0.5em; 
		// 	width: 100%;
		// 	outline: none;
		// 	&:focus {
		// 		box-shadow: 0 0 1px #999;
		// 		border: 1px solid #999;
		// 	}
		// 	&.ng-invalid.ng-dirty {
		//     border: 1px solid red;
		//     box-shadow: 0 0 1px 0 red;
		//   }
		//   &.ng-valid.ng-dirty {
		//     border: 1px solid green;
		//     box-shadow: 0 0 1px 0 green;
		//   }
		// }
	}
}

#rx_pp_info {
	@include span-columns(9,12);
	padding: 0.5em 0;
	position: relative;
	.rx-form-errors {
		position: absolute;
		right: 1em; top: 1em;
		z-index: 1;
		border-radius: 5px;
		background: #FAFAFA;
	}
	#rx_pp_id {
		border-left: 2px solid $rx-logo-color2;
		background-color: darken(#FAFAFA,1%);
		padding: 2em 2em 1em 1em;
		overflow: hidden;
		position: relative;
		
		.rx-pp-ii-name {
			input { float: left; }
		}
		.rx-finput {
			button.rx-button { width: 100%; }
		}
		select {
			width: 100%;
		}
		.rx-sradio {
			width: 100%;
			input { float: left; margin-right: 0.5em; }
			.rx-srmale { width: 50%; float: left; }
  		.rx-srfemale { width: 50%; float: left; }
		}
	}
}

#rx_pp_vitals {
	@include span-columns(9,12);
	padding: 0.5em 0;
	#rx_pp_vd {
		padding: 1em 0;
	}
}
#rx_add_update_vitals {
	padding-top: 1em;
	.rx-row {
		@include span-columns(12,12);
		.lcol {
			@include span-columns(4,12);
			text-align: center;
			padding: 0.75em 0;
		}
		.rcol {
			@include span-columns(8,12);
			input { width: 90%; }
		}
	}
}

#rx_pp_condition {
	@include span-columns(9,12);
	padding: 0.5em 0;
	.rx-pp-cwrap {
		@include span-columns(8,8);
	}
	.rx-pp-cd {
		@include span-columns(4,8);
		padding-right: 1em;
		padding-bottom: 1em;
		&:nth-child(2n) { padding-right: 0; }
		.rx-pp-ci {
			position: relative;
			box-shadow: -2px 2px 5px #DDD;
			border: 1px solid #CCC;
			border-radius: 3px;
			h3 { text-decoration: underline; }
			.rx-pp-ci-name {
				// background: darken($rx-logo-color2, 10%);
				background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, darken($rx-logo-color2,5%)), color-stop(1, darken($rx-logo-color2,15%)) );
	      background-image: -o-linear-gradient(bottom, darken($rx-logo-color2,5%) 0%, darken($rx-logo-color2,15%) 100%);
	      background-image: -moz-linear-gradient(bottom, darken($rx-logo-color2,5%) 0%, darken($rx-logo-color2,15%) 100%);
	      background-image: -webkit-linear-gradient(bottom, darken($rx-logo-color2,5%) 0%, darken($rx-logo-color2,15%) 100%);
	      background-image: -ms-linear-gradient(bottom, darken($rx-logo-color2,5%) 0%, darken($rx-logo-color2,15%) 100%);
	      background-image: linear-gradient(to bottom, darken($rx-logo-color2,5%) 0%, darken($rx-logo-color2,15%) 100%);
				padding: 0.5em 1em;
				color: lighten($rx-logo-color2, 50%);
				text-shadow: 1px 1px 1px #222;
				h2 { cursor: pointer; }
			}
			.rx-pp-ci-status {
				position: absolute;
				top: 0;
				right: 0;
				background: desaturate(green,10%);
				color: #FAFAFA;
				padding: 0.25em;
				margin: 0.4em;
				font-weight: bold;
				box-shadow: -1px 1px 2px #111;
				&.active { background: desaturate(red,10%); }
				&.inactive { background: desaturate($rx-logo-color2,10%); }
			}
			.rx-pp-ci-parameters {
				padding: 1em 1em 0.25em 1em;
				ul {
					list-style-type: circle;
					padding-left: 2em; 
					padding-top: 0.5em;
					li { padding: 0.25em 0.1em; }
				}
			}
			.rx-pp-ci-note {
				padding: 0.25em 1em 1em;
				h3 { margin-bottom: 0.25em; }
			}
		}
	}
}

.rx-article {
	position: relative;
	@include span-columns(12,12);
	margin-bottom: 1em;
	background-color: #FFF;
	.rx-awrap {
		@include span-columns(12,12);
		border: 2px solid #EAEAEA;
		border-radius: 3px;

		position:relative;
		padding: 0.5em;
		transition: all 0.25s;
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			box-shadow: 0 0 2px #BBB;
			border: 2px solid darken($rx-logo-color2, 5%);
		}
		.rx-ad {
			padding: 0.5em;
			position: absolute;
			top: 0;
			right: 0;
			background: darken($rx-logo-color2,20%);
			color: #FAFAFA;
			box-shadow: -1px 1px 2px #999;
		}
		.rx-at {
			padding: 0.5em;
			position: absolute;
			top: 0;
			left: 0;
			background: darken($rx-logo-color2, 10%);
			// font-weight: bold;
			color: #FAFAFA;
			box-shadow: 1px 1px 3px #999;
			.rx-as { a { color: lighten(#008cba,10%);} a:hover { color: #008cba;}}
		}
		.rx-ac {
			padding: 1em;
			margin-top: 1em;
			text-align: justify;
			border-bottom: 2px solid #CCC;
			// height: 15em;
			overflow: hidden;
			position: relative;
			.more-block {
				position: absolute;
				height: 3em;
				width: 100%;
				bottom: 0;
				left: 0;
				background: #FFF;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
				h3 {
					position: absolute;
					bottom: 0;
					right: 0;
					text-align: center;
				}
				// p { position: absolute; bottom: 0; right: 0; background: #FFF; }
			}
			h2 {
				padding: 0.5em;
				background: #E7E7E7;
				margin-left: -1%;
				color: #444;
				border-left: 2px solid #0079A1;
			}
			p {
				text-overflow: ellipsis;
				padding: 0.5em 0;
				color: #3D3D3D;
				// border-bottom: 1px solid #EEE;
				margin-bottom: 1em;
			}
		}
		.rx-aa {
			padding: 1em;
			a {
				transition: all 0.25s;
				cursor: pointer;
				padding-left: 1em;
				font-size: 12px;
				&:first-child { padding-left: 0; }
				span {
					&:hover { text-decoration: underline; }
				}
				&.rx-active {
					color: $rx-logo-color1;
				}
			}
		}
		// .rx-au {
		// 	font-size: 12px;
		// }
		// .rx-anu {
		// 	font-size: 12px;
		// }
		.rx-ai {
			text-align: center;
			padding: 1em;
			// border-bottom: 2px solid #CCC;
			img { height: 100%; width: 100%; border: 3px solid #969696; }
		}
		.rx-arm { a { font-size:12px; padding: 1em 0.5em; color: $rx-logo-color3; transition: all 0.25s; } }
		.rx-ak {
			padding: 0.25em 1em;
			a { color: lighten($rx-logo-color3, 20%); transition: all 0.5s; }
			// p { line-height: 2em; text-align: justify; }
			a:hover { text-decoration: underline; color: darken($rx-logo-color3,20%); }
			.rx-ak-i {
				color: lighten($rx-logo-color3, 20%);
				// padding: 0.1em 0.5em;
				margin-right: 1em;
				// margin-bottom: 0.5em;
				// background: darken($rx-logo-color3, 20%);
				// color: #FAFAFA;
				// border-radius: 2px;
				font-size: 10px;
				float: left;
			}
		}
	}
}