// ---------------------------------------------------------------------------
// Imports
@import "base";
/* -------------------------------------------------------------------------*/

.rx-pp-sn-wrap-fixed {
  width: 23%;
  margin-left: 5%;
  position: fixed;
  -webkit-transform: translateZ(0);
  top: 8em; left: 0;
  z-index: 1;
  padding: 0px 4% 0px 1em;
}
.rx-pp-sn {
  @include span_columns(3);
  // padding: 0 4%;
  padding: 0px 4% 0px 1em;

  ul {
    text-align: center;
    a {
      color: #FAFAFA;
      text-decoration: none;
    }
    li {
      padding: 0.75em 0;
      background-color: #999;
      color: #FAFAFA;
      margin: 0.5em 0;
      font-size: 12px;
      position: relative;
      cursor: pointer;
      border-radius: 2px;
      transition: all 0.25s;
      &:hover {
        background-color: lighten(#08475F, 5%);
      }
      &:active {
        box-shadow: inset 0 5px 30px #111;
      }
      
      &.rx-active {
        box-shadow: 0 3px 10px #000, inset 0 0 20px #000;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #08475F;
        width: 110%;
        // &:after {
        //   content: '';
        //   position: absolute;
        //   width: 0;
        //   height: 0;
        //   border-top: 12px solid transparent;
        //   border-bottom: 12px solid transparent;
        //   border-left: 12px solid #6C81A0;
        //   top: 0;
        //   left: 101px;
        // }
      }
    }
    
  }
}

#rx_pp_prescription {
  @include span-columns(9);
  padding-top: 0.5em;
  .rx-pp-pwrap {
    @include span-columns(8,8);
  }
  .rx-pp-pd {
    @include span-columns(8,8);
    padding-top: 2em;
    // padding-right: 1em;
    &:nth-child(2n) { padding-right: 0; }
    .rx-pp-pi {
      position: relative;
      // margin: 1em;
      // border: 1px solid #888;
      background-color: #F1F1F1;
      border-top-left-radius: 5px;
      // box-shadow: 0 2px 2px #AAA;
      margin-bottom: 4em;
      
      &:hover {
        // box-shadow: 0 5px 5px #AAA;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0%;
        right: 0%;
        width: 0px;
        height: 0px;
        border-bottom: 16px solid #EEE;
        border-right: 16px solid transparent;
        -webkit-box-shadow: -7px 7px 7px rgba(0,0,0,0.3);
        -moz-box-shadow: -7px 7px 7px rgba(0,0,0,0.3);
        box-shadow: -7px 7px 7px rgba(0,0,0,0.3);
      }
       
      &:after {
        content: "";
        position: absolute;
        top: 0%;
        right: 0%;
        width: 0px;
        height: 0px;
        border-top: 16px solid #FAFAFA;
        border-left: 16px solid transparent;
      }

      .rx-pp-pi-ih {
        padding: 0 1em;
        position:relative;
        height: 3em;
        border-bottom: 2px solid #e7e7e7;
        // font-size: 16px;
        // text-shadow: 0 0 2px #999;
        img {
          position: absolute;
          top: -1em;
          left: 1em;
          background-color: #EEE;
          padding: 0.5em;
          box-shadow: 0 2px 5px #BBB;
          border: 1px solid #AAA;
        }
        .rx-pp-pi-date {
          position: absolute;
          font-size: 12px;
          font-weight: bold;
          top: 0px;
          right: 25px;
          background-color: darken($rx-logo-color2,5%);
          color: darken(#FAFAFA,5%);
          padding: 0.25em 0.5em 0.25em 0.5em;
          box-shadow: -1px 1px 2px #999;
        }
      }
      .rx-pp-pi-ic {
        overflow: hidden;
        .rx-pp-pi-lc {
          @include span-columns(3,9);
          padding: 1em;
          text-align: center;
          font-weight: bold;
          text-decoration: underline;
        }
        .rx-pp-pi-rc {
          @include span-columns(6,9);
          padding: 1em;
          border-left: 2px solid #e7e7e7;
        }
      }
    }
  }
}

// #rx_pp_prescription {
//   @include span-columns(9);
//   padding-top: 0.5em;
//   .rx-pp-pwrap {
//     @include span-columns(8,8);
//   }
//   .rx-pp-pd {
//     @include span-columns(4,8);
//     padding-top: 2em;
//     padding-right: 1em;
//     &:nth-child(2n) { padding-right: 0; }
//     .rx-pp-pi {
//       position: relative;
//       // margin: 1em;
//       // border: 1px solid #888;
//       box-shadow: -2px 2px 2px #AAA;
      
//       &:hover {
//         box-shadow: -5px 5px 5px #AAA;
//       }
//       &:before {
//         content: "";
//         position: absolute;
//         top: 0%;
//         right: 0%;
//         width: 0px;
//         height: 0px;
//         border-bottom: 16px solid #EEE;
//         border-right: 16px solid transparent;
//         -webkit-box-shadow: -7px 7px 7px rgba(0,0,0,0.3);
//         -moz-box-shadow: -7px 7px 7px rgba(0,0,0,0.3);
//         box-shadow: -7px 7px 7px rgba(0,0,0,0.3);
//       }
       
//       &:after {
//         content: "";
//         position: absolute;
//         top: 0%;
//         right: 0%;
//         width: 0px;
//         height: 0px;
//         border-top: 16px solid #FAFAFA;
//         border-left: 16px solid transparent;
//       }

//       .rx-pp-pi-ih {
//         padding: 0 1em;
//         position:relative;
//         height: 3em;
//         border-bottom: 2px solid #e7e7e7;
//         // font-size: 16px;
//         // text-shadow: 0 0 2px #999;
//         img {
//           position: absolute;
//           top: -1em;
//           left: 1em;
//           background-color: #EEE;
//           padding: 0.5em;
//           box-shadow: 0 2px 5px #BBB;
//           border: 1px solid #AAA;
//         }
//         .rx-pp-pi-date {
//           position: absolute;
//           font-size: 12px;
//           font-weight: bold;
//           top: 0px;
//           right: 25px;
//           background-color: darken($rx-logo-color2,5%);
//           color: darken(#FAFAFA,5%);
//           padding: 0.25em 0.5em 0.25em 0.5em;
//           box-shadow: -1px 1px 2px #999;
//         }
//       }
//       .rx-pp-pi-ic {
//         overflow: hidden;
//         .rx-pp-pi-lc {
//           @include span-columns(3,9);
//           padding: 1em;
//           text-align: center;
//           font-weight: bold;
//           text-decoration: underline;
//         }
//         .rx-pp-pi-rc {
//           @include span-columns(6,9);
//           padding: 1em;
//           border-left: 2px solid #e7e7e7;
//         }
//       }
//     }
//   }
// }

/* =========== MEDICATIONS STYLES ================== */
#rx_pp_prescription_edit {
  @include span-columns(9,12);
  padding: 0.5em 0;
  #rx_pp_ped {
    border-left: 2px solid $rx-logo-color2;
    background-color: darken(#FAFAFA,1%);
    padding: 2em 2em 1em 1em;
    overflow: hidden;
    position: relative;
    
    .rx-pp-pei-name {
      overflow: hidden;
      input { float: left; }
    }
    .rx-pp-pei-frequency {
      overflow: hidden;
      .rx-finput {
        padding: 0.75em;
        background: #FFF;
        width: 37.5%;
        border: 1px solid #CCC;
        margin-bottom: 0.5em;
        input { float: left; margin-right: 0.25em; }
        label { float: left; margin-right: 1em; }
        &:hover { box-shadow: 0 0 1px 0 #999; border: 1px solid #999; }
      }
    }
    .rx-finput {
      button.rx-button { width: 100%; }
    }
    select {
      width: 50%;
    }
    .rx-sradio {
      width: 50%;
      input { float: left; margin-right: 0.5em; }
      .rx-srmale { width: 50%; float: left; }
      .rx-srfemale { width: 50%; float: left; }
    }
  }
}
