// ---------------------------------------------------------------------------
// Imports

@import "base";

/* -------------------------------------------------------------------------*/

// .rx-background-yoga {
//   // background-image: url('/images/promotional-img-login5.jpg');
//   background-repeat: no-repeat;
//   width: 100%;
//   height: 500px;
//   padding-top: 6em;
//   padding-bottom: 2em;
// }
#recaptcha_area { margin: 0 auto !important; }

.rx-signin-box {
  width: 30%;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 2em;
  box-shadow: 0 8px 10px -5px #555, 0 -3px 10px -5px #999;
  border-radius: 5px;
  border-top: 5px solid #3d4597;
  padding: 1em 2em;
  background: #FAFAFA;
  z-index: 1;
  h1.l-h1 {
    text-align: center;
    text-decoration: underline;
  }
  input.l-input { display: block; width: 100%; }
  // label { display: block; width: 100%; padding: 1em 0 0.25em 0;}
  button.l-button { margin-top: 0.5em; margin-bottom: 0.5em; }
  a.l-a { 
    margin-top: 0.5em; text-align: center; display: block; width: 100%;
    color: lighten($rx-logo-color3,20%); text-decoration: none;
    transition: all 0.25s;
    &:hover { color: darken($rx-logo-color3,20%); text-decoration: underline; }
  }
}

#rx_nav_input_appointment {
  display: none;
  position: fixed;
  -webkit-transform: translateZ(0);
  top: 4.3em;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  min-width: 448px;
  @media screen and (max-width: 1120px) {
    margin-left: 336px;
    margin-right: 336px;
  }
  z-index: 3;

  .ui-datepicker {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    width: 100%;
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #AAA;
    box-shadow: 0 2px 10px #999;
    text-shadow: 0 0 2px #999;
    color: #333;
  }
  .ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .7em 0;
  }
  .ui-datepicker .ui-datepicker-prev,
  .ui-datepicker .ui-datepicker-next {
    position: absolute;
    background-color: #EEE;
    top: 0;
    font-size: 1.2em;
    padding: 0.7em 0.5em;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:active {
      background-color: #999;
    }
  }
  .ui-datepicker .ui-datepicker-prev-hover,
  .ui-datepicker .ui-datepicker-next-hover {
    // top: 1px;
    background-color: #CCC;
  }
  .ui-datepicker .ui-datepicker-prev {
    left: 0px;
  }
  .ui-datepicker .ui-datepicker-next {
    right: 0px;
  }

  .ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: center;
  }
  .ui-datepicker .ui-datepicker-title select {
    font-size: 2em;
    margin: 0 0.2em;
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 0.2em;
    border-radius: 3px 0;
    outline: none;
    &:focus {
      border: 1px solid #999;
      box-shadow: 0 0 1px 0 #999;
    }
  }
  .ui-datepicker select.ui-datepicker-month-year {
    width: 100%;
  }
  .ui-datepicker select.ui-datepicker-month,
  .ui-datepicker select.ui-datepicker-year {
    // width: 49%;
  }
  .ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    // margin: 0 0 .4em;
  }
  .ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
  }
  .ui-datepicker td {
    border: 0;
    padding: 0.5em;
    height: 40px;
    line-height: 40px;
    transition: all 0.25s;
    &:hover {
      background-color: #DDD;
    }
  }
  .ui-datepicker td span,
  .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: center;
    text-decoration: none;
    color: #333;
  }
  .ui-datepicker-current-day {
    background-color: #E4E4E4;
  }
  .ui-datepicker-today {
    background-color: #F4F4F4;
  }
  td.ui-datepicker-unselectable, td.ui-state-disabled {
    .ui-state-default {
      color: #999;
    }
    &:hover {
      background-color: #FAFAFA;
    }
  }
}
.rx-nav-appointment {
  float: left !important;
}

#rx_nav_date {
  position: absolute;
  text-align: center;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  .rx-month-year {
    font-size: 24px;
    width: 8em;
    position: absolute;
    text-align: center;
  }
  .rx-nav-ytt {
    position: absolute;
    top: 2em;
    left: 2em;
    width: 8em;
    font-size: 16px;
    text-align: center;
  }
  .rx-nav-wday {
    position: absolute;
    top: 0.25em;
    font-size: 24px;
    left: 9em;
  }
  .rx-nav-day {
    position: absolute;
    top: 2em;
    font-size: 16px;
    left: 16.5em;
  }
  .rx-nav-date {
    font-size: 14px;
    cursor: pointer;
    border-bottom: 5px solid transparent;
    display: block;
    padding: 1.25em;
    padding-top: 1.5em;
    padding-bottom: 1em;
    margin: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #FFF;
    text-shadow: 0 0 1px #999, 0 0 10px #000;
    &:hover {
      border-bottom: 5px solid $rx-logo-color2;
    }
    &:active {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, white));
      background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 100%);
      background-image: -moz-linear-gradient(bottom, #eeeeee 0%, white 100%);
      background-image: -webkit-linear-gradient(bottom, #eeeeee 0%, white 100%);
      background-image: -ms-linear-gradient(bottom, #eeeeee 0%, white 100%);
      background-image: linear-gradient(to bottom, #eeeeee 0%, white 100%);
      color: #111;
      box-shadow: inset 0 0 1px #333;
      border-bottom: 5px solid darken($rx-logo-color2, 20%);
      text-shadow: 0 0 1px #000, 0 1px 1px #333;
    }
    &.rx-active {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, white));
      background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 100%);
      background-image: -moz-linear-gradient(bottom, #eeeeee 0%, white 100%);
      background-image: -webkit-linear-gradient(bottom, #eeeeee 0%, white 100%);
      background-image: -ms-linear-gradient(bottom, #eeeeee 0%, white 100%);
      background-image: linear-gradient(to bottom, #eeeeee 0%, white 100%);
      color: #111;
      box-shadow: inset 0 0 1px #333;
      border-bottom: 5px solid darken($rx-logo-color2, 20%);
      text-shadow: 0 0 1px #000, 0 1px 1px #333;
    }
  }
}

#rx_add_appointment {
  @include span-columns(12,12);
  display: none;
  padding: 1em;
  padding-right: 2em;
  // table {
  //   tr {
  //     td:nth-child(1) {
  //       width: 20%;
  //     }
  //     textarea { width: 98%; }
  //     input { 
  //       width: 98%;
  //     }
  //   }
  // }
  .rx-lcol {
    @include span-columns(2,12);
    padding: 0.5em 0;
  }
  .rx-icol {
    @include span-columns(10,12);
    input { width: 97%; }
    textarea { width: 97%; }
  }
}
// .search-for-appointment {
// }

// .welcome-index {
// 	padding-bottom: 2em;
// }
// .promotions {
// 	background: #FFF;
// 	box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
// 	padding: 1em;
// 	margin-bottom: 1em;
// }

// /* TABS STYLES --START */ 
// .get-inside {
// 	margin-top: 1em;
// 	margin-bottom: 1em;
// 	.menu { 
// 		margin:0; padding: 0; clear: both; 
// 		li { 
// 			float:left; list-style-type: none;
// 			a { 
// 			  background: #0079A1;
// 			  background: -moz-linear-gradient(top, #0079A1 0%, #0079A1 100%);
// 			  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0079A1), color-stop(100%,#0079A1));
// 			  background: -webkit-linear-gradient(top, #0079A1 0%,#0079A1 100%);
// 			  background: -o-linear-gradient(top, #0079A1 0%,#0079A1 100%);
// 			  background: -ms-linear-gradient(top, #0079A1 0%,#0079A1 100%);
// 			  background: linear-gradient(top, #0079A1 0%,#0079A1 100%);
// 			  font-size: 12px;
// 			  line-height: 40px;
// 			  height: 40px;
// 			  position: relative;
// 			  padding: 0 20px;
// 		    float: left;
// 			  display: block;
// 			  color: #FAFAFA;
// 			  top: 0px;
// 			  letter-spacing: 1px;
// 			  text-transform: uppercase;
// 			  font-weight: bold;
// 			  text-align: center;
// 			  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
// 		    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
// 		  	text-decoration: none;
// 			}
// 			a:hover { background: darken(#0079A1, 5%); }
// 			&.active a { background: darken(#0079A1, 10%); }
// 		}
// 	}

// 	.content {
// 	  background: #FFFFFF;
// 	  position: relative;
// 	  width: 100%;
// 	  z-index: 5;
// 	  overflow: hidden;
// 	  box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
// 	  padding: 1em;
// 	}

// }
/* TABS STYLES --START */

// HOME PAGE .HTML.HAML

#rx_homepage {
  @include span-columns(12,12);
  background: url("/images/homepage-back.jpg") no-repeat fixed center;
  background-size: cover;
  height: 1440px;

  #rx_logo {
    @include span-columns(12,12);
    img {
      @include span-columns(12,12);
      @include prefix(5);
      @include suffix(5);
    }
  }

  #rx_appointment {
    @include span-columns(8,12);

    .rx-appointment {
      // background-color: rgba(0,0,0,0.4);
      margin: 0 1em;
      height: 400px;
      border-radius: 3px;
      padding: 1em 0;

      h1 {
        color: #DEDEDE;
        text-align: center;
      }
      h2 {
        color: #DEDEDE;
      }

      #rx_sfa {
        background-color: none;
        background-image: none;
        box-shadow: none;
        padding: 1em 0;

        input {
          background-color: rgba(0,0,0,0.6);
          box-shadow: none;
          color: #FAFAFA;
          border: 1px solid rgba(0,0,0,1);
          width: 30%;
          padding: 1em;
          &:focus {
            box-shadow: 0 0 5px 1px #000;
            background-color: rgba(0,0,0,0.8);
          }
        }
      }

      .rx-hr-splitter {
        hr.rx-or-split:after {
          background: rgba(0,0,0,0.8);
          color: #FAFAFA;
          padding: 0.5em;
          border-radius: 200px;
          top: -0.9em;
        }
      }
    }
  }
  #rx_login_signup {
    @include span-columns(4,12);

    .rx-login-signup {
      background-color: rgba(0,0,0,0.4);
      border-radius: 3px;
      margin: 1em;
      height: 400px;

      #rx_get_inside {
        @include span-columns(12,12);
        padding: 1em;
        ul#rx_login_signup {
          @include span-columns(12,12);
          li {
            float: left;
            margin: 1.1em 0.25em;
            color: #FAFAFA;
            font-size: 16px;
            font-weight: 700;
            a {
              color: #FCFCFC;
              background-color: rgba(0,0,0,0.6);
              padding: 1em;
              text-decoration: none;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              &:hover {
                background-color: rgba(0,0,0,0.5);
              }
              &:active {
                background-color: rgba(0,0,0,0.8);
              }
              &.active {
                background-color: rgba(0,0,0,0.8);
              }
            }
          }
          .rx-content {
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 2px;
          }
        }
        input { 
          width: 100%;
          background-color: rgba(0,0,0,0.6);
          box-shadow: none;
          color: #FAFAFA;
          border: 1px solid rgba(0,0,0,1);
          &:focus {
            box-shadow: 0 0 5px 1px #000;
            background-color: rgba(0,0,0,0.8);
          }
        }
        .rx-hr-splitter {
          hr.rx-or-split:after {
            background: rgba(0,0,0,0.8);
            color: #FAFAFA;
            padding: 0.5em;
            border-radius: 200px;
            top: -0.9em;
          }
        }
      }
    }
  }
}