<div fix-side-nav class="rx-pp-sn" ng-controller="SideNavCtrl">
  <div class="rx-pp-sn-wrap-fixed rx-dn">
    <ul>
      <a href="#/info">
        <li class="{{activeBasic}}">Basic Info</li>
      </a>
      <a href="#/emergency_contacts">
        <li class="{{activeEmergencyContacts}}">Emergency Contacts</li>
      </a>
      <a href="#/vitals">
        <li class="{{activeVitals}}">Vitals</li>
      </a>
      <a href="#/allergies">
        <li class="{{activeAllergies}}">Allergies</li>
      </a>
      <a href="#/conditions">
        <li class="{{activeConditions}}">Conditions</li>
      </a>
      <a href="#/prescriptions">
        <li class="{{activePrescriptions}}">Prescriptions</li>
      </a>
      <a href="#/immunizations">
        <li class="{{activeImmunizations}}">Immunizations</li>
      </a>
      <a href="#/obstetrics" ng-show="!patient.gender">
        <li class="{{activeObstetrics}}">Obstetrics</li>
      </a>
      <a href="#/surgeries">
        <li class="{{activeSurgeries}}">Surgeries</li>
      </a>
      <a href="#/insurances">
        <li class="{{activeInsurances}}">Insurances</li>
      </a>
      <!-- <li class="{{activeFamilies}}"><a href="#/families">Families</a></li> -->
      <!-- <img src="/images/150x150.gif" alt="some" /> Testing that usemin process concatenates timestamp to images in subfolders too -->
    </ul>
  </div>
  <div class="rx-pp-sn-wrap">
    <ul>
      <a href="#/info">
        <li class="{{activeBasic}}">Basic Info</li>
      </a>
      <a href="#/emergency_contacts">
        <li class="{{activeEmergencyContacts}}">Emergency Contacts</li>
      </a>
      <a href="#/vitals">
        <li class="{{activeVitals}}">Vitals</li>
      </a>
      <a href="#/allergies">
        <li class="{{activeAllergies}}">Allergies</li>
      </a>
      <a href="#/conditions">
        <li class="{{activeConditions}}">Conditions</li>
      </a>
      <a href="#/prescriptions">
        <li class="{{activePrescriptions}}">Prescriptions</li>
      </a>
      <a href="#/immunizations">
        <li class="{{activeImmunizations}}">Immunizations</li>
      </a>
      <a href="#/obstetrics" ng-show="!patient.gender">
        <li class="{{activeObstetrics}}">Obstetrics</li>
      </a>
      <a href="#/surgeries">
        <li class="{{activeSurgeries}}">Surgeries</li>
      </a>
      <a href="#/insurances">
        <li class="{{activeInsurances}}">Insurances</li>
      </a>
      <!-- <li class="{{activeFamilies}}"><a href="#/families">Families</a></li> -->
      <!-- <img src="/images/150x150.gif" alt="some" /> Testing that usemin process concatenates timestamp to images in subfolders too -->
    </ul>
  </div>
</div>
