<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_allergy_edit">

    <div id="rx_pp_aed">
      <form name="emergencyContactForm" class="rx_pp_aef" novalidate>
        <div class="rx-pp-aei-first-name">
          <div class="rx-flabel">
            <label for="first_name">First Name</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="first_name" id="first_name" ng-model="emergencyContact.first_name" placeholder="First Name" class="rx-input-text rx-wf" required />
          </div>
          <div class="rx-ferrors">
            <p ng-show="!emergencyContactForm.first_name.$pristine && emergencyContactForm.first_name.$error.required">First Name not provided.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-last-name">
          <div class="rx-flabel">
            <label for="last_name">Last Name</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="last_name" id="last_name" ng-model="emergencyContact.last_name" placeholder="Last Name" class="rx-input-text rx-wf" required/>
          </div>
          <div class="rx-ferrors">
            <p ng-show="!emergencyContactForm.last_name.$pristine && emergencyContactForm.last_name.$error.required">Last Name not specified.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-email">
          <div class="rx-flabel">
            <label for="email">Email</label>
          </div>
          <div class="rx-finput">
            <input type="email" name="email" id="email" ng-model="emergencyContact.email" placeholder="Email" class="rx-input-text rx-wf" required/>
          </div>
          <div class="rx-ferrors">
            <p ng-show="!emergencyContactForm.email.$pristine && emergencyContactForm.email.$error.required">Email not specified.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-address-line1">
          <div class="rx-flabel">
          <label for="address_line1">Address Line 1</label></div>

          <div class="rx-finput">
          <input type="text" name="address_line1" id="address_line1" date="emergencyContact.address_line1" ng-model="emergencyContact.address_line1" placeholder="Address Line 1" class="rx-input-text rx-wf" required /></div>
          <div class="rx-ferrors">
            <p ng-show="!emergencyContactForm.address_line1.$pristine && emergencyContactForm.address_line1.$error.required">Address Line 1 not provided.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-address-line2">
          <div class="rx-flabel">
          <label for="address_line2">Address Line 2</label></div>

          <div class="rx-finput">
          <input type="text" name="address_line2" id="address_line2" date="emergencyContact.address_line2" ng-model="emergencyContact.address_line2" placeholder="Address Line 2" class="rx-input-text rx-wf" required /></div>
          <div class="rx-ferrors">
            <p ng-show="!emergencyContactForm.address_line2.$pristine && emergencyContactForm.address_line2.$error.required">Address Line 2 not provided.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-district">
          <div class="rx-flabel">
          <label for="district">District</label></div>

          <div class="rx-finput">
          <input type="text" name="district" id="district" date="emergencyContact.district" ng-model="emergencyContact.district" placeholder="District" class="rx-input-text rx-wf" required /></div>
          <div class="rx-ferrors">
            <p ng-show="!emergencyContactForm.district.$pristine && emergencyContactForm.district.$error.required">District not provided.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-city">
          <div class="rx-flabel">
          <label for="city">City</label></div>

          <div class="rx-finput">
          <input type="text" name="city" id="city" date="emergencyContact.city" ng-model="emergencyContact.city" placeholder="City" class="rx-input-text rx-wf" required /></div>
          <div class="rx-ferrors">
            <p ng-show="!emergencyContactForm.city.$pristine && emergencyContactForm.city.$error.required">City not provided.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-state">
          <div class="rx-flabel">
          <label for="state">State</label></div>

          <div class="rx-finput">
          <input type="text" name="state" id="state" date="emergencyContact.state" ng-model="emergencyContact.state" placeholder="State" class="rx-input-text rx-wf" required /></div>
          <div class="rx-ferrors">
            <p ng-show="!emergencyContactForm.state.$pristine && emergencyContactForm.state.$error.required">State not provided.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-pincode">
          <div class="rx-flabel">
            <label for="pincode">Pincode</label>
          </div>
          <div class="rx-finput">
            <input type="number" name="pincode" id="pincode" ng-model="emergencyContact.pincode" placeholder="Pincode" class="rx-input-text rx-wf" required/>
          </div>
          <div class="rx-ferrors">
            <p ng-show="!emergencyContactForm.pincode.$pristine && emergencyContactForm.pincode.$error.required">Pincode not specified.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-phone-type">
          <div class="rx-flabel">
            <label for="phone_type">Phone Type</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="phone_type" id="phone_type" ng-model="emergencyContact.phone_type" placeholder="Phone Type" class="rx-input-text rx-wf" required/>
          </div>
          <div class="rx-ferrors">
            <p ng-show="!emergencyContactForm.phone_type.$pristine && emergencyContactForm.phone_type.$error.required">Phone Type not specified.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-phone-no">
          <div class="rx-flabel">
            <label for="phone_no">Phone Number</label>
          </div>
          <div class="rx-finput">
            <input type="number" name="phone_no" id="phone_no" ng-model="emergencyContact.phone_no" placeholder="Phone Number" class="rx-input-text rx-wf" required/>
          </div>
          <div class="rx-ferrors">
            <p ng-show="!emergencyContactForm.phone_no.$pristine && emergencyContactForm.phone_no.$error.required">Phone Number not specified.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        
        <div class="rx-flabel"></div>
        <div class="rx-finput">
        <button ng-disabled="emergencyContactForm.$invalid || isDisabled" type="submit" class="rx-button" ng-click="createEmergencyContact()">Create</button></div>
      </form>
    </div>

  </div>

</div>
