<div class="rx-appsea-rb">
  <div class="rx-appsea-rb-s">
    <div class="rx-appsea-rb-dp">
      <img src="/images/150x150.gif" alt="Appointment Doctor Pic." />
    </div>
    <div class="rx-appsea-rb-c">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, impedit, perspiciatis, ducimus voluptatem facere iste eligendi iusto odit in similique ut temporibus itaque laboriosam quam eveniet nesciunt quia iure velit?</p>
    </div>
    <div class="rx-appsea-rb-bab">
      <button type="submit" class="rx-button-shady">Book Appointment</button>
    </div>
  </div>
  <div class="rx-appsea-rb-d">
    <table class="rx-outer">
      <tbody>
        <tr>
          <td class="prev first">
            <span>PREV DAY</span>
          </td>
        </tr>
        <tr>
          <td class="first">
            <div class="rx-elt">
              <div class="type">
                <span>TODAY</span>
              </div>
              <div class="day">Thursday</div>
              <div class="date">23, Jan</div>
            </div>
          </td>
          <td class="second">
            <table>
              <tbody>
                <tr>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td class="first">
            <div class="rx-elt">
              <div class="type">
                <span>TOMORROW</span>
              </div>
              <div class="day">Friday</div>
              <div class="date">24, Jan</div>
            </div>
          </td>
          <td class="second">
            <table>
              <tbody>
                <tr>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">7:00 PM</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td class="first">
            <div class="rx-elt">
              <div class="type">
                <span>DAY AFTER</span>
              </div>
              <div class="day">Saturday</div>
              <div class="date">25, Jan</div>
            </div>
          </td>
          <td class="second">
            <table>
              <tbody>
                <tr>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">00:00 AM</div>
                  </td>
                  <td>
                    <div class="rx-el">21:00 PM</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                  <td>
                    <div class="rx-el">4:00 PM</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td class="next first">
            <span>NEXT DAY</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
