<footer>
	<div class="foot-row">
		<div class="foot-col">
			<h2 class="title"><span>Explore</span></h2>
			<ul>
				<li>Blog</li>
				<li>Data&nbsp;Sciences</li>
				<li>Mobile</li>
				<li>Android</li>
				<li>iOS</li>
			</ul>
		</div>
		<div class="foot-col">
			<h2 class="title"><span>Startup</span></h2>
			<ul>
				<li>Careers</li>
				<li>About&nbsp;Us</li>
				<li>Terms</li>
				<li>Privacy&nbsp;Policy</li>
				<li>Attributions</li>
			</ul>
		</div>
		<div class="foot-col">
			<h2 class="title"><span>Follow</span></h2>
			<ul>
				<li>Facebook</li>
				<li>Twitter</li>
				<li>Linkedin</li>
				<li>Google&nbsp;Plus</li>
			</ul>
		</div>
		<div class="foot-col">
			<h2 class="title left"><span>RXHEALTH</span></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, itaque accusamus delectus culpa molestiae dignissimos libero minima porro maxime unde ipsam fugiat fugit vitae ipsa impedit ullam excepturi animi aut!</p>
			<a href="#feedback"><i class="fa fa-bullhorn"></i>&nbsp;&nbsp;<span>Feedback<span></a>
		</div>
	</div>
	<div class="foot-row foot-center copy-right">
		&copy;&nbsp;2014 Rxhealth.co.in All rights reserved
	</div>
</footer>