<!-- header.rx-hdef-->
<!--   ul#rx_navigation.clearfix-->
<!--     li.rx-highlight-->
<!--       img#rx_logo(src="/images/rx-nav-bar-logo-small-bw.png", alt="Company Logo")-->
<!--     li Home-->
<!--     li About-->
<!--     li.rx-active Features-->
<!--     li Listings-->
<!--     li Contact Us-->
<!-- .rx-pdtb-->
<div ng-controller="HeaderCtrl">

<header class="rx-hdef">
  <ul id="rx_navigation">
    <a href="#/"><li class="rx-highlight"><img src="/images/rx-nav-bar-logo-small-bw.png" id="rx-logo" alt="Company Logo"/></li></a>
    <a href="#/profile"><li class="rx-dropdown">Profile <span class="rx-dropdown-icon"><i class="fa fa-angle-double-down"></i></span></li></a>
    <a href="#/info" class="rx-nav-icon"><li><i class="fa fa-cog fa-2x"></i></li></a>
    <a class="rx-nav-icon" ng-click="dialogOpen()"><li class="rx-add-appointment"><i class="fa fa-plus fa-2x"></i></li></a>
    <a href="#/nearby" class="rx-nav-icon"><li class="rx-nav-appointment"><i class="fa fa-location-arrow fa-2x"></i></li></a>
  </ul>
  <div id="rx_nav_date">
    <!-- span.rx-month-year-->
    <!--   January, 2014-->
    <!-- span.rx-nav-ytt-->
    <!--   Today-->
    <!-- span.rx-nav-wday -->
    <!--   Thursday-->
    <!-- span.rx-nav-day-->
    <!--   16--><span class="rx-nav-date" ng-click="calendarOpen()">{{ currentDate }}</span>
  </div>
</header>
<div class="rx-pdtb"></div>
<div id="rx_nav_input_appointment"></div> <!-- This is inline large calendar div -->

<div class="rx-errors-wrap" ng-show="bErrors">
  <div class="rx-errors">
    <p>{{ cErrors }}</p>
    <i class="fa fa-times-circle-o fa-2x rx-eclose" ng-click="closeErrors()"></i>
  </div>
</div>

<div id="rx_add_appointment" title="New Appointment Details">
  
  <div class="rx-lcol">
    <label for="name" class="rx-dp-pi-l">Patient</label>
  </div>
  <div class="rx-icol">
    <input type="text" name="first_name" placeholder="first name" class="rx-input-text"/>
    <input type="text" name="last_name" placeholder="last name" class="rx-input-text"/>
  </div>
  
  <div class="rx-lcol"><label for="location" class="rx-dp-pi-l">Location</label></div>
  <div class="rx-icol"><input type="text" name="location" placeholder="enter your location" class="rx-input-text"/></div>
  
  <div class="rx-lcol">
    <label for="reason">Reason</label>
  </div>
  <div class="rx-icol">
    <textarea name="reason" placeholder="Reason" rows="10" class="rx-input-text"></textarea>
  </div>

  <div class="rx-lcol"></div>
  <div class="rx-icol">
    <button class="rx-button rx-wf">Save</button>
  </div>
</div>

</div>