<header class="rx-hdef2">
  <ul id="rx_navigation">
    <a href="#/"><li class="rx-highlight"><img src="/images/rx-nav-bar-logo-small.png" id="rx-logo" alt="Company Logo"/></li></a>
  </ul>
  <ul id="rx_navigation2">
    <a href="#/demo"><li>Demo</li></a>
    <a href="#/features"><li>Features</li></a>
    <a href="#/signup"><li>Sign Up</li></a>
  </ul>
</header>
<div class="rx-pdtb"></div>

<div class="rx-errors-wrap" ng-show="bErrors">
  <div class="rx-errors">
    <p>{{ cErrors }}</p>
    <i class="fa fa-times-circle-o fa-2x rx-eclose" ng-click="closeErrors()"></i>
  </div>
</div>