<div subnavigation id="rx_pp_sub_nav" ng-controller="SubNavigationCtrl">
  <div id="rx_pp_pi_img">
    <!-- <img src="/images/150x150.gif" alt=""/> -->
    <img ng-src="{{ avatarUrl }}" ng-cloak class="rx-dn"/>
    <span class="edit-image-button" ng-click="openUploader()">Change Profile Pic</span>
  </div>
  <div id="rx_pp_articles_search" class="rx-pp-search">
    <div class="search-results">
      <div class="close-button" ng-click="forceSearching()"><i class="fa fa-times"></i>&nbsp;Close</div>
      <div class="sr-item" ng-repeat="article in searchResults | limitTo:5" ng-init="getContent(article.id)">
        <h2 class="sr-ih">{{ article.title }}</h2>
        <p class="sr-ic">{{ searchResultsContents[article.id].contents[0].body | limitTo:150 }}...</p>
      </div>
    </div>
    <input ng-model="searchArticles" type="text" placeholder="Search articles for your common problems..." ng-change="getSearchResults()" />
  </div>
  <div id="rx_pp_hospitals_search" class="rx-pp-search">
    <input id="location_input" ng-model="searchHospitals" type="text" placeholder="Search hospitals in your location..." />
  </div>
  <div id="rx_pp_hschoices" horizontal-search-select>
    <div class="hs-wrapper">
      <div id="hs_item_hospitals" class="hs-item" ng-click="showHospitalsSearch()">Hospitals</div>
      <div id="hs_item_pharmacies" class="hs-item" ng-click="showPharmaciesSearch()">Pharmacies</div>
      <div id="hs_item_doctors" class="hs-item" ng-click="showDoctorsSearch()">Doctors</div>
      <div id="hs_item_articles" class="hs-item" ng-click="showArticlesSearch()">Articles</div>
    </div>
  </div>
  <div id="rx_pp_info_bar">
    <div>
      <span class="patient-name">Piyush Chauhan</span>
      <span class="patient-email">&nbsp;(piyushchauhan2011@gmail.com)</span>
    </div>
    <!-- <div>
      <span class="patient-phone">7597780847</span>
      <span class="patient-birthday">&nbsp;(Feb 14, 1990)</span>
    </div> -->
  </div>
  <!-- <div id="rx_pp_stype" choices-dropdown>
    <div class="stype-dropdown">
      <div class="sd-current">{{ dropdownCurrentSelection }}&nbsp;&nbsp;<i class="fa fa-caret-square-o-down"></i></div>
      <div class="sd-item-wrap">
        <div class="sd-item" ng-repeat="d in dropdownValues" ng-click="setDropdownCurrentSelection(d)">{{d}}</div>
      </div>
    </div>
  </div> -->
  <div id="rx_pp_sub_nav_container">
  <ul class="rx-sub-nav">
    <a href="#index"><li class="{{subNavigationIndex}}">Index</li></a>
    <a href="#profile"><li class="{{subNavigationProfile}}">Profile</li></a>
    <a href="#saved_articles"><li class="{{subNavigationSavedArticles}}">Saved&nbsp;Articles</li></a>
    <a href="#healthlogs"><li class="{{subNavigationHealthlogs}}">Health Logs</li></a>
  </ul>
  </div>

  <!-- Edit Image Uploader HTML -->
  <div id="edit_image_uploader" class="rx-dn" title="Profile Pic Image Edit/Upload">
    <div class="progress">
        <div class="bar"></div >
        <div class="percent">0%</div >
    </div>
    <div id="status"></div>
    <br/>
    <form action="file-echo2.php" method="post" enctype="multipart/form-data">
        <input type="file" name="patient[avatar]" />
        <input class="rx-button" type="submit" value="Upload Pic" />
    </form>
  </div>

</div>
