<div about class="about-page">
	<section id="home" data-type="background" data-speed="10">     
  	<article>I am absolute positioned</article>
  </section>   
	     
	<section id="about" data-type="background" data-speed="10">
		<article>Simple Parallax Scroll</article>
	</section>

	<section id="team" data-type="background" data-speed="10">
		<h1 class="team-header">Team</h1>
		<div class="member-wrap">
			<div class="member-pic">
				<img src="/images/abhishek-rx-pic.jpg" alt="Member Pic" />
			</div>
			<div class="member-info">
				<p>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, corporis, libero nam repudiandae ratione minima enim cumque quas rerum alias molestias itaque nihil dolore fugit exercitationem quam dolorem illum rem?</span>
					<span>Numquam, veritatis, ullam maiores quidem cum suscipit ipsum eaque placeat quam sed iste maxime tenetur nihil omnis ratione voluptatem enim quis earum eligendi possimus. Doloremque, facilis eum tenetur quam expedita.</span>
					<span>Quas, asperiores distinctio accusantium commodi quo odit aliquam eius sint sapiente nostrum suscipit doloremque. Sequi, ea, eum distinctio consectetur tempora harum provident voluptate nisi id aspernatur architecto laudantium culpa ex!</span>
					<span>Temporibus, voluptates consequuntur quibusdam voluptas deleniti sint culpa a! Magni, minima, impedit, architecto quam rerum ducimus similique nemo error laboriosam ea eum animi labore inventore accusantium soluta ipsa totam amet.</span>
					<span>Sed, molestias a nulla consequatur expedita facilis numquam accusamus fugiat? Magnam, tenetur, eius mollitia voluptatum et corporis exercitationem iste nihil animi ullam. Dolores, quod, ullam in distinctio cupiditate facilis deleniti?</span>
				</p>
			</div>
		</div>
		<div class="member-wrap">
			<div class="member-info">
				<p>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, corporis, libero nam repudiandae ratione minima enim cumque quas rerum alias molestias itaque nihil dolore fugit exercitationem quam dolorem illum rem?</span>
					<span>Numquam, veritatis, ullam maiores quidem cum suscipit ipsum eaque placeat quam sed iste maxime tenetur nihil omnis ratione voluptatem enim quis earum eligendi possimus. Doloremque, facilis eum tenetur quam expedita.</span>
					<span>Quas, asperiores distinctio accusantium commodi quo odit aliquam eius sint sapiente nostrum suscipit doloremque. Sequi, ea, eum distinctio consectetur tempora harum provident voluptate nisi id aspernatur architecto laudantium culpa ex!</span>
					<span>Temporibus, voluptates consequuntur quibusdam voluptas deleniti sint culpa a! Magni, minima, impedit, architecto quam rerum ducimus similique nemo error laboriosam ea eum animi labore inventore accusantium soluta ipsa totam amet.</span>
					<span>Sed, molestias a nulla consequatur expedita facilis numquam accusamus fugiat? Magnam, tenetur, eius mollitia voluptatum et corporis exercitationem iste nihil animi ullam. Dolores, quod, ullam in distinctio cupiditate facilis deleniti?</span>
				</p>
			</div>
			<div class="member-pic">
				<img src="/images/piyush-rx-pic.jpg" alt="Member Pic" />
			</div>
		</div>
		<div class="member-wrap">
			<div class="member-pic">
				<img src="/images/aman-rx-pic.jpg" alt="Member Pic" />
			</div>
			<div class="member-info">
				<p>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, corporis, libero nam repudiandae ratione minima enim cumque quas rerum alias molestias itaque nihil dolore fugit exercitationem quam dolorem illum rem?</span>
					<span>Numquam, veritatis, ullam maiores quidem cum suscipit ipsum eaque placeat quam sed iste maxime tenetur nihil omnis ratione voluptatem enim quis earum eligendi possimus. Doloremque, facilis eum tenetur quam expedita.</span>
					<span>Quas, asperiores distinctio accusantium commodi quo odit aliquam eius sint sapiente nostrum suscipit doloremque. Sequi, ea, eum distinctio consectetur tempora harum provident voluptate nisi id aspernatur architecto laudantium culpa ex!</span>
					<span>Temporibus, voluptates consequuntur quibusdam voluptas deleniti sint culpa a! Magni, minima, impedit, architecto quam rerum ducimus similique nemo error laboriosam ea eum animi labore inventore accusantium soluta ipsa totam amet.</span>
					<span>Sed, molestias a nulla consequatur expedita facilis numquam accusamus fugiat? Magnam, tenetur, eius mollitia voluptatum et corporis exercitationem iste nihil animi ullam. Dolores, quod, ullam in distinctio cupiditate facilis deleniti?</span>
				</p>
			</div>
		</div>
		<div class="member-wrap">
			<div class="member-info">
				<p>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, corporis, libero nam repudiandae ratione minima enim cumque quas rerum alias molestias itaque nihil dolore fugit exercitationem quam dolorem illum rem?</span>
					<span>Numquam, veritatis, ullam maiores quidem cum suscipit ipsum eaque placeat quam sed iste maxime tenetur nihil omnis ratione voluptatem enim quis earum eligendi possimus. Doloremque, facilis eum tenetur quam expedita.</span>
					<span>Quas, asperiores distinctio accusantium commodi quo odit aliquam eius sint sapiente nostrum suscipit doloremque. Sequi, ea, eum distinctio consectetur tempora harum provident voluptate nisi id aspernatur architecto laudantium culpa ex!</span>
					<span>Temporibus, voluptates consequuntur quibusdam voluptas deleniti sint culpa a! Magni, minima, impedit, architecto quam rerum ducimus similique nemo error laboriosam ea eum animi labore inventore accusantium soluta ipsa totam amet.</span>
					<span>Sed, molestias a nulla consequatur expedita facilis numquam accusamus fugiat? Magnam, tenetur, eius mollitia voluptatum et corporis exercitationem iste nihil animi ullam. Dolores, quod, ullam in distinctio cupiditate facilis deleniti?</span>
				</p>
			</div>
			<div class="member-pic">
				<img src="/images/kshitij-rx-pic.jpg" alt="Member Pic" />
			</div>
		</div>
	</section>
</div>