<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_allergy">
    <div id="rx_pp_ad">
      <input type="text" ng-model="search" class="rx-input-text input-filter rx-wtf" placeholder="Filter..." />
      <button class="rx-button rx-fr" ng-click="addNewAllergy()">Add New Allergy</button>
      <table class="table table-hover table-striped" id="rx_pp_al">
        <thead>
          <tr>
            <th>Name</th>
            <th>Reaction</th>
            <th>Observation</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="allergy in allergies | filter:search" ng-click="navigateToAllergy(allergy.id)">
            <td><p>{{ allergy.allergy }}</p></td>
            <td><p>{{ allergy.reaction }}</p></td>
            <td><p>{{ allergy.first_observed }} {{ allergy.last_observed }}</p></td>
            <td><p>{{ allergy.note }}</p></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>