<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_allergy_edit">

    <div id="rx_pp_aed">
      <form name="allergyForm" class="rx_pp_aef" novalidate>
        <div class="rx-pp-aei-name">
          <div class="rx-flabel">
            <label for="name">Allergy Name</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="name" id="name" ng-model="allergy.allergy" placeholder="Allergy Name" class="rx-input-text rx-wf" />
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-type">
          <div class="rx-flabel">
            <label for="type">Allergy type</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="type" ng-model="allergy.allergy_type" placeholder="Allergy type" class="rx-input-text rx-wf" required/>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-severity">
          <div class="rx-flabel">
            <label for="severity">Severity</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="severity" ng-model="allergy.severity" placeholder="Severity" class="rx-input-text rx-wf" required/>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-reaction">
          <div class="rx-flabel">
          <label for="reaction">Reaction</label></div>

          <div class="rx-finput">
          <input type="text" name="reaction" date="allergy.reaction" ng-model="allergy.reaction" placeholder="Reaction" class="rx-input-text rx-wf" required /></div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-first-observed">
          <div class="rx-flabel">
          <label for="first_observed">First Observed</label></div>

          <div class="rx-finput">
          <input datepicker type="first_observed" name="observed" date="allergy.first_observed" ng-model="allergy.first_observed" placeholder="Enter your First Observed" class="rx-input-text rx-wf" required/></div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-last-observed">
          <div class="rx-flabel">
          <label for="last_observed">Last Observed</label></div>

          <div class="rx-finput">
          <input datepicker type="last_observed" name="observed" date="allergy.last_observed" ng-model="allergy.last_observed" placeholder="Enter your Last Observed" class="rx-input-text rx-wf" required/></div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-note">
          <div class="rx-flabel">
          <label for="note">Note</label></div>
          
          <div class="rx-finput">
            <textarea name="note" ng-model="allergy.note" placeholder="Note" rows="4" class="rx-input-text rx-wf" required></textarea>
          </div>
          <div class="clearfix"></div>
        </div>
        
        <div class="rx-flabel"></div>
        <div class="rx-finput">
        <button ng-disabled="allergyForm.$invalid" type="submit" class="rx-button" ng-click="createAllergy()">Update</button></div>
      </form>
    </div>

  </div>

</div>
