<div id="rx_appsea">
  <div id="rx_appsea_filters">
    <div class="rx-appsea-fh">
      <h4 class="rx-appsea-fht">FILTER BY</h4>
      <button class="rx-button rx-appsea-fhb">Apply</button>
    </div>
    <div class="rx-appsea-fl">
      <div class="rx-appsea-fi">
        <div class="rx-appsea-fit">Days</div>
        <div class="rx-appsea-fic">
          <ul> 
            <li>
              <input type="checkbox" id="sunday" name="sunday" value="sunday" class="rx-appsea-fid"/>
              <label for="sunday"> Sunday</label>
            </li>
            <li> 
              <input type="checkbox" id="monday" name="monday" value="monday" class="rx-appsea-fid"/>
              <label for="monday"> Monday</label>
            </li>
            <li> 
              <input type="checkbox" id="tuesday" name="tuesday" value="tuesday" class="rx-appsea-fid"/>
              <label for="tuesday"> Tuesday</label>
            </li>
            <li> 
              <input type="checkbox" id="wednesday" name="wednesday" value="wednesday" class="rx-appsea-fid"/>
              <label for="wednesday"> Wednesday</label>
            </li>
            <li> 
              <input type="checkbox" id="thursday" name="thursday" value="thursday" class="rx-appsea-fid"/>
              <label for="thursday"> Thursday</label>
            </li>
            <li> 
              <input type="checkbox" id="friday" name="friday" value="friday" class="rx-appsea-fid"/>
              <label for="friday"> Friday</label>
            </li>
            <li> 
              <input type="checkbox" id="saturday" name="saturday" value="saturday" class="rx-appsea-fid"/>
              <label for="saturday"> Saturday</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="rx-appsea-fi active">
        <div class="rx-appsea-fit">Timings</div>
        <div class="rx-appsea-fic">
          <ul> 
            <li> 
              <input type="checkbox" id="before-x-am" name="before-x-am" value="before-x-am" class="rx-appsea-fid"/>
              <label for="before-x-am"> Before X AM</label>
            </li>
            <li> 
              <input type="checkbox" id="x-am-noon" name="x-am-noon" value="x-am-noon" class="rx-appsea-fid"/>
              <label for="x-am-noon"> X AM - Noon</label>
            </li>
            <li> 
              <input type="checkbox" id="noon-x-pm" name="noon-x-pm" value="noon-x-pm" class="rx-appsea-fid"/>
              <label for="noon-x-pm"> Noon - X PM</label>
            </li>
            <li> 
              <input type="checkbox" id="x1-x2-pm" name="x1-x2-pm" value="x1-x2-pm" class="rx-appsea-fid"/>
              <label for="x1-x2-pm"> X1 PM - X2 PM</label>
            </li>
            <li> 
              <input type="checkbox" id="after-x-pm" name="after-x-pm" value="after-x-pm" class="rx-appsea-fid"/>
              <label for="after-x-pm"> After X PM</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="rx-appsea-fi">
        <div class="rx-appsea-fit">Consultation Fees</div>
        <div class="rx-appsea-fic">
          <ul> 
            <li> 
              <input type="checkbox" id="rs-0-199" name="rs-0-199" value="rs-0-199" class="rx-appsea-fid"/>
              <label for="rs-0-199"> Rs. 0 - Rs. 199</label>
            </li>
            <li> 
              <input type="checkbox" id="rs-200-399" name="rs-200-399" value="rs-200-399" class="rx-appsea-fid"/>
              <label for="rs-200-399"> Rs. 200 - Rs. 399</label>
            </li>
            <li> 
              <input type="checkbox" id="rs-400-699" name="rs-400-699" value="rs-400-699" class="rx-appsea-fid"/>
              <label for="rs-400-699"> Rs. 400 - Rs. 699</label>
            </li>
            <li> 
              <input type="checkbox" id="rs-700-1000" name="rs-700-1000" value="rs-700-1000" class="rx-appsea-fid"/>
              <label for="rs-700-1000"> Rs. 700 - Rs. 1000</label>
            </li>
            <li> 
              <input type="checkbox" id="rs-above-1000" name="rs-above-1000" value="rs-above-1000" class="rx-appsea-fid"/>
              <label for="rs-above-1000"> Above Rs. 1000</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="rx-appsea-fi">
        <div class="rx-appsea-fit">Qualification</div>
        <div class="rx-appsea-fic"> 
          <ul> 
            <li> 
              <input type="checkbox" id="tj1" name="tj1"/>
              <label for="tj1"> Bachelor of Homeopathic Medicine and Surgery (BHMS)</label>
            </li>
            <li> 
              <input type="checkbox" id="tj2" name="tj2"/>
              <label for="tj2"> Diploma in Oto-Rhino-Laryngology</label>
            </li>
            <li> 
              <input type="checkbox" id="tj3" name="tj3"/>
              <label for="tj3"> Diploma in Tuberculosis and Chest Diseases</label>
            </li>
            <li> 
              <input type="checkbox" id="tj4" name="tj4"/>
              <label for="tj4"> M. D. (Medicine - Homoeopathy)</label>
            </li>
            <li> 
              <input type="checkbox" id="tj5" name="tj5"/>
              <label for="tj5"> MBBS</label>
            </li>
            <li> 
              <input type="checkbox" id="tj6" name="tj6"/>
              <label for="tj6"> MD - General Medicine</label>
            </li>
            <li> 
              <input type="checkbox" id="tj7" name="tj7"/>
              <label for="tj7"> MD - Paediatrics</label>
            </li>
            <li> 
              <input type="checkbox" id="tj8" name="tj8"/>
              <label for="tj8"> MD - Tuberculosis and Respiratory Diseases/ Pulmonary Medicine</label>
            </li>
            <li> 
              <input type="checkbox" id="tj9" name="tj9"/>
              <label for="tj9"> MS - ENT</label>
            </li>
            <li> 
              <input type="checkbox" id="tj10" name="tj10"/>
              <label for="tj10"> MS - General Surgery</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="rx-appsea-fi">
        <div class="rx-appsea-fit">Others</div>
        <div class="rx-appsea-fic"> </div>
      </div>
    </div>
  </div>
  <div id="rx_appsea_content">
    <div id="rx_appsea_view_nav">
      <ul class="rx-appsea-vn clearfix">
        <li class="rx-appsea-vi">MAP VIEW</li>
        <li class="rx-appsea-vi">LIST VIEW</li>
      </ul>
    </div>
    <div id="rx_appsea_results" class="clearfix">
      <div appointment-search-row ng-repeat="i in [1,2,3]"></div>
    </div>
  </div>
</div>