<div id="rx_appbook">
  <div class="rx-appbook-col">
    <div id="rx_appbook_dp" class="clearfix">
      <div class="rx-appbook-dpp"><img src="/images/150x150.gif" alt="Doctor Appointment Book Image."/></div>
      <div class="rx-appbook-dpc">
        <ul>
          <li>A</li>
          <li>B</li>
          <li>C</li>
          <li>D</li>
          <li>E</li>
        </ul>
      </div>
    </div>
    <div id="rx_appbook_promo" class="clearfix">
      <div class="rx-appbook-pg"><img src="/images/150x150.gif" alt="Doctor Appointment Book Image."/><img src="/images/150x150.gif" alt="Doctor Appointment Book Image."/><img src="/images/150x150.gif" alt="Doctor Appointment Book Image."/><img src="/images/150x150.gif" alt="Doctor Appointment Book Image."/><img src="/images/150x150.gif" alt="Doctor Appointment Book Image."/><img src="/images/150x150.gif" alt="Doctor Appointment Book Image."/></div>
    </div>
  </div>
  <div class="rx-appbook-col">
    <div id="rx_appbook_pd">
      <h1>Confirm Appointment</h1>
      <form novalidate class="rx-appbook-pd">
        <label for="first_name" class="rx-db">Name</label>
        <input type="text" ng-model="appointment.first_name" name="first_name" placeholder="first name" class="rx-input-text rx-wh rx-fl"/>
        <input type="text" ng-model="appointment.last_name" name="last_name" placeholder="last name" class="rx-input-text rx-wh"/>
        <label for="appointment_reason" class="rx-db">Appointment Reason</label>
        <input type="text" ng-model="appointment.reason" name="appointment_reason" placeholder="Enter your reason" class="rx-input-text rx-wf"/>
        <label for="email" class="rx-db">Email</label>
        <input type="text" ng-model="appointment.email" name="email" placeholder="Enter your email" class="rx-input-text rx-wf"/>
        <label for="mobile_no" class="rx-db">Mobile No.</label>
        <input type="text" ng-model="appointment.mobile_no" name="mobile_no" placeholder="Enter your mobile no." class="rx-input-text rx-wf"/>
        <button class="rx-button-flat rx-wf" ng-click="bookAppointment(appointment)">Book Appointment</button>
      </form>
    </div>
  </div>
</div>