<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_info">
    <!-- <div class="rx-form-errors">
      {{ patientForm.city.$error }}
      {{ patientForm.district.$error }}
    </div> -->
    <div id="rx_pp_id">
      <form name="patientForm" class="rx_pp_if" novalidate>
        <div class="rx-pp-ii-govid">
          <div class="rx-flabel">
            <label for="gov_id">Goverment Id</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="gov_id" id="gov_id" ng-model="patient.gov_id" placeholder="Goverment Id" class="rx-input-text rx-wf" ng-pattern="/\d+/" />
          </div>
          <div class="rx-ferrors">
            <p ng-show="patientForm.gov_id.$error.pattern">Goverment id is not right.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="rx-pp-ii-name">
          <div class="rx-flabel">
            <label for="first_name">Name</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="first_name" ng-model="patient.first_name" placeholder="first name" class="rx-input-text rx-wh" required/>
            <input type="text" name="last_name" ng-model="patient.last_name" placeholder="last name" class="rx-input-text rx-wh" required/>
          </div>
          <div class="rx-ferrors">
            <p>
              <span ng-show="patientForm.first_name.$error.required">First Name is Not right</span>
              <span ng-show="patientForm.last_name.$error.required">, Last Name is Not right</span>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-ii-dob">
          <div class="rx-flabel">
            <label for="dob">Date of Birth</label>
          </div>

          <div class="rx-finput">
            <input datepicker type="text" name="dob" date="patient.dob" ng-model="patient.dob" placeholder="dob" class="rx-input-text rx-wf" required />
          </div>
          <div class="rx-ferrors">
            <p ng-show="patientForm.dob.$error.required">Date is Not Correct</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-ii-email">
          <div class="rx-flabel">
            <label for="email">Email</label>
          </div>

          <div class="rx-finput">
            <input type="email" name="email" ng-model="patient.email" placeholder="enter your email" class="rx-input-text rx-wf" required/>
          </div>
          <div class="rx-ferrors">
            <p ng-show="patientForm.email.$error.required">Email Not right.</p>
            <p ng-show="patientForm.email.$error.email">Not Valid Format.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-ii-blood-group">
          <div class="rx-flabel">
            <label for="blood-group">Blood Group</label>
          </div>

          <div class="rx-finput">
            <select name="blood_group" class="rx-input-select" ng-model="patient.blood_group" ng-options="blood for blood in bloodGroups" required>
              <option value="">Please select a value</option>
            </select>
          </div>
          <div class="rx-ferrors">
            <p ng-show="patientForm.blood_group.$error.required">Blood Group is not correct.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-ii-phone">
          <div class="rx-flabel">
            <label for="phone">Phone No</label>
          </div>

          <div class="rx-finput">
            <input type="text" name="phone" ng-model="patient.primary_phone_no" placeholder="phone" class="rx-input-text rx-wf" required ng-pattern="/^\d+$/" />
          </div>
          <div class="rx-ferrors">
            <p ng-show="patientForm.phone.$error.required">Phone is not correct.</p>
            <p ng-show="patientForm.phone.$error.pattern">Phone Pattern not correct.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-ii-gender">
          <div class="rx-flabel">
            <label for="gender">Gender</label>
          </div>

          <!-- <input type="text" name="gender" ng-model="patient.gender" placeholder="gender" class="rx-input-text rx-wf"/> -->
          <!-- <div class="rx-finput">
          <input type="radio" name="gender" id="male" value="male" ng-checked="patient.gender" /> <label for="male">Male</label></div>
          <div class="rx-finput"><input type="radio" name="gender" id="female" value="female" ng-checked="!(patient.gender)" /> <label for="female">Female</label></div>
          <div class="clearfix"></div> -->
          <div class="rx-finput">
            <div class="rx-sradio" ng-mouseenter="addFocusClass()" ng-mouseleave="removeFocusClass()">
              <div class="rx-srmale">
                <input type="radio" name="gender" id="male" value="1" ng-model="patient.gender" required />
                <label for="male">Male</label>
              </div>
              <div class="rx-srfemale">
                <input type="radio" name="gender" id="female" value="0" ng-model="patient.gender" required />
                <label for="female">Female</label>
              </div>
            </div>
          </div>
          <div class="rx-ferrors">
            <p ng-show="patientForm.gender.$error.required">Gender Not Correct.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-ii-address">
          <!-- ng-repeat="address in patient.addresses" -->
          <div class="rx-pp-ii-address-type">
            <div class="rx-flabel">
              <label for="address-type">Address Type</label>
            </div>
            <div class="rx-finput">
              <select class="rx-input-select" ng-model="patient.address_type" ng-options="type for type in addressTypes" required>
                <option value="">Please select a value</option>
              </select>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="rx-pp-ii-address-line1">
            <div class="rx-flabel">
              <label for="address-line1">Address Line 1</label>
            </div>
            <div class="rx-finput">
              <input type="text" name="address-line1" ng-model="patient.address_type1" placeholder="Address Line 1" class="rx-input-text rx-wf" required />
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="rx-pp-ii-address-line2">
            <div class="rx-flabel">
              <label for="address-line2">Address Line 2</label>
            </div>
            <div class="rx-finput">
              <input type="text" name="address-line2" ng-model="patient.address_type1" placeholder="Address Line 2" class="rx-input-text rx-wf" required />
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="rx-pp-ii-city">
            <div class="rx-flabel">
              <label for="city">City</label>
            </div>
            <div class="rx-finput">
              <input type="text" name="city" ng-model="patient.city" placeholder="City" class="rx-input-text rx-wf" required />
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="rx-pp-ii-district">
            <div class="rx-flabel">
              <label for="district">District</label>
            </div>
            <div class="rx-finput">
              <input type="text" name="district" ng-model="patient.district" placeholder="District" class="rx-input-text rx-wf" required />
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="rx-pp-ii-state">
            <div class="rx-flabel">
              <label for="state">State</label>
            </div>
            <div class="rx-finput">
              <input type="text" name="state" ng-model="patient.state" placeholder="State" class="rx-input-text rx-wf" required />
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="rx-pp-ii-pincode">
            <div class="rx-flabel">
              <label for="pincode">Pincode</label>
            </div>
            <div class="rx-finput">
              <input type="text" name="pincode" ng-model="patient.pincode" placeholder="Pincode" class="rx-input-text rx-wf" required />
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <!-- <div class="rx-pp-ii-emergency-contact">
          <div class="rx-flabel">
          <label for="emergency-contact">Emergency Contact</label></div>

          <div class="rx-finput">
          <input type="text" name="emergency-contact" ng-model="patient.emergency_contact" placeholder="Emergency Contact" class="rx-input-text rx-wf"/></div>
        </div>

        <div class="rx-pp-ii-address">
          <div class="rx-flabel">
          <label for="address">Address</label></div>

          <div class="rx-finput">
          <textarea name="address" rows="4" ng-model="patient.address" placeholder="Address" class="rx-input-text rx-wf"></textarea></div>
        </div>

        <div class="rx-pp-ii-city">
          <div class="rx-flabel">
          <label for="city">City</label></div>

          <div class="rx-finput">
          <input type="text" name="city" ng-model="patient.city" placeholder="City" class="rx-input-text rx-wf"/></div>
        </div>

        <div class="rx-pp-ii-pincode">
          <div class="rx-flabel">
          <label for="pincode">Pincode</label></div>

          <div class="rx-finput">
          <input type="text" name="pincode" ng-model="patient.pincode" placeholder="Pincode" class="rx-input-text rx-wf"/></div>
        </div> -->

        <div class="rx-flabel"></div>
        <div class="rx-finput">
          <button ng-disabled="patientForm.$invalid" type="submit" class="rx-button" ng-click="updateInfo()">Update</button>
        </div>
      </form>
    </div>

  </div>

</div>
