
<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_condition_edit">

    <div id="rx_pp_ced">
      <form name="conditionForm" class="rx_pp_cef" novalidate>
        <div class="rx-pp-cei-name">
          <div class="rx-flabel">
            <label for="name">Condition Name</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="name" id="name" ng-model="condition.name" placeholder="Condition Name" class="rx-input-text rx-wf" required />
          </div>
          <div class="rx-ferrors">
            <p ng-show="conditionForm.name.$error.required">Name is required for condition.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="rx-pp-cei-status">
          <div class="rx-flabel">
            <label for="status">Status</label>
          </div>
          <!-- <div class="rx-finput"> -->
          <!--   <input type="radio" name="status" id="rx_sactive" value="true" ng-checked="condition.status" ng-model="condition.status" required /><label for="rx_sactive">Active</label>
            <input type="radio" name="status" id="rx_sinactive" value="false" ng-checked="!condition.status" ng-model="condition.status" required /><label for="rx_sinactive">Inactive</label>
          </div> -->
          <div class="rx-finput">
            <div class="rx-sradio"> 
            <!--  ng-mouseenter="addFocusClass()" ng-mouseleave="removeFocusClass()" -->
            <div class="rx-srmale">
            <input type="radio" name="status" id="active" value="1" ng-model="condition.status" required /> <label for="active">Active</label>
            </div>
            <div class="rx-srfemale">
            <input type="radio" name="status" id="inactive" value="0" ng-model="condition.status" required /> <label for="inactive">Inactive</label>
            </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-cei-parameters">
          <div class="rx-flabel">
          <label for="parameters">Parameters</label></div>

          <div class="rx-finput">
            <div class="rx-subfrow">
              <div class="rx-subfcol">
                <input type="text" class="rx-input-text" ng-model="ptempKey[0]" placeholder="Parameter Name" required />
                <!-- <select class="rx-input-select"  ng-options="p for p in parameterOptions" required>
                  <option value="">Please select a Parameter</option>
                </select> -->
              </div>
              <div class="rx-subfcol">
                <input type="text" ng-model="ptempValue[0]" class="rx-input-text rx-fr" placeholder="Parameter Value" required />
              </div>
            </div>
          <!-- <input type="text" name="parameters" date="condition.parameters" ng-model="condition.parameters" placeholder="Parameters" class="rx-input-text rx-wf" required /> -->
          </div>
          <div class="rx-ferrors">
              <button class="rx-button rx-ml" ng-click="deleteParameter(0)">Delete Parameter</button>
              <!-- <button class="rx-button">Add Another Parameter</button> -->
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-cei-parameters" ng-repeat="p in ptempKey">
          <div class="rx-flabel">
          <label for="parameters"></label></div>

          <div class="rx-finput">
            <div class="rx-subfrow">
              <div class="rx-subfcol">
                <input type="text" class="rx-input-text" ng-model="ptempKey[$index+1]" placeholder="Parameter Name" ng-required="!$last" />
                <!-- <select class="rx-input-select"  ng-options="p for p in parameterOptions" required>
                  <option value="">Please select a Parameter</option>
                </select> -->
              </div>
              <div class="rx-subfcol">
                <input type="text" ng-model="ptempValue[$index+1]" class="rx-input-text rx-fr" placeholder="Parameter Value" ng-required="!$last" />
              </div>
            </div>
          <!-- <input type="text" name="parameters" date="condition.parameters" ng-model="condition.parameters" placeholder="Parameters" class="rx-input-text rx-wf" required /> -->
          </div>
          <div class="rx-ferrors">
              <button class="rx-button rx-ml" ng-click="deleteParameter($index+1)" ng-show="!$last">Delete Parameter</button>
              <!-- <button class="rx-button">Add Another Parameter</button> -->
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-cei-start-date">
          <div class="rx-flabel">
          <label for="start_date">Start Date</label></div>

          <div class="rx-finput">
          <input datepicker type="text" name="start_date" date="condition.start_date" ng-model="condition.start_date" placeholder="Enter your Start Date" class="rx-input-text rx-wf" required/></div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-cei-end-date">
          <div class="rx-flabel">
          <label for="end_date">Last Observed</label></div>

          <div class="rx-finput">
          <input datepicker type="text" name="end_date" date="condition.end_date" ng-model="condition.end_date" placeholder="Enter your End Date" class="rx-input-text rx-wf" required/></div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-cei-note">
          <div class="rx-flabel">
          <label for="note">Note</label></div>
          
          <div class="rx-finput">
            <textarea name="note" ng-model="condition.note" placeholder="Note" rows="4" class="rx-input-text rx-wf" required></textarea>
          </div>
          <div class="clearfix"></div>
        </div>
        
        <div class="rx-flabel"></div>
        <div class="rx-finput">
        <button ng-disabled="conditionForm.$invalid" type="submit" class="rx-button" ng-click="conditionUpdate()">Update</button></div>
      </form>
    </div>

  </div>

</div>
