
<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_condition">
    <input type="text" ng-model="search" class="rx-input-text input-filter rx-wtf" placeholder="Filter..." />
    <button class="rx-button rx-fr" ng-click="addNewCondition()">Add New Condition</button>
    <div class="rx-pp-cwrap">
      <div class="rx-pp-cd" ng-repeat="condition in conditions | orderBy:condition.status | filter:search" ng-class-odd="'clearfix'">
        <div class="rx-pp-ci">
          <div class="rx-pp-ci-name"><h2 ng-click="navigateToCondition(condition.id)">{{ condition.name | orderBy:condition.status:reverse }}</h2></div>
          <div class="rx-pp-ci-status {{condition.status===true ? 'active': 'inactive'}}">
            <span ng-show="condition.status">Active</span>
            <span ng-show="!condition.status">Inactive</span>
          </div>
          <div class="rx-pp-ci-parameters">
            <h3>Parameters</h3>
            <p ng-hide={{condition.parameters}}>No items</p>
            <ul>
              <li ng-repeat="(key,value) in condition.parameters"><b>{{key}}</b>: {{value}}</li>
            </ul>
          </div>
          <div class="rx-pp-ci-note">
            <h3>Note</h3>
            <p>{{ condition.note }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="rx_pp_ad">
      
      <table class="table table-hover table-striped" id="rx_pp_al">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Parameters</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="condition in conditions">
            <td><p>{{ condition.name }}</p></td>
            <td><p>{{ condition.status }}</p></td>
            <td><p>{{ condition.parameters }}</p></td>
            <td><p>{{ condition.note }}</p></td>
          </tr>
        </tbody>
      </table>
    </div> -->
    
  </div>

</div>