
<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_families">
    <div id="rx_pp_fd">

      <div class="rx-pp-fpb">
        <div class="rx-pp-fp">
          <img src="/images/150x150.gif" alt=""/>
          <div class="rx-pp-fpr">Father</div>
        </div>
      </div>
      <div class="rx-pp-fpb">
        <div class="rx-pp-fp">
          <img src="/images/150x150.gif" alt=""/>
          <div class="rx-pp-fpr">Mother</div>
        </div>
      </div>
      <div class="rx-pp-fpb">
        <div class="rx-pp-fp">
          <img src="/images/150x150.gif" alt=""/>
          <div class="rx-pp-fpr">Brother</div>
        </div>
      </div>

    </div>

    <div id="rx_pp_fd">

      <div class="rx-pp-fpb">
        <div class="rx-pp-fp">
          <img src="/images/150x150.gif" alt=""/>
          <div class="rx-pp-fpr">Sister</div>
        </div>
      </div>
      <div class="rx-pp-fpb">
        <div class="rx-pp-fp">
          <img src="/images/150x150.gif" alt=""/>
          <div class="rx-pp-fpr">Cousin</div>
        </div>
      </div>
      
    </div>
  </div>

</div>