<div feedback id="rx_feedback">
  <div class="rx-fwrapper">
    <div class="rx-ftop">
      <span class="ftop-icon">
        <i class="fa fa-bullhorn fa-4x"></i>
      </span>
      <div class="ftop-content">
        <h3>FEEDBACK</h3>
        <p>Your feedback help us know where we can do better and serve you better!</p>
      </div>
    </div>
    <div class="rx-fclose" ng-click="closeFeedback()">
      <i class="fa fa-times fa-2x"></i>
    </div>
    <div class="rx-fal">
      <i class="fa fa-arrow-left fa-2x"></i>
    </div>
    <div class="rx-far">
      <i class="fa fa-arrow-right fa-2x"></i>
    </div>
    <form novalidate>
    <div class="rx-f1 rx-f">
      <h2 class="rx-fheading">Would you like to recommend Rxhealth.co.in?</h2>
      <span class="rx-fbox rx-fb1" ng-click="setRecommendation(1)"><span class="el">1</span></span>
      <span class="rx-fbox rx-fb2" ng-click="setRecommendation(2)"><span class="el">2</span></span>
      <span class="rx-fbox rx-fb3" ng-click="setRecommendation(3)"><span class="el">3</span></span>
      <span class="rx-fbox rx-fb4" ng-click="setRecommendation(4)"><span class="el">4</span></span>
      <span class="rx-fbox rx-fb5" ng-click="setRecommendation(5)"><span class="el">5</span></span>
      <span class="rx-fbox rx-fb6" ng-click="setRecommendation(6)"><span class="el">6</span></span>
      <span class="rx-fbox rx-fb7" ng-click="setRecommendation(7)"><span class="el">7</span></span>
      <span class="rx-fbox rx-fb8" ng-click="setRecommendation(8)"><span class="el">8</span></span>
      <span class="rx-fbox rx-fb9" ng-click="setRecommendation(9)"><span class="el">9</span></span>
      <span class="rx-fbox rx-fb10" ng-click="setRecommendation(10)"><span class="el">10</span></span>
      <div class="rx-fcontent">
        <div class="ficon"></div>
        <div class="fsaying">I already have.</div>
      </div>
    </div>
    <div class="rx-f2 rx-f">
      <h2 class="rx-fheading">Where did you hear about Rxhealth.co.in?</h2>
      <div class="rx-fusing">
        <div class="item">
          <input ng-model="feedback.source[0]" id="first" name="first" type="checkbox" />
          <label for="first">Came across it on the internet.</label>
        </div>
        <div class="item">
          <input ng-model="feedback.source[1]" id="second" name="second" type="checkbox" />
          <label for="second">Read it in newspapers, magazines, brochures.</label>
        </div>
        <div class="item">
          <input ng-model="feedback.source[2]" id="third" name="third" type="checkbox" />
          <label for="third">Saw it on banners, hoardings, posters.</label>
        </div>
        <div class="item">
          <input ng-model="feedback.source[3]" id="fourth" name="fourth" type="checkbox" />
          <label for="fourth">Heard about it from friends and family.</label>
        </div>
      </div>
    </div>
    <div class="rx-f3 rx-f">
      <h2 class="rx-fheading">Using Rxhealth.co.in is...</h2>
      <div class="rx-fusing-circle">
        <div class="wrap"><div class="circle hard" ng-click="setUsability(0)"><span>hard</span></div></div>
        <div class="wrap"><div class="circle okay" ng-click="setUsability(1)"><span>okay</span></div></div>
        <div class="wrap"><div class="circle easy" ng-click="setUsability(2)"><span>easy</span></div></div>
      </div>
    </div>
    <div class="rx-f4 rx-f">
      <h2 class="rx-fheading">Any features we could improve upon?</h2>
      <div class="rx-fusing">
        <div class="item">
          <input ng-model="feedback.newFeatures[0]" id="one" name="one" type="checkbox" />
          <label for="one">Came across it on the internet.</label>
        </div>
        <div class="item">
          <input ng-model="feedback.newFeatures[1]" id="two" name="two" type="checkbox" />
          <label for="two">Read it in newspapers, magazines, brochures.</label>
        </div>
        <div class="item">
          <input ng-model="feedback.newFeatures[2]" id="three" name="three" type="checkbox" />
          <label for="three">Saw it on banners, hoardings, posters.</label>
        </div>
        <div class="item">
          <input ng-model="feedback.newFeatures[3]" id="four" name="four" type="checkbox" />
          <label for="four">Heard about it from friends and family.</label>
        </div>
        <div class="item">
          <input ng-model="feedback.newFeatures[4]" type="text" class="rx-wf" placeholder="Any other features to improve ..." />
        </div>
      </div>
    </div>
    <div class="rx-f5 rx-f">
      <h2 class="rx-fheading">Anything else, you wanted to share with us.</h2>
      <div class="rx-fusing">
        <div class="item">
          <input ng-model="feedback.emailAddress" type="email" class="rx-wf" placeholder="Enter your email" />
          <textarea ng-model="feedback.comments" name="comments" id="" class="rx-wf" rows="8" placeholder="Any Comments..."></textarea><br/><br/>
          <button class="rx-button rx-wf" ng-click="sendFeedback()">Submit</button>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
