<div left-side-navigation id="rx_ppls_hidden" class="rx-ppls left-side-nav-sticky">
  <div class="rx-pppb rx-personal">
    <h3 class="rx-pppbt">Personal Profile</h3>
    <div class="rx-pppbc">
      <ul class="rx-pppbl">
        <li>{{ patient.first_name }} {{ patient.last_name }}</li>
        <li>{{ patient.dob | date:date }}</li>
        <li>{{ patient.email }}</li>
        <li>{{ patient.primary_phone_no }}</li>
      </ul>
    </div>
  </div>
  <div class="rx-pppb rx-conditions">
    <h3 class="rx-pppbt">Conditions</h3>
    <div class="rx-pppbc">
      <ul class="rx-pppbl">
        <li ng-repeat="condition in conditions">
          {{ condition.name }}
          <span class="rx-pppbl-cs {{condition.status}}">
            <span ng-show="condition.status" class="active">Active</span>
            <span ng-show="!condition.status">Inactive</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="rx-pppb rx-family">
    <h3 class="rx-pppbt">Family Members</h3>
    <div class="rx-pppbc">
      <ul class="rx-pppbg">
        <li><img src="/images/150x150.gif"/></li>
        <li><img src="/images/150x150.gif"/></li>
        <li><img src="/images/150x150.gif"/></li>
        <li><img src="/images/150x150.gif"/></li>
      </ul>
    </div>
  </div>
</div>

<div class="rx-content">

  <div id="rx_ppls" class="rx-ppls"> <!-- left-side-navigation -->
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, similique illum aut culpa ipsum mollitia asperiores placeat esse repudiandae corporis voluptas voluptatem veritatis ex adipisci magni unde ipsam modi corrupti.</p> -->
    <div class="rx-pppb rx-personal">
      <h3 class="rx-pppbt">Personal Profile</h3>
      <div class="rx-pppbc">
        <ul class="rx-pppbl">
          <li>{{ patient.first_name }} {{ patient.last_name }}</li>
          <li>{{ patient.dob | date:date }}</li>
          <li>{{ patient.email }}</li>
          <li>{{ patient.primary_phone_no }}</li>
        </ul>
      </div>
    </div>
    <div class="rx-pppb rx-conditions">
      <h3 class="rx-pppbt">Conditions</h3>
      <div class="rx-pppbc">
        <ul class="rx-pppbl">
          <li ng-repeat="condition in conditions | limitTo:5">
            {{ condition.name }}
            <span class="rx-pppbl-cs {{condition.status}}">
              <span ng-show="condition.status" class="active">Active</span>
              <span ng-show="!condition.status">Inactive</span>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="rx-pppb rx-family">
      <h3 class="rx-pppbt">Family Members</h3>
      <div class="rx-pppbc">
        <ul class="rx-pppbg">
          <li><img src="/images/150x150.gif"/></li>
          <li><img src="/images/150x150.gif"/></li>
          <li><img src="/images/150x150.gif"/></li>
          <li><img src="/images/150x150.gif"/></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div id="rx_pplc">

    <div class="rx-log">
      <div class="rx-health-log">
        <div class="rx-on-date"> <i class="fa fa-calendar"> </i>
          <span>&nbsp;Nov 22, 2013</span>
        </div>
        <div class="rx-by-for">
          <div class="rx-doctor"> <i class="fa fa-user-md"></i>
            <span>&nbsp;Shanu Vyas</span>
          </div>
        </div>
        <p class="rx-description rx-tj">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="rx-log">
      <div class="rx-health-log">
        <div class="rx-on-date"> <i class="fa fa-calendar"></i>
          <span>&nbsp;Nov 22, 2013</span>
        </div>
        <div class="rx-by-for">
          <div class="rx-doctor"> <i class="fa fa-user-md"></i>
            <span>&nbsp;Shanu Vyas</span>
          </div>
        </div>
        <p class="rx-description rx-tj">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, nisi, consequatur, in ut quam laborum id cum odio maxime autem corrupti voluptas delectus debitis dicta vero sequi quos dolorum excepturi.</p>
      </div>
    </div>

  </div>
</div>