
<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_immunization_edit">

    <div id="rx_pp_ced">
      <form name="immunizationForm" class="rx_pp_cef" novalidate>
        <div class="rx-pp-cei-vaccine-type">
          <div class="rx-flabel">
            <label for="vaccine-type">Vaccine Type</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="vaccine-type" id="vaccine_type" ng-model="immunization.vaccine_type" placeholder="Vaccine Type" class="rx-input-text rx-wf" required />
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-cei-doa">
          <div class="rx-flabel">
            <label for="doa">Date of Administration</label>
          </div>
          <div class="rx-finput">
            <input datepicker date="immunization.date_of_administration" type="text" name="doa" ng-model="immunization.date_of_administration" placeholder="Date of Administration" class="rx-input-text rx-wf" required/>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-status">
          <div class="rx-flabel">
            <label for="status">Status</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="status" ng-model="immunization.status" placeholder="Status" class="rx-input-text rx-wf" required/>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-flabel"></div>
        <div class="rx-finput">
        <button ng-disabled="immunizationForm.$invalid" type="submit" class="rx-button" ng-click="updateImmunization()">Update</button></div>
      </form>
    </div>

  </div>

</div>
