<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_immunizations">
    <div id="rx_pp_id">
      <input type="text" ng-model="search" class="rx-input-text input-filter rx-wtf" placeholder="Filter..." />
      <button class="rx-button rx-fr" ng-click="addNewImmunization()">Add New Immunization</button>
      <table class="table table-hover table-striped" id="rx_pp_al">
        <thead>
          <tr>
            <th>Vaccine Type</th>
            <th>Date of Administration</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="immunization in immunizations | filter:search" ng-click="navigateToImmunization(immunization.id)">
            <td><p>{{ immunization.vaccine_type }}</p></td>
            <td><p>{{ immunization.date_of_administration }}</p></td>
            <td><p>{{ immunization.status }}</p></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>