  <div left-side-navigation id="rx_ppls_hidden" class="rx-ppls left-side-nav-sticky">
    <!-- <div class="rx-pppb rx-personal">
      <h3 class="rx-pppbt">Personal Profile</h3>
      <div class="rx-pppbc">
        <ul class="rx-pppbl">
          <li>{{ patient.first_name }} {{ patient.last_name }}</li>
          <li>{{ patient.dob | date:date }}</li>
          <li>{{ patient.email }}</li>
          <li>{{ patient.primary_phone_no }}</li>
        </ul>
      </div>
    </div> -->
    <div class="rx-pppb rx-conditions">
      <h3 class="rx-pppbt">Conditions</h3>
      <div class="rx-pppbc">
        <ul class="rx-pppbl">
          <li ng-repeat="condition in conditions">
            {{ condition.name }}
            <span class="rx-pppbl-cs {{condition.status}}">
              <span ng-show="condition.status" class="active">Active</span>
              <span ng-show="!condition.status">Inactive</span>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="rx-pppb rx-family">
      <h3 class="rx-pppbt">Family Members</h3>
      <div class="rx-pppbc">
        <ul class="rx-pppbg">
          <li><img src="/images/150x150.gif"/></li>
          <li><img src="/images/150x150.gif"/></li>
          <li><img src="/images/150x150.gif"/></li>
          <li><img src="/images/150x150.gif"/></li>
        </ul>
      </div>
    </div>
  </div>

<div class="rx-content">

  <div id="rx_ppls" class="rx-ppls"> <!-- left-side-navigation -->
    <!-- <div class="rx-pppb rx-personal">
      <h3 class="rx-pppbt">Personal Profile</h3>
      <div class="rx-pppbc">
        <ul class="rx-pppbl">
          <li>{{ patient.first_name }} {{ patient.last_name }}</li>
          <li>{{ patient.dob | date:date }}</li>
          <li>{{ patient.email }}</li>
          <li>{{ patient.primary_phone_no }}</li>
        </ul>
      </div>
    </div> -->
    <div class="rx-pppb rx-conditions">
      <h3 class="rx-pppbt">Conditions</h3>
      <div class="rx-pppbc">
        <ul class="rx-pppbl">
          <li ng-repeat="condition in conditions | limitTo:5">
            {{ condition.name }}
            <span class="rx-pppbl-cs {{condition.status}}">
              <span ng-show="condition.status" class="active">Active</span>
              <span ng-show="!condition.status">Inactive</span>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="rx-pppb rx-family">
      <h3 class="rx-pppbt">Family Members</h3>
      <div class="rx-pppbc">
        <ul class="rx-pppbg">
          <li><img src="/images/150x150.gif"/></li>
          <li><img src="/images/150x150.gif"/></li>
          <li><img src="/images/150x150.gif"/></li>
          <li><img src="/images/150x150.gif"/></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div id="rx_pplc">
    
    <div class="rx-article" ng-repeat="article in articles | limitTo:articlesLimit">
      <div class="rx-awrap">
        <div class="rx-ad"><i class="fa fa-calendar-o"></i>&nbsp;&nbsp;{{ article.date | date:date }}</div>
        <div class="rx-at">{{ article.title }}&nbsp;
          <span class="rx-as">
            <a href="{{ article.link }}"><i class="fa fa-external-link"></i></a>
          </span>
        </div>
        <div class="rx-ac">
          <!-- <div class="more-block"> -->
            <!-- <h3>Read More at Sehat.com</h3> -->
            <!-- <p>...</p> -->
          <!-- </div> -->
          <!-- <div ng-repeat="content in article.contents">
            <h2>{{ content.sub_title }}</h2>
            <p ng-show="content.body != ''">{{ content.body }}</p>
          </div> -->
          <div>
            <p>{{ article.summary }}</p>
          </div>
        <div class="rx-ai rx-dn">
          <img src="http://placehold.it/550x150" alt="Article Image" />
        </div>
        </div>
        <div class="rx-arm"><a href="{{article.link}}" target="_blank" class="rx-fr">Read more at {{article.source}} ...</a></div>
        <div class="rx-aa" ng-init="fetchFavLikes(article.id)">
          <a class="{{articlesFavLikes[article.id][0].likes == 1 ? 'rx-active': ''}}" ng-click="useful(article.id)"><i class="fa fa-thumbs-up"></i>&nbsp;<span class="rx-au">Useful</span></a>
          <a class="{{articlesFavLikes[article.id][0].likes == -1 ? 'rx-active': ''}}" ng-click="notUseful(article.id)"><i class="fa fa-thumbs-down"></i>&nbsp;<span class="rx-anu">Not Useful</span></a>
          <a class="{{articlesFavLikes[article.id][0].favourite == true ? 'rx-active': ''}}" ng-click="favourite(article.id)"><i class="fa fa-heart"></i>&nbsp;<span class="rx-anu">Save for future</span></a>
          <!-- <a class="rx-button"><span class="rx-anu">Read...</span></a> -->
        </div>
        <div class="rx-ak">
          <p>
          <!-- Keywords:  -->
          <span class="rx-ak-i" ng-repeat="tag in article.tags">
            <a href="#{{url}}&tags={{tag}}">{{ tag }}</a>&nbsp;<i class="fa fa-tag"></i>
            <!-- <br ng-show="($index === 8)" />
            <br ng-show="($index === 8)" /> -->
          </span>
          <!-- <a href=""><span class="rx-ak-i">Cough&nbsp;<i class="fa fa-tag"></i></span></a> -->
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="rx-article">
      <div class="rx-awrap">
        <div class="rx-ad"><i class="fa fa-calendar-o"></i>&nbsp;15-03-2005</div>
        <div class="rx-at">Malaria and Other Conditions&nbsp;
          <span class="rx-as">
            <a href=""><i class="fa fa-external-link"></i></a>
          </span>
        </div>
        <div class="rx-ac">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, error, animi! Obcaecati, perferendis reiciendis non ipsa esse voluptate eveniet! Explicabo, tenetur iusto rerum ullam enim quidem debitis atque impedit fuga!</p>
          <p>Rem consequatur beatae possimus! Dolor, laudantium, doloribus similique repellendus ab ipsum pariatur modi consequatur culpa esse dignissimos ut ad non omnis nemo eligendi sequi earum ipsam deserunt voluptatum perferendis libero.</p>
        </div>
        <div class="rx-aa">
          <a class="rx-button"><span class="rx-au"><i class="fa fa-thumbs-up"></i>&nbsp;Useful</span></a>
          <a class="rx-button"><span class="rx-anu"><i class="fa fa-thumbs-down"></i>&nbsp;Not Useful</span></a>
          <a class="rx-button"><span class="rx-anu"><i class="fa fa-heart"></i>&nbsp;Save for future</span></a>
          <a class="rx-button"><span class="rx-anu">Read...</span></a>
        </div>
        <div class="rx-ai">
          <img src="http://placehold.it/650x150" alt="Article Image" />
        </div>
        <div class="rx-ak">
          <p>
          Keywords: 
          <span class="rx-ak-i">Conjunction&nbsp;<i class="fa fa-tag"></i></span>
          <span class="rx-ak-i">Ipsum&nbsp;<i class="fa fa-tag"></i></span>
          <span class="rx-ak-i">Programmer&nbsp;<i class="fa fa-tag"></i></span>
          <span class="rx-ak-i">Lorem&nbsp;<i class="fa fa-tag"></i></span>
          </p>
        </div>
      </div>
    </div> -->

    <!-- <div class="rx-log">
      <div class="rx-health-log">
        <div class="rx-on-date"> <i class="fa fa-calendar"> </i><span>&nbsp;Nov 22, 2013</span></div>
        <div class="rx-by-for">
          <div class="rx-doctor">  <i class="fa fa-user-md"></i><span>&nbsp;Shanu Vyas</span></div>
        </div>
        <p class="rx-description rx-tj">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="rx-log">
      <div class="rx-health-log">
        <div class="rx-on-date"> <i class="fa fa-calendar"></i><span>&nbsp;Nov 22, 2013</span></div>
        <div class="rx-by-for">
          <div class="rx-doctor">  <i class="fa fa-user-md"></i><span>&nbsp;Shanu Vyas</span></div>
        </div>
        <p class="rx-description rx-tj">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, nisi, consequatur, in ut quam laborum id cum odio maxime autem corrupti voluptas delectus debitis dicta vero sequi quos dolorum excepturi.</p>
      </div>
    </div> -->

    <div class="rx-article">
      <a ng-click="articlesLimit = articlesLimit + 10"><div class="show-more">
        <h2>SHOW MORE ...</h2>
      </div></a>
    </div>
  </div>

</div>