<div id="rx_select_keywords">
	<div class="rx-skh">
		<h1>Please select some of your favorite keywords to start with ...</h1>
	</div>
	<div class="rx-skc">
		<div class="rx-skc-item-wrap">
			<div class="rx-skc-item" ng-click="toggleKeyword(1,'arthritis')">
				<div class="rx-skc-ii">
					<img src="/images/arthritis.jpg" alt="Hoax" />
				</div>
				<div class="rx-skc-it">
					<span>Arthritis</span>
				</div>
			</div>
		</div>
		<div class="rx-skc-item-wrap">
			<div class="rx-skc-item" ng-click="toggleKeyword(2,'asthma')">
				<div class="rx-skc-ii">
					<img src="/images/asthma.jpg" alt="Hoax" />
				</div>
				<div class="rx-skc-it">
					<span>Asthma</span>
				</div>
			</div>
		</div>
		<div class="rx-skc-item-wrap">
			<div class="rx-skc-item" ng-click="toggleKeyword(3,'back and neck pain')">
				<div class="rx-skc-ii">
					<img src="/images/back_and_neck_pain.jpg" alt="Hoax" />
				</div>
				<div class="rx-skc-it">
					<span>Back and Neck Pain</span>
				</div>
			</div>
		</div>
		<div class="rx-skc-item-wrap">
			<div class="rx-skc-item" ng-click="toggleKeyword(4,'cancer treatment and chemotherapy')">
				<div class="rx-skc-ii">
					<img src="/images/chemotherapy.jpg" alt="Hoax" />
				</div>
				<div class="rx-skc-it">
					<span>Cancer Treatment and Chemotherapy</span>
				</div>
			</div>
		</div>
		<div class="rx-skc-item-wrap">
			<div class="rx-skc-item" ng-click="toggleKeyword(5,'depression')">
				<div class="rx-skc-ii">
					<img src="/images/depression.jpg" alt="Hoax" />
				</div>
				<div class="rx-skc-it">
					<span>Depression</span>
				</div>
			</div>
		</div>
		<div class="rx-skc-item-wrap">
			<div class="rx-skc-item" ng-click="toggleKeyword(6,'fever')">
				<div class="rx-skc-ii">
					<img src="/images/fever.jpg" alt="Hoax" />
				</div>
				<div class="rx-skc-it">
					<span>Fever</span>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="rx-skc-item-wrap">
			<div class="rx-skc-item" ng-click="toggleKeyword(7,'heart attack')">
				<div class="rx-skc-ii">
					<img src="/images/heart_attack.jpg" alt="Hoax" />
				</div>
				<div class="rx-skc-it">
					<span>Heart Attack</span>
				</div>
			</div>
		</div>
		<div class="rx-skc-item-wrap">
			<div class="rx-skc-item" ng-click="toggleKeyword(8,'heartburn')">
				<div class="rx-skc-ii">
					<img src="/images/heartburn.jpg" alt="Hoax" />
				</div>
				<div class="rx-skc-it">
					<span>Heartburn</span>
				</div>
			</div>
		</div>
		<div class="rx-skc-item-wrap">
			<div class="rx-skc-item" ng-click="toggleKeyword(9,'hepatitis a')">
				<div class="rx-skc-ii">
					<img src="/images/hepatitis_A.jpg" alt="Hoax" />
				</div>
				<div class="rx-skc-it">
					<span>Hepatitis A</span>
				</div>
			</div>
		</div>
		<div class="rx-skc-item-wrap">
			<div class="rx-skc-item" ng-click="toggleKeyword(10,'hiv and aids')">
				<div class="rx-skc-ii">
					<img src="/images/hiv_and_aids.jpg" alt="Hoax" />
				</div>
				<div class="rx-skc-it">
					<span>HIV and AIDS</span>
				</div>
			</div>
		</div>
		<div class="rx-skc-item-wrap">
			<div class="rx-skc-item" ng-click="toggleKeyword(11,'kidney stones')">
				<div class="rx-skc-ii">
					<img src="/images/kidney_stones.jpg" alt="Hoax" />
				</div>
				<div class="rx-skc-it">
					<span>Kidney Stones</span>
				</div>
			</div>
		</div>
		<div class="rx-skc-item-wrap">
			<div class="rx-skc-item" ng-click="toggleKeyword(12,'migraine headache')">
				<div class="rx-skc-ii">
					<img src="/images/migraine_headache.jpg" alt="Hoax" />
				</div>
				<div class="rx-skc-it">
					<span>Migraine Headache</span>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="rx-skc-item-wrap">
			<div class="rx-skc-item" ng-click="toggleKeyword(13,'nosebleeds')">
				<div class="rx-skc-ii">
					<img src="/images/nosebleeds.jpg" alt="Hoax" />
				</div>
				<div class="rx-skc-it">
					<span>Nosebleeds</span>
				</div>
			</div>
		</div>
		<div class="rx-skc-item-wrap">
			<div class="rx-skc-item" ng-click="toggleKeyword(14,'sinusitis')">
				<div class="rx-skc-ii">
					<img src="/images/sinusitis.jpg" alt="Hoax" />
				</div>
				<div class="rx-skc-it">
					<span>Sinusitis</span>
				</div>
			</div>
		</div>
		<div class="rx-skc-item-wrap">
			<div class="rx-skc-item" ng-click="toggleKeyword(15,'stroke')">
				<div class="rx-skc-ii">
					<img src="/images/stroke.jpg" alt="Hoax" />
				</div>
				<div class="rx-skc-it">
					<span>Stroke</span>
				</div>
			</div>
		</div>
		<div class="rx-skc-item-wrap">
			<div class="rx-skc-item" ng-click="toggleKeyword(16,'urinary tract infection')">
				<div class="rx-skc-ii">
					<img src="/images/urinary_tract_infection.jpg" alt="Hoax" />
				</div>
				<div class="rx-skc-it">
					<span>Urinary Tract Infection</span>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="rx-proceed">
			<div style="height: 2em;"></div>
			<button class="rx-button-flat rx-wf" ng-click="proceedWithSelection()">Proceed ...</button>
		</div>
	</div>
</div>