<img id="rx_front_image" src="/images/promotional-img-login2.jpg" style="-webkit-transform: translateZ(0);width:100%;position:fixed;height=auto;top:-5em;min-width:1120px;"/>
<div class="rx-page">
  <!-- <div class="rx-background-yoga"> -->
  <div class="rx-signin-box">
    <div style="text-align: center;"><img src="/images/SmallLogo.png" alt="Log In" style="width: 15em; height: 10em;"/></div>

    <form name="signin" novalidate class="rx-patient-form">
      <!-- <label for="email">Email</label> -->
      <input type="email" ng-model="patient.email" placeholder="Email Id" class="rx-input-text l-input" required />

      <!-- <label for="password">Password</label> -->
      <input type="password" ng-model="patient.password" placeholder="Password" class="rx-input-text l-input" required />

      <button ng-disabled="signin.$invalid" ng-click="login(patient)" class="rx-button-flat rx-wf l-button">Login</button>
      <!-- <button ng-click="reset()" class="rx-button">Reset</button> -->
      <a href="#/forgot_password" class="l-a">Forgot Password</a>
    </form>
  </div>
  </div>
</div>