<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_prescription_edit">

    <div id="rx_pp_ped">
      <form name="medicationForm" class="rx_pp_pef" novalidate>
        <div class="rx-pp-pei-name">
          <div class="rx-flabel">
            <label for="name">Medication Name</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="name" id="name" ng-model="medication.medication_name" placeholder="Medication Name" class="rx-input-text rx-wf" required />
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="rx-pp-pei-drug-code">
          <div class="rx-flabel">
            <label for="drug_code">Drug Code</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="drug_code" ng-model="medication.drug_code" placeholder="Drug Code" class="rx-input-text rx-wf" required/>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-pei-drug-type">
          <div class="rx-flabel">
          <label for="drug_type">Drug Type</label></div>

          <div class="rx-finput">
          <input type="text" name="drug_type" ng-model="medication.drug_type" placeholder="Drug Type" class="rx-input-text rx-wf" required /></div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-pei-strength">
          <div class="rx-flabel">
          <label for="strength">Strength</label></div>

          <div class="rx-finput">
          <input type="number" name="strength" ng-model="medication.strength" placeholder="Enter Strength" class="rx-input-text rx-wf" required/></div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-pei-frequency">
          <div class="rx-flabel">
          <label for="frequency">Frequency</label></div>

          <div class="rx-finput">
            <input type="checkbox" id="morning" name="frequency" ng-model="medication.frequency[0]" />
            <label for="morning">Morning</label>
            <input type="checkbox" id="afternoon" name="frequency" ng-model="medication.frequency[1]" />
            <label for="afternoon">Afternoon</label><br/><br/>
            <input type="checkbox" id="evening" name="frequency" ng-model="medication.frequency[2]" />
            <label for="evening">Evening</label>
            <input type="checkbox" id="night" name="frequency" ng-model="medication.frequency[3]" />
            <label for="night">Night</label>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-pei-duration">
          <div class="rx-flabel">
          <label for="duration">Duration</label></div>

          <div class="rx-finput">
          <input type="number" name="duration" ng-model="medication.duration" placeholder="Enter Duration" class="rx-input-text rx-wf" required/></div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-pei-instructions">
          <div class="rx-flabel">
          <label for="instructions">Instructions</label></div>
          
          <div class="rx-finput">
            <textarea name="instructions" ng-model="medication.instructions" placeholder="Note" rows="4" class="rx-input-text rx-wf" required></textarea>
          </div>
          <div class="clearfix"></div>
        </div>
        
        <div class="rx-flabel"></div>
        <div class="rx-finput">
        <button ng-disabled="medicationForm.$invalid" type="submit" class="rx-button" ng-click="saveMedication()">Save</button></div>
      </form>
    </div>

  </div>

</div>
