<div class="rx-nearby-search-bar">
  <div class="rx-tabs">
  	<div class="results {{resultsActive ? 'active': 'inactive'}}"><i class="fa fa-search fa-lg rx-fl"></i><p>Results</p></div>
  	<div class="shortlists {{shortlistsActive ? 'active': 'inactive'}}"><i class="fa fa-star fa-lg rx-fl"></i><p>Shortlists</p></div>
  </div>
  <div class="rx-search">
  	<input id="location_nearby_input" type="text" class="rx-input-text" placeholder="Type a Location" />
		<!-- <button class="rx-button-flat">Filters</button> -->
  </div>
</div>

<div class="rx-nearby">
	<div class="rx-sorts">
		<select class="rx-input-select">
			<option value="">Please specify a sorting order.</option>
			<option value="asc">Ascending</option>
			<option value="desc">Descending</option>
		</select>
	</div>
  <div class="rx-listings">
  	<div class="rx-hbox" ng-repeat="hospital in hospitals">
  		<div class="rx-hbox-item">
        <i class="fa fa-hospital-o fa-2x"></i>
        <div class="rx-hbox-item-name">{{ hospital.fields.name }}</div>
        <div class="rx-hbox-item-address">{{ hospital.fields.address }}</div>
        <div class="clearfix"></div>
        <i class="fa fa-phone-square fa-2x reduce"></i>
        <div class="rx-hbox-item-phone" ng-show="hospital.fields.phone !== 0">{{ hospital.fields.phone }}</div>
        <div class="rx-hbox-item-phone" ng-show="hospital.fields.phone == 0">Not Present</div>
      </div>
    </div>
    <!-- <div class="rx-hbox">
      <div class="rx-hbox-item">
        <i class="fa fa-hospital-o fa-2x"></i>
        <div class="rx-hbox-item-name">Agrasen Orthopaedic Hospital</div>
        <div class="rx-hbox-item-address">C-6, Malviya Nagar, Jaipur, Rajasthan - 302017</div>
        <div class="clearfix"></div>
        <i class="fa fa-phone-square fa-2x reduce"></i>
        <div class="rx-hbox-item-phone">1412522781</div>
      </div>
    </div> -->
  </div>
</div>

<!-- <div class="rx-nearby-box rx-dn">
  <p>This is content box.</p>
</div> -->
