<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_obstetrics">
    <div id="rx_pp_od">
      <input type="text" ng-model="search" class="rx-input-text input-filter rx-wtf" placeholder="Filter..." />
      <button class="rx-button rx-fr" ng-click="addNewObstetric()">Add New Obstetric</button>
      <table class="table table-hover table-striped" id="rx_pp_al">
        <thead>
          <tr>
            <th>LMP</th>
            <th>Cycle Duration</th>
            <th>Gravida Parity</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="obstetric in obstetrics | filter:search" ng-click="navigateToObstetric(obstetric.id)">
            <td><p>{{ obstetric.lmp }}</p></td>
            <td><p>{{ obstetric.cycle_duration }}</p></td>
            <td><p>{{ obstetric.gravida_parity }}</p></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>