<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_obstetric_edit">

    <div id="rx_pp_ced">
      <form name="obstetricForm" class="rx_pp_cef" novalidate>
        <div class="rx-pp-cei-lmp">
          <div class="rx-flabel">
            <label for="lmp">LMP</label>
          </div>
          <div class="rx-finput">
            <input datepicker date="obstetric.lmp" type="text" name="lmp" id="lmp" ng-model="obstetric.lmp" placeholder="LMP" class="rx-input-text rx-wh" required />
          </div>
        </div>

        <div class="rx-pp-cei-cycle-duration">
          <div class="rx-flabel">
            <label for="cycle-duration">Cycle Duration</label>
          </div>
          <div class="rx-finput">
            <input type="number" name="cycle-duration" ng-model="obstetric.cycle_duration" placeholder="Cycle Duration" class="rx-input-text rx-wh" required/>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-aei-gravida-parity">
          <div class="rx-flabel">
            <label for="gravida-parity">Gravida Parity</label>
          </div>
          <div class="rx-finput">
            <input type="number" name="gravida-parity" ng-model="obstetric.gravida_parity" placeholder="Gravida Parity" class="rx-input-text rx-wh" required/>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-flabel"></div>
        <div class="rx-finput">
        <button ng-disabled="obstetricForm.$invalid" type="submit" class="rx-button" ng-click="updateObstetric()">Update</button></div>
      </form>
    </div>

  </div>

</div>
