<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_prescription_edit">

    <div id="rx_pp_ped">
      <form name="prescriptionForm" class="rx_pp_pef" novalidate>
        <div class="rx-pp-pei-name">
          <div class="rx-flabel">
            <label for="name">Medication Name</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="name" id="name" ng-model="prescription.medication_name" placeholder="Prescription Name" class="rx-input-text rx-wh" />
          </div>
        </div>
        <div class="rx-pp-pei-drug-code">
          <div class="rx-flabel">
            <label for="drug_code">Drug Code</label>
          </div>
          <div class="rx-finput">
            <input type="text" name="drug_code" ng-model="prescription.drug_code" placeholder="Drug Code" class="rx-input-text rx-wh" required/>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-pei-drug-identifier">
          <div class="rx-flabel">
          <label for="drug_identifier">Drug Identifier</label></div>

          <div class="rx-finput">
          <input type="text" name="drug_identifier" ng-model="prescription.drug_identifier" placeholder="Drug Identifier" class="rx-input-text rx-wh" required /></div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-pei-strength">
          <div class="rx-flabel">
          <label for="strength">Strength</label></div>

          <div class="rx-finput">
          <input type="strength" name="strength" ng-model="prescription.strength" placeholder="Enter Strength" class="rx-input-text rx-wh" required/></div>
          <div class="clearfix"></div>
        </div>

        <div class="rx-pp-pei-instructions">
          <div class="rx-flabel">
          <label for="instructions">Instructions</label></div>
          
          <div class="rx-finput">
            <textarea name="instructions" ng-model="prescription.instructions" placeholder="Note" rows="4" class="rx-input-text rx-wh" required></textarea>
          </div>
          <div class="clearfix"></div>
        </div>
        
        <div class="rx-flabel"></div>
        <div class="rx-finput">
        <button ng-disabled="prescriptionForm.$invalid" type="submit" class="rx-button">Update</button></div>
      </form>
    </div>

  </div>

</div>
