<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_prescription_edit">

    <div id="rx_pp_ped">
      <input type="text" ng-model="search" class="rx-input-text input-filter rx-wtf" placeholder="Filter..." />
      <button class="rx-button rx-fr" ng-click="addNewMedication()">Add New Medication</button>
      <table class="table table-hover table-striped" id="rx_pp_al">
        <thead>
          <tr>
            <th>Name</th>
            <th>Strength</th>
            <th>Drug Code</th>
            <th>Drug Type</th>
            <th>Frequency</th>
            <th>Duration</th>
            <th>Instructions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="medication in medications | filter:search" ng-click="navigateToMedication(medication.id)">
            <td><p>{{ medication.medication_name }}</p></td>
            <td><p>{{ medication.strength }}</p></td>
            <td><p>{{ medication.drug_code }}</p></td>
            <td><p>{{ medication.drug_type }}</p></td>
            <td><p>
              <!-- <span ng-repeat="v in medication.frequency track by $index">{{ v ? '1-':'0-' }}</span> -->
              <span>{{ medication.frequency[0] ? '1':'0'}}-</span><span>{{ medication.frequency[1] ? '1':'0'}}-</span><span>{{ medication.frequency[2] ? '1':'0'}}-</span><span>{{ medication.frequency[3] ? '1':'0'}}</span>
            </p></td>
            <td><p>{{ medication.duration }}</p></td>
            <td><p>{{ medication.instructions }}</p></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
