<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_prescription">

      
      <!-- <table class="table table-hover table-striped" id="rx_pp_pl">
        <thead>
          <tr>
            <th>Name</th>
            <th>Frequency</th>
            <th>Duration</th>
            <th>Instruction</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="prescription in prescriptions">
            <td>{{ prescription.drug_name }}</td>
            <td>{{ prescription.frequency }}</td>
            <td>{{ prescription.duration }}</td>
            <td>{{ prescription.instruction }}</td>
          </tr>
        </tbody>
      </table> -->
    <input type="text" ng-model="search" class="rx-input-text input-filter rx-wtf" placeholder="Filter..." />
    <button class="rx-button rx-fr" ng-click="addNewPrescription()">Add New Prescription</button>
    <div class="rx-pp-pwrap">
      <div class="rx-pp-pd">
        <div class="rx-pp-pi" ng-repeat="id in appointmentIds" ng-click="showPrescription(id)">
          <div class="rx-pp-pi-ih">
            <img src="/images/prescription-img-fourth.png" alt="Prescription" />
            <h3 class="rx-pp-pi-date">{{ prescriptions[id][0].updated_at | date:'MM-dd-yyyy' }}</h3>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Drug Name</th>
                <th>Strength</th>
                <th>Frequency</th>
                <th>Duration</th>
                <th>Instruction</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="medication in prescriptions[id] | filter:search">
                <td><p>{{ medication.medication_name }}</p></td>
                <td><p>{{ medication.strength }}</p></td>
                <td><p>
                  <!-- <span ng-repeat="v in medication.frequency track by $index">{{ v ? '1-':'0-' }}</span> -->
                  <span>{{ medication.frequency[0] ? '1':'0'}}-</span><span>{{ medication.frequency[1] ? '1':'0'}}-</span><span>{{ medication.frequency[2] ? '1':'0'}}-</span><span>{{ medication.frequency[3] ? '1':'0'}}</span>
                </p></td>
                <td><p>{{ medication.duration }}</p></td>
                <td><p>{{ medication.instructions }}</p></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- <div class="rx-pp-pwrap">
      <div class="rx-pp-pd" ng-repeat="prescription in prescriptions | filter:search">
        <div class="rx-pp-pi">
          <div class="rx-pp-pi-ih">
            <img src="/images/prescription-img-fourth.png" alt="Prescription" />
            <h3 class="rx-pp-pi-date">{{ prescription.updated_at | date:'MM-dd-yyyy h:mm a' }}</h3>
          </div>
          <div class="rx-pp-pi-ic">
            <div class="rx-pp-pi-lc">
              <p>Drug Name</p>
              <p>Frequency</p>
              <p>Duration</p>
              <p>Instruction</p>
            </div>
            <div class="rx-pp-pi-rc">
              <p>{{ prescription.medication_name }}</p>
              <p>{{ prescription.frequency }}</p>
              <p>{{ prescription.duration }}</p>
              <p>{{ prescription.instructions }}</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    
  </div>

</div>
