<div id="rx_dp_pi">
  <div class="rx-colh">
    <div class="rx-colh-i">
      <div class="rx-colh-ih">
        <h2>Basic Info</h2><a href="#/info" class="rx-button rx-profile-eb">Edit</a>
      </div>
      <div class="rx-colh-ic">
        <div id="rx_dp_pi_info" class="rx-profile-ec">
          <table>
            <tbody>
              <tr>
                <td>
                  <label for="name" class="rx-dp-pi-l">Name</label>
                </td>
                <td>
                  <span class="rx-dm">
                    <span class="items">{{ patient.first_name }}</span><span class="items">{{ patient.last_name }}</span>
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="email" class="rx-dp-pi-l">Email</label>
                </td>
                <td>
                  <span class="rx-dm">
                    <span ng-bind="patient.email"></span>
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="gender" class="rx-dp-pi-l">Gender</label>
                </td>
                <td>
                  <span class="rx-dm">
                    <span ng-if="patient.gender">Male</span>
                    <span ng-if="!(patient.gender)">Female</span>
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="dob" class="rx-dp-pi-l">Birthday</label>
                </td>
                <td>
                  <span class="rx-dm">
                    <span ng-bind="patient.dob | date:date"></span>
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="phone" class="rx-dp-pi-l">Phone</label>
                </td>
                <td>
                  <span class="rx-dm">
                    <span ng-bind="patient.primary_phone_no"></span>
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="blood_group" class="rx-dp-pi-l">Blood Group</label>
                </td>
                <td>
                  <span class="rx-dm">
                    <span ng-bind="patient.blood_group"></span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="rx-colh-i">
      <div class="rx-colh-ih">
        <h2 class="rx-fl">Families</h2>
      </div>
      <div class="rx-colh-ic">
        <div class="rx-dp-pi-wi" ng-repeat="family in families">
          <div class="rx-dp-pi-wi-pic">
            <img src="/images/150x150.gif" alt="Family Member" />
          </div>
          <div class="rx-dp-pi-wi-info">
            <div class="rx-dp-pi-wi-name">
              {{ relations[$index].first_name }}&nbsp;{{ relations[$index].last_name }}
            </div>
            <div class="rx-dp-pi-wi-relation">
              {{ family.relation }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rx-colh-i">
      <div class="rx-colh-ih">
        <h2 class="rx-fl">Conditions</h2>
        <a href="#/conditions" class="rx-button rx-fr">View all</a>
      </div>
      <div class="rx-colh-ic">
        <div class="rx-dp-pi-ci" ng-repeat="condition in conditions | orderBy:family.start_date:reverse">
          <div class="rx-dp-pi-ci-name">
            <p>{{ condition.name }}</p>
          </div>
          <div class="rx-dp-pi-ci-note">
            <p>{{ condition.note }}</p>
          </div>
          <div class="rx-dp-pi-ci-status">
            <p ng-show="condition.status">Active</p>
            <p ng-show="!condition.status">Inactive</p>
          </div>
          <div class="rx-dp-pi-ci-start-date">
            <p>({{ condition.start_date | date:date }})<span ng-show="condition.end_date">&nbsp;to&nbsp;({{ condition.end_date | date:date }})</span></p>
          </div>
          <!-- <div class="rx-dp-pi-ci-end-date" ng-show="condition.end_date">
            <p>{{ condition.end_date }}</p>
          </div> -->
          
        </div>

      </div>
    </div>

    <div class="rx-colh-i">
      <div class="rx-colh-ih">
        <h2 class="rx-fl">Allergies</h2><a href="#/allergies" class="rx-button rx-fr">View all</a>
      </div>
      <div class="rx-colh-ic">
        <div class="rx-dp-pi-ai" ng-repeat="allergy in allergies">
          <div class="rx-dp-pi-ai-allergy">
            <p>{{ allergy.allergy }}</p>
            <div class="rx-dp-pi-ai-reaction">
              <p>{{ allergy.reaction }}</p>
            </div>
          </div>
          <div class="rx-dp-pi-ai-note">
            <p>{{ allergy.note }}</p>
          </div>
          <div class="rx-dp-pi-ai-observed">
            <p>({{ allergy.first_observed | date:date }})<span ng-show="allergy.last_observed">&nbsp;to&nbsp;({{ allergy.last_observed | date:date }})</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rx-colh">
    <div class="rx-colh-i">
      <div class="rx-colh-ih">
        <h2 class="rx-fl">Vitals</h2><a href="#/vitals" class="rx-button rx-fr">Edit</a>
      </div>
      <div class="rx-colh-ic">
        <!-- <div vital-chart data="vitals" height="300" width="100%" title="Your Vitals"></div> -->
        <div vital-high-chart data="vitals" height="300" width="100%" title="Your Vitals"></div>
      </div>
    </div>

    <div class="rx-colh-i">
      <div class="rx-colh-ih">
        <h2 class="rx-fl">Prescriptions</h2><a href="#/prescriptions" class="rx-button rx-fr">View all</a>
      </div>
      <div class="rx-colh-ic">
        <div class="rx-dp-pi-pri" ng-repeat="prescription in prescriptions">
          <div class="rx-dp-pi-pri-drug-name">
            <p>{{ prescription.medication_name }}</p>
          </div>
          <div class="rx-dp-pi-pri-frequency">
            <p>Frequency: {{ prescription.frequency[0] === true ? '1':'0' }}-{{ prescription.frequency[1] === true ? '1':'0' }}-{{ prescription.frequency[2] === true ? '1':'0' }}-{{ prescription.frequency[3] === true ? '1':'0' }}</p>
          </div>
          <div class="rx-dp-pi-pri-duration">
            <p>Duration: {{ prescription.duration }}</p>
          </div>
          <div class="rx-dp-pi-pri-instruction">
            <p>{{ prescription.instructions }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
