<div id="rx_dp_pi">
  <div style="height: 2em;"></div>
  <input type="text" class="rx-input-text rx-wf" name="query" ng-model="query" placeholder="Enter your relevant question..." style="font-size: 20px;" />

  <div class="rx-qa">
    <div class="rx-question">
      <h1>In what sense rxhealth.co.in is useful to me ?</h1>
    </div>
    <div class="rx-answer">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, distinctio provident eos id iusto illum sed modi nihil laborum facere magni vitae porro omnis animi odit esse saepe ad nisi.</p>
    </div>
  </div>

  <div class="rx-qa">
    <div class="rx-question">
      <h1>In what sense rxhealth.co.in is useful to me ?</h1>
    </div>
    <div class="rx-answer">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, distinctio provident eos id iusto illum sed modi nihil laborum facere magni vitae porro omnis animi odit esse saepe ad nisi.</p>
    </div>
  </div>
</div>
