  <div left-side-navigation id="rx_ppls_hidden" class="rx-ppls left-side-nav-sticky">
    <!-- <div class="rx-pppb rx-personal">
      <h3 class="rx-pppbt">Personal Profile</h3>
      <div class="rx-pppbc">
        <ul class="rx-pppbl">
          <li>{{ patient.first_name }} {{ patient.last_name }}</li>
          <li>{{ patient.dob | date:date }}</li>
          <li>{{ patient.email }}</li>
          <li>{{ patient.primary_phone_no }}</li>
        </ul>
      </div>
    </div> -->
    <div class="rx-pppb rx-conditions">
      <h3 class="rx-pppbt">Conditions</h3>
      <div class="rx-pppbc">
        <ul class="rx-pppbl">
          <li ng-repeat="condition in conditions">
            {{ condition.name }}
            <span class="rx-pppbl-cs {{condition.status}}">
              <span ng-show="condition.status" class="active">Active</span>
              <span ng-show="!condition.status">Inactive</span>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="rx-pppb rx-family">
      <h3 class="rx-pppbt">Family Members</h3>
      <div class="rx-pppbc">
        <ul class="rx-pppbg">
          <li><img src="/images/150x150.gif"/></li>
          <li><img src="/images/150x150.gif"/></li>
          <li><img src="/images/150x150.gif"/></li>
          <li><img src="/images/150x150.gif"/></li>
        </ul>
      </div>
    </div>
  </div>

<div class="rx-content">

  <div id="rx_ppls" class="rx-ppls"> <!-- left-side-navigation -->
    <!-- <div class="rx-pppb rx-personal">
      <h3 class="rx-pppbt">Personal Profile</h3>
      <div class="rx-pppbc">
        <ul class="rx-pppbl">
          <li>{{ patient.first_name }} {{ patient.last_name }}</li>
          <li>{{ patient.dob | date:date }}</li>
          <li>{{ patient.email }}</li>
          <li>{{ patient.primary_phone_no }}</li>
        </ul>
      </div>
    </div> -->
    <div class="rx-pppb rx-conditions">
      <h3 class="rx-pppbt">Conditions</h3>
      <div class="rx-pppbc">
        <ul class="rx-pppbl">
          <li ng-repeat="condition in conditions">
            {{ condition.name }}
            <span class="rx-pppbl-cs {{condition.status}}">
              <span ng-show="condition.status" class="active">Active</span>
              <span ng-show="!condition.status">Inactive</span>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="rx-pppb rx-family">
      <h3 class="rx-pppbt">Family Members</h3>
      <div class="rx-pppbc">
        <ul class="rx-pppbg">
          <li><img src="/images/150x150.gif"/></li>
          <li><img src="/images/150x150.gif"/></li>
          <li><img src="/images/150x150.gif"/></li>
          <li><img src="/images/150x150.gif"/></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="rx_pplc">
    
    <div class="rx-article" ng-repeat="articleFavLikes in articlesFavLikes | filter:favourites | limitTo:articlesLimit">
      <div class="rx-awrap" ng-init="getArticle(articleFavLikes.article_ref)">
        <div class="rx-ad"><i class="fa fa-calendar-o"></i>&nbsp;&nbsp;{{ articles[articleFavLikes.article_ref].article.date | date:date }}</div>
        <div class="rx-at">{{ articles[articleFavLikes.article_ref].article.title }}&nbsp;
          <span class="rx-as">
            <a href="{{ articles[articleFavLikes.article_ref].article.link }}"><i class="fa fa-external-link"></i></a>
          </span>
        </div>
        <div class="rx-ac">
          <div>
            <p>{{ articles[articleFavLikes.article_ref].article.summary }}</p>
          </div>
        </div>
        <div class="rx-arm"><a href="{{articles[articleFavLikes.article_ref].article.link}}" target="_blank" class="rx-fr">Read more at {{articles[articleFavLikes.article_ref].article.source}} ...</a></div>
        <div class="rx-aa">
          <a class="{{articleFavLikes.likes == 1 ? 'rx-active': ''}}" ng-click="useful(articleFavLikes)"><i class="fa fa-thumbs-up"></i>&nbsp;<span class="rx-au">Useful</span></a>
          <a class="{{articleFavLikes.likes == -1 ? 'rx-active': ''}}" ng-click="notUseful(articleFavLikes)"><i class="fa fa-thumbs-down"></i>&nbsp;<span class="rx-anu">Not Useful</span></a>
          <a class="{{articleFavLikes.favourite == true ? 'rx-active': ''}}" ng-click="favourite(articleFavLikes)"><i class="fa fa-heart"></i>&nbsp;<span class="rx-anu">Save for future</span></a>
          <!-- <a class="rx-button"><span class="rx-anu">Read...</span></a> -->
        </div>
        <div class="rx-ai rx-dn">
          <img src="http://placehold.it/550x150" alt="Article Image" />
        </div>
        <div class="rx-ak rx-dn">
          <p>
          <span class="rx-ak-i" ng-repeat="tag in articles[articleFavLikes.article_ref].article.tags">
            <a href="#/index?tags={{tag}}">{{ tag }}</a>&nbsp;<i class="fa fa-tag"></i>
          </span>
          </p>
        </div>
      </div>
    </div>

    <div class="rx-article">
      <a ng-click="articlesLimit = articlesLimit + 10"><div class="show-more">
        <h2>SHOW MORE ...</h2>
      </div></a>
    </div>
  </div>

</div>