<div class="rx-content">
  <div id="rx_signup_heading">
    <h1>Create your rxhealth account</h1>
  </div>
  <div signup-promotions id="rx_patient_signup_promotions">
    <div class="rx-psp-wrapper">
      <div class="rx-pal">
        <i class="fa fa-arrow-left fa-2x"></i>
      </div>
      <div class="rx-par">
        <i class="fa fa-arrow-right fa-2x"></i>
      </div>
      <p>Patient Promotions Page</p>
    </div>
  </div>
  <div id="rx_patient_signup_form">
    <h2 class="rx-signup-title">Sign Up Form</h2>
    <form name="rxSignup" novalidate class="rx-signup-form">
      <label for="first_name" class="rx-db"></label>
      <input type="text" ng-model="patient.first_name" name="first_name" placeholder="first name" class="rx-input-text rx-wh rx-fl" required />
      <input type="text" ng-model="patient.last_name" name="last_name" placeholder="last name" class="rx-input-text rx-wh" required />
      
      <!-- <label for="username" class="rx-db"></label> -->
      <input type="email" ng-model="patient.email" name="username" placeholder="enter your email" class="rx-input-text" required />
      <div ng-show="alreadyRegistered">Email Already Registered.</div>
      
      <!-- <label for="gender" class="rx-db"></label> -->
      <!-- <input type="text" ng-model="patient.gender" name="gender" placeholder="gender" class="rx-input-text"/> -->
      <div class="rx-sradio" ng-mouseenter="addFocusClass()" ng-mouseleave="removeFocusClass()">
      <div class="rx-srmale">
      <input type="radio" name="gender" id="male" value="true" ng-model="patient.gender" required /> <label for="male">Male</label>
      </div>
      <div class="rx-srfemale">
      <input type="radio" name="gender" id="female" value="false" ng-model="patient.gender" required /> <label for="female">Female</label>
      </div>
      </div>

      <!-- <label for="password" class="rx-db"></label> -->
      <input type="password" ng-model="patient.password" name="password" class="rx-input-text" placeholder="Password" required />
      
      <!-- <label for="confirm_password" class="rx-db"></label> -->
      <input type="password" ng-model="patient.password_confirmation" name="confirm_password" class="rx-input-text" placeholder="Password Confirmation" required pw-check="password" />
      
      <!-- <label for="dob" class="rx-db"></label> -->
      <input type="text" datepicker date="patient.dob" ng-model="patient.dob" name="dob" placeholder="date of birth" class="rx-input-text" />

      <!-- <label for="blood_group" class="rx-db"></label> -->
      <!-- <input type="text" ng-model="patient.blood_group" name="blood_group" placeholder="blood group" class="rx-input-text"/> -->
      <select class="rx-input-select" ng-model="patient.blood_group" ng-options="blood for blood in bloodGroups" required>
        <option value="">Please select a blood group...</option>
      </select>
      
      <!-- <label for="phone" class="rx-db"></label> -->
      <select class="rx-input-select" ng-model="patient.primary_phone_type" ng-options="type for type in phoneTypes" required>
        <option value="">Please select a phone type...</option>
      </select>
      <input type="text" ng-model="patient.primary_phone_no" name="phone" placeholder="phone number" class="rx-input-text" required ng-pattern="/^\d+$/"/>
      
      <!-- <label for="emergency_contact" class="rx-db"></label> -->
      <!-- <input type="text" ng-model="patient.emergency_contact" name="emergency_contact" placeholder="emergency contact" class="rx-input-text"/> -->
      
      <!-- <label for="address" class="rx-db"></label> -->
      <!-- <input type="text" ng-model="patient.address" name="address" placeholder="present address" class="rx-input-text"/>
      <input type="text" ng-model="patient.city" name="city" placeholder="present city" class="rx-input-text rx-wh rx-fl"/>
      <input type="text" ng-model="patient.pincode" name="pincode" placeholder="present pincode" class="rx-input-text rx-wh"/> -->

      <div id="recaptcha_div"></div>
      
      <button ng-disabled="rxSignup.$invalid" ng-click="signup(patient, rxSignup.$valid)" class="rx-button-flat rx-wf">Sign Up</button>

      <div class="signup-form-errors" ng-hide="rxSignup.$pristine || rxSignup.$valid">
        <div class="errors-wrap" ng-show="(rxSignup.first_name.$invalid && !rxSignup.first_name.$pristine) || (rxSignup.last_name.$invalid && !rxSignup.last_name.$pristine)">
          <div class="error" ng-show="rxSignup.first_name.$invalid && !rxSignup.first_name.$pristine">
            <p>First Name is required</p>
          </div>
          <div class="error" ng-show="rxSignup.last_name.$invalid && !rxSignup.last_name.$pristine">
            <p>Last Name is required</p>
          </div>
        </div>

        <div class="errors-wrap" ng-show="rxSignup.username.$invalid && !rxSignup.username.$pristine">
          <div class="error">
            <p>Username should be in email format.</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>