<div class="rx-content">

  <div ng-include src="'/views/partials/_side_nav.html'"></div>

  <div id="rx_pp_vitals">
    <div id="rx_pp_vd">
    	<div class="add-update-vitals">
    		<button class="rx-button rx-fr" ng-click="addUpdateVitals()">Add/Update Vitals</button>
    	</div>
    	<div class="clearfix"></div>
      <!-- <div vital-chart data="vitals" height="300" width="600px" title="Your Vitals"></div> -->
      <div vital-high-chart data="vitals" height="300" width="100%" title="Your Vitals"></div>
    </div>
    <!-- Add Update Vitals HTML -->
	  <div id="rx_add_update_vitals" class="rx-dn" title="Add/Update your Vitals">
	    <form name="vital">
				<div class="rx-row">
					<div class="lcol">
						<label for="systolic_bp">Systolic BP</label>
					</div>
					<div class="rcol">
						<input id="systolic_bp" type="number" placeholder="Your Systolic BP" class="rx-input-text" />
					</div>
				</div>

				<div class="rx-row">
					<div class="lcol">
						<label for="diastolic_bp">Diastolic BP</label>
					</div>
					<div class="rcol">
						<input id="diastolic_bp" type="number" placeholder="Your Diastolic BP" class="rx-input-text" />
					</div>
				</div>

				<div class="rx-row">
					<div class="lcol">
						<label for="pulse_rate">Pulse Rate</label>
					</div>
					<div class="rcol">
						<input id="pulse_rate" type="number" placeholder="Your Pulse Rate" class="rx-input-text" />
					</div>
				</div>

				<div class="rx-row">
					<div class="lcol">
						<label for="temperature">Temperature</label>
					</div>
					<div class="rcol">
						<input id="temperature" type="number" placeholder="Your Temperature" class="rx-input-text" />
					</div>
				</div>

				<div class="rx-row">
					<div class="lcol">
						<label for="temperature_source">Temperature Source</label>
					</div>
					<div class="rcol">
						<input id="temperature_source" type="text" placeholder="Your Temperature Source" class="rx-input-text" />
					</div>
				</div>

				<div class="rx-row">
					<div class="lcol">
						<label for="respiration_rate">Respiration Rate</label>
					</div>
					<div class="rcol">
						<input id="respiration_rate" type="number" placeholder="Your Respiration Rate" class="rx-input-text" />
					</div>
				</div>

				<div class="rx-row">
					<div class="lcol">
						<label for="height">Height</label>
					</div>
					<div class="rcol">
						<input id="height" type="number" placeholder="Your Height" class="rx-input-text" />
					</div>
				</div>

				<div class="rx-row">
					<div class="lcol">
						<label for="weight">Weight</label>
					</div>
					<div class="rcol">
						<input id="weight" type="number" placeholder="Your Weight" class="rx-input-text" />
					</div>
				</div>

				<div class="rx-row">
					<div class="lcol">
						<label for="exam_observations">Exam Observations</label>
					</div>
					<div class="rcol">
						<input id="exam_observations" type="text" placeholder="Your Exam Observations" class="rx-input-text" />
					</div>
				</div>

				<div class="rx-row">
					<div class="lcol">
						<label for="summary">Summary</label>
					</div>
					<div class="rcol">
						<textarea id="summary" placeholder="Your Summary" class="rx-input-text"></textarea>
					</div>
				</div>
	    </form>
	  </div>
  </div>

</div>
